{% load bootstrap3 i18n %}
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ view.meta.verbose_name_plural }}</h4>
      </div>
      <div class="modal-body">
        <form method="get" action="{{ view.request.path }}" class="form form-inline">
          <input type="hidden" name="id" value="{{ view.request.GET.id }}">
          <input type="text" name="q" placeholder="{% trans 'Search' %}" class="form-control"
            value="{{ view.request.GET.q }}">
        </form>
        <div class="list-group">
          {% for object in object_list %}
          <a
            data-id="{{ view.request.GET.id }}"
            data-key="{{ object.pk }}"
            data-pretty="{{ object }}"
            data-toggle="picker" class="list-group-item">
              {{ object }}
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
