{% extends "base.html" %}

{% load bootstrap3 history i18n workbench %}

{% block title %}{{ story }} - {{ story.project }} - {{ block.super }}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">

    <h2><a href="{{ story.project.get_absolute_url }}">
        <small><i class="glyphicon glyphicon-menu-left"></i></small>
        {{ story.project|h }}</a></h2>

    <h1>{{ story|h }} {% history_link story %}</h1>
    <p>{{ story.description|linebreaksbr }}</p>


    <div class="row">
      <div class="col-md-8">
        <h4>{% trans 'required services' %}</h4>
        <table class="table table-striped table-condensed table-linearize">
          <thead>
            <tr>
              <th></th>
              <th class="text-right">{% trans 'offered' %}</th>
              <th class="text-right">{% trans 'planning' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for requiredhours in story.overview.required %}
              <tr>
                <th>{{ requiredhours.service_type }}</th>
                <td class="text-right">{{ requiredhours.offered_effort }}h</td>
                <td class="text-right">{{ requiredhours.planning_effort }}h</td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th class="text-right">{{ story.overview.required_total.offered_effort }}h</th>
              <th class="text-right">{{ story.overview.required_total.planning_effort }}h</th>
            </tr>
          </tfoot>
        </table>
        <h4>{% trans 'rendered services' %}</h4>
        <table class="table table-striped table-condensed table-linearize">
          <tbody>
            {% for renderedhours in story.overview.rendered %}
            <tr>
              <td class="text-right">{{ renderedhours.hours }}h</td>
              <th>{{ renderedhours.name }}</th>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th class="text-right">{{ story.overview.rendered_total.hours }}h</th>
              <th></th>
            </tr>
          </tfoot>
        </table>

        <h4>{% trans 'recent services' %}</h4>
        <table class="table table-striped table-condensed table-linearize">
        {% for rendered in recent_rendered %}
          {% ifchanged rendered.rendered_on %}
            <tr>
              <td colspan="3">{{ rendered.rendered_on|date:'d.m.Y' }}</td>
            </tr>
          {% endifchanged %}
          <tr>
            <th><a href="{{ rendered.urls.detail }}" data-toggle="ajaxmodal">
                {{ rendered }}
            </a></th>
            <td>{{ rendered.rendered_by.get_short_name }}</td>
            <td>{{ rendered.hours }}h</td>
          </tr>
        {% endfor %}
        </table>


        <a href="{{ story.urls.update }}" class="btn btn-default">
          {% trans 'Update' %}
        </a>
        <a href="{{ story.urls.merge }}" class="btn btn-default">
          {% trans 'Merge' %}
        </a>
        <a href="{{ story.urls.delete }}" class="btn btn-danger btn-inverse pull-right">
          {% trans 'Delete' %}
        </a>


      </div>
      <div class="col-md-4">
        <form method="post" action="{{ request.path }}" class="form">
          <h4>{% trans 'rendered service' %}</h4>
          {% csrf_token %}
          {% bootstrap_form form layout='inline' %}
          <button type="submit" class="btn btn-primary">
            {% trans 'create' %}
          </button>
        </form>
      </div>
    </div>

  </div>
</div>

{% endblock %}
