.planning-wrapper {
  --grid-gap: 0.125rem;
  --title-column-width: 16rem;
  --action-width: 3.5rem;
  --range-width: 5rem;
  --hours-total-width: 4.5rem;
  --week-width: 2.2rem;
  --user-width: 2rem;
  --default-height: 1.4rem;
  --range-height: 1.4rem;

  --stripe1: rgba(239, 239, 239, 0.8);
  --stripe2: rgba(241, 241, 255, 0.8);
  --stripe3: #f4f4f4;
  --stripe4: #f9f9f9;

  --planning: #186662;
  --absences: rgba(221, 255, 240, 0.8);
  --milestones: rgba(255, 200, 200, 0.3);
  --external: rgba(240, 173, 78, 0.2);

  min-width: min-content;
  position: relative;
}

.planning {
  display: grid;
  grid-gap: var(--grid-gap);
  min-width: min-content;

  grid-auto-columns: var(--week-width);
  grid-auto-rows: var(--default-height);
  grid-template-columns:
    var(--title-column-width) var(--action-width) var(--range-width)
    var(--hours-total-width) var(--user-width) repeat(var(--weeks), var(--week-width));
  grid-template-rows: 14px 16px 16px repeat(var(--rows), var(--default-height));
  font-size: 14px;
}

.planning--title {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.is-project {
    border-top: 1px solid #ccc;
    background-color: var(--stripe1);

    &.is-closed a {
      color: grey;
    }
  }
  &.is-worked {
    background-color: var(--stripe1);
  }
  &.is-milestone {
    background-color: transparent;
  }
  &.is-external {
    background-color: transparent;
  }
  &.is-offer {
    background-color: var(--stripe2);

    &.is-not-accepted a {
      color: rgba(220, 140, 20, 1);
    }
    &.is-declined a {
      color: rgba(180, 50, 0, 1);
    }
  }
  &.is-project-absence {
    background-color: var(--absences);
  }
}

.planning--small {
  font-size: 90%;
  color: #555;
  line-height: 1.7;
}

.planning--smaller {
  font-size: 70%;
  color: #555;
}

.planning--add-pw {
  display: inline-block;
  font-size: 70%;
  background: var(--primary);
  color: var(--white);
  width: 1.5em;
  text-align: center;
  border-radius: 10px;

  transition: 0.2s;
  transition-property: color background;
}

.planning--stripe1 {
  border-top: 1px solid #ccc;
  background-color: var(--stripe1);
  padding: 10px 0;
}

.planning--stripe2 {
  background-color: var(--stripe2);
}

.planning--stripe3 {
  background-color: var(--stripe3);
}

.planning--stripe4 {
  background-color: var(--stripe4);
}

.planning--this-week {
  background-color: #b0efe6;
}

.planning--absences {
  background-color: var(--absences);
}

.planning--milestones {
  background-color: var(--milestones);
}
.planning--external {
  background-color: var(--external);
}

.planning--range {
  color: var(--white);
  text-align: center;
  padding: 0 3px;
  transition: opacity 0.2s;
  border-radius: 3px;
  position: relative;
  height: var(--range-height);

  &.is-project {
    background-color: var(--indigo);
  }

  &.is-worked {
    background-color: blue;
  }

  &.is-milestone {
    background-color: var(--pink);
  }

  &.is-milestone-graphic {
    width: 0px;
    &::before {
      content: "🌟";
      position: absolute;
      left: -0.25rem;
      bottom: 0;
    }
  }

  &.is-total {
    background-color: var(--purple);
  }

  &.is-capacity {
    background-color: #888;
  }

  &.is-user-capacity {
    background-color: #bbb;
  }

  &.is-pw {
    background-color: var(--teal);
  }

  &.is-absence,
  &.is-project-absence {
    background-color: var(--blue);
  }

  &.is-absence-graphic {
    width: 50%;
    &::before {
      content: "⚠️";
      font-size: 0.5rem;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &.is-pw:hover {
    opacity: 0.7;
  }

  &.is-pw,
  &.is-project-absence {
    span {
      position: absolute;
      color: #666;
      font-size: 85%;
      left: 100%;
      text-align: left;
      text-indent: 4px;
      white-space: nowrap;
    }
  }

  &.is-pw.is-provisional {
    background-image: repeating-linear-gradient(
      125deg,
      var(--st-color, var(--teal)) 0,
      var(--st-color, var(--teal)) 5px,
      #ccc 5px,
      #ccc 8px
    );
  }
}

@media print {
  .no-pr {
    display: none;
  }
}

.no-wrap {
  white-space: nowrap;
}

.description-popup {
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 0;
  background: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 50, 0.3);
  text-align: left;
  min-width: 10rem;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  line-height: 1.3;

  display: none;
  color: var(--dark);
}

.description-popup p {
  margin-bottom: 0.25rem;
  white-space: nowrap;
}

.description-popup a {
  color: var(--primary);
}

.has-description-popup:hover > .description-popup {
  display: block;
}

.planning.external {
  --title-column-width: 25rem;
  --default-height: min-content;

  & .planning--title {
    white-space: initial;
    line-height: 1.1;
    padding: 0.2em 0;
  }
}

@media print {
  html {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }
}

.planning--collapse__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.planning--collapse__icon {
  width: 1rem;
  height: 1rem;
  transform: scale(1.5);
}
