.planning-wrapper {
  --grid-gap: 0.125rem;
  --title-column-width: 16rem;
  --action-width: 1rem;
  --range-width: 5rem;
  --hours-total-width: 4.5rem;
  --week-width: 2rem;
  --default-height: 1.4rem;

  --stripe1: #efefef;
  --stripe2: #f1f1ff;
  --stripe3: #f4f4f4;
  --stripe4: #f9f9f9;

  min-width: min-content;
  position: relative;
}

.planning {
  display: grid;
  grid-gap: var(--grid-gap);
  min-width: min-content;

  grid-auto-columns: var(--week-width);
  grid-auto-rows: var(--default-height);
  grid-template-columns:
    var(--title-column-width) var(--action-width) var(--range-width)
    var(--hours-total-width);
  font-size: 14px;
}

.planning--title {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.is-project {
    border-top: 1px solid #ccc;
    background-color: var(--stripe1);
  }
  &.is-offer {
    background-color: var(--stripe2);
  }
}

.planning--small {
  font-size: 90%;
  color: #555;
  line-height: 1.7;
}

.planning--add-pw {
  display: inline-block;
  font-size: 70%;
  background: var(--primary);
  color: var(--white);
  width: 1.5em;
  text-align: center;
  border-radius: 10px;

  transition: 0.2s;
  transition-property: color background;
}

.planning--stripe1 {
  border-top: 1px solid #ccc;
  background-color: var(--stripe1);
  padding: 10px 0;
}

.planning--stripe2 {
  background-color: var(--stripe2);
}

.planning--stripe3 {
  background-color: var(--stripe3);
}

.planning--stripe4 {
  background-color: var(--stripe4);
}

.planning--range {
  color: var(--white);
  text-align: center;
  padding: 0 3px;
  transition: opacity 0.2s;

  &.is-project {
    background-color: var(--indigo);
  }

  &.is-total {
    background-color: var(--purple);
  }

  &.is-pw {
    background-color: var(--teal);
  }

  &.is-pr {
    background-image: repeating-linear-gradient(
      125deg,
      var(--teal) 0,
      var(--teal) 5px,
      #ccc 5px,
      #ccc 10px
    );
    background-size: 100% 100%;
    background-repeat: repeat;
  }

  &.is-pw:hover,
  &.is-pr:hover {
    opacity: 0.7;
  }
}
