.planning-wrapper {
  --grid-gap: 0.125rem;
  --title-column-width: 20rem;
  --week-width: 2.3rem;
  --default-height: 1.4rem;

  --stripe1: #efefef;
  --stripe2: #f1f1ff;
  --stripe3: #f4f4f4;
  --stripe4: #f9f9f9;

  min-width: min-content;
  position: relative;
}

.planning {
  display: grid;
  grid-gap: var(--grid-gap);
  min-width: min-content;

  grid-auto-columns: var(--week-width);
  grid-auto-rows: var(--default-height);
  grid-template-columns: var(--title-column-width);
}

.planning--title {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #fff;

  &.is-project {
    border-top: 1px solid #ccc;
    background-color: var(--stripe1);
  }
  &.is-offer {
    background-color: var(--stripe2);
  }
}

.planning--small {
  font-size: 85%;
  color: #555;
  line-height: 1.7;
}

.planning--add-pw {
  display: inline-block;
  font-size: 70%;
  background: var(--gray);
  color: var(--white);
  width: 1.5em;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  right: 3px;
  top: 3px;
}

.planning--stripe1 {
  border-top: 1px solid #ccc;
  background-color: var(--stripe1);
  padding: 10px 0;
}

.planning--stripe2 {
  background-color: var(--stripe2);
}

.planning--stripe3 {
  background-color: var(--stripe3);
}

.planning--stripe4 {
  background-color: var(--stripe4);
}
