$spacer: 0.5rem;

$font-size-base: 0.875rem;
$h1-font-size: $font-size-base * 2.1;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.6;
$h4-font-size: $font-size-base * 1.4;
$h5-font-size: $font-size-base * 1.2;
$h6-font-size: $font-size-base;

// $paragraph-margin-bottom: 0.5rem;
//
// $input-btn-padding-y: 0.25rem;
// $input-btn-padding-x: 0.5rem;
//
// $label-margin-bottom: 0.25rem;
// $input-placeholder-color: #999;
// $form-text-margin-top: 0.125rem;
// $form-group-margin-bottom: 0.5rem;
//
// $card-spacer-y: 0.5rem;
// $card-spacer-x: 0.75rem;
// $list-group-item-padding-y: 0.5rem;
// $list-group-item-padding-x: 0.75rem;
//
// $alert-margin-bottom: 0.25rem;

// Cosmo 4.3.1
// Bootswatch

//
// Color system
//

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #2780e3 !default;
$indigo: #6610f2 !default;
$purple: #613d7c !default;
$pink: #e83e8c !default;
$red: #ff0039 !default;
$orange: #f0ad4e !default;
$yellow: #ff7518 !default;
$green: #3fb618 !default;
$teal: #20c997 !default;
$cyan: #9954bb !default;

$primary: $blue !default;
$secondary: $gray-800 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$yiq-contrasted-threshold: 170 !default;

// Options

$enable-rounded: false !default;

// Body

$body-color: $gray-800 !default;

// Links

$link-color: $primary !default;

// Fonts

$font-family-sans-serif: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial,
  sans-serif !default;

$font-size-base: 0.875rem !default;

$headings-font-weight: 400 !default;

// Dropdowns

$dropdown-link-color: $gray-600 !default;
$dropdown-link-hover-color: $dropdown-link-color !default;
$dropdown-link-hover-bg: $gray-200 !default;

$dropdown-link-active-color: $dropdown-link-color !default;
$dropdown-link-active-bg: $dropdown-link-hover-bg !default;

// Navs

$nav-link-padding-x: 0.9rem !default;
$nav-link-disabled-color: $gray-300 !default;

$nav-tabs-border-color: $gray-300 !default;
$nav-tabs-link-hover-border-color: $gray-300 !default;
$nav-tabs-link-active-bg: $white !default;

$nav-pills-link-active-color: $gray-600 !default;
$nav-pills-link-active-bg: $gray-200 !default;

// Navbar

$navbar-dark-color: rgba($white, 0.75) !default;
$navbar-dark-hover-color: rgba($white, 1) !default;

$navbar-light-hover-color: rgba($black, 0.9) !default;
$navbar-light-active-color: rgba($black, 0.9) !default;

// Pagination

$pagination-color: $gray-600 !default;
$pagination-bg: $gray-200 !default;
$pagination-border-color: $gray-300 !default;

$pagination-hover-color: $pagination-color !default;

$pagination-active-color: $pagination-color !default;
$pagination-active-bg: $gray-300 !default;
$pagination-active-border-color: $gray-300 !default;

$pagination-disabled-color: $gray-300 !default;
$pagination-disabled-bg: $gray-200 !default;
$pagination-disabled-border-color: $pagination-border-color !default;

// Cards

$card-border-color: rgba($gray-400, 0.75) !default;
$card-cap-bg: rgba($gray-300, 0.35) !default;

// Popovers

$popover-header-bg: $gray-200 !default;

// Modals

$modal-content-border-color: $gray-300 !default;

$modal-header-border-color: $modal-content-border-color !default;

// Progress bars

$progress-height: 0.5rem !default;
$progress-bg: $gray-300 !default;
$progress-border-radius: 10px !default;
$progress-bar-color: $primary !default;

// List group

$list-group-border-color: $gray-300 !default;

$list-group-hover-bg: $gray-200 !default;
$list-group-active-color: $body-color !default;
$list-group-active-bg: $gray-200 !default;
$list-group-active-border-color: $gray-300 !default;

$list-group-disabled-color: $gray-500 !default;
$list-group-disabled-bg: $white !default;

$list-group-action-color: $list-group-active-color !default;

$list-group-action-active-color: $list-group-active-color !default;
$list-group-action-active-bg: $gray-300 !default;

// Close

$close-text-shadow: none !default;

// Alerts

$alert-border-width: 0 !default;

// END Cosmo

@import "~bootstrap/scss/bootstrap";

.btn {
  fill: currentColor;
}
