beautifulsoup4
coverage[toml]
django-admin-ordering
django-authlib
django-bootstrap4
django-colorfield
django-cors-headers
django-countries
django-debug-toolbar
django-fast-export
django-fineforms
django-slowtests
django-vanilla-views
django-webpack-loader
Django<5.1
factory-boy
gunicorn
lxml
more-itertools
pdfdocument
phonenumbers
Pillow
psycopg2-binary
qrbill
reportlab
speckenv
svglib
time-machine
vobject
xlsxdocument
