coverage==4.5.1
dj-database-url==0.4.2
Django==1.11.10
django-bootstrap3==9.1.0
django-debug-toolbar==1.9.1
django-vanilla-views==1.0.4
factory-boy==2.10.0
Faker==0.8.11
flake8==3.5.0
gunicorn==19.7.1
httplib2==0.10.3
lxml==4.1.1
markdown2==2.3.5
mccabe==0.6.1
oauth2client==4.1.2
pdfdocument==3.2
Pillow==5.0.0
pkg-resources==0.0.0
psycopg2-binary==2.7.4
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.3.1
pyflakes==1.6.0
python-dateutil==2.6.1
pytz==2018.3
reportlab==3.4.0
rsa==3.4.2
six==1.11.0
sqlparse==0.2.4
text-unidecode==1.1
