beautifulsoup4
coverage
Django>=3.1b1
django-admin-ordering
django-authlib
django-bootstrap4
django-cors-headers
django-countries
django-debug-toolbar>=3.0a1
django-fineforms
django-slowtests
django-vanilla-views
django-webpack-loader
dj-database-url
factory-boy
gunicorn
lxml
mailchimp3
pdfdocument
phonenumbers
Pillow
psycopg2-binary
reportlab
speckenv
time-machine
vobject
xlsxdocument
