coverage
Django
django-admin-ordering
django-authlib
django-bootstrap4
django-countries
django-debug-toolbar
django-fineforms
django-vanilla-views
dj-database-url
factory-boy
flake8
gunicorn
lxml
mailchimp3
pdfdocument
Pillow
psycopg2-binary
reportlab
speckenv
xlsxdocument
