{% extends "generic/object_detail.html" %}

{% load i18n workbench %}

{% block content %}
<div class="row justify-content-center">
<div class="col-12">
  <h1>{{ object }} {% history_link object %}</h1>

  <table class="table table-striped">
    <tr>
      <td class="text-right">{% trans 'people'|capfirst %}</td>
      <td>
        {% for person in organization.people.active %}
          <a class="inline" href="{{ person.get_absolute_url }}">{{ person.full_name }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td class="text-right">{{ organization|label:'groups' }}</td>
      <td>
        {% for group in organization.groups.all %}
          <a class="inline" href="{% url 'contacts_organization_list' %}?g={{ group.id }}">{{ group }}</a>{% if not forloop.last %},{% endif %}
        {% empty %}&ndash;
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td class="text-right">{{ object|label:'is_private_person' }}</td>
      <td>{{ organization.is_private_person|yesno:_("yes,no") }}</td>
    </tr>
    <tr>
      <td class="text-right">{{ object|label:'default_billing_address' }}</td>
      <td>{{ organization.default_billing_address|linebreaksbr|default:"&ndash;" }}</td>
    </tr>
    <tr>
      <td class="text-right">{{ object|label:'notes' }}</td>
      <td>{{ organization.notes|urlize|linebreaksbr|default:"&ndash;" }}</td>
    </tr>
  </table>

<a href="{% url 'contacts_person_create' %}?organization={{ object.pk }}" class="btn btn-primary">
  {% include "svg/plus.svg" %}
  {% trans 'person'|capfirst %}
</a>
<a href="{% url 'projects_project_create' %}?customer={{ object.pk }}" class="btn btn-primary">
  {% include "svg/plus.svg" %}
  {% trans 'project'|capfirst %}
</a>
<a href="{% url 'invoices_invoice_create' %}?customer={{ object.pk }}" class="btn btn-primary">
  {% include "svg/plus.svg" %}
  {% trans 'invoice'|capfirst %}
</a>
<a href="{% url 'invoices_invoice_list' %}?org={{ organization.pk }}"
  class="btn btn-primary">{% trans 'invoices'|capfirst %}</a>
<a href="{{ object.urls.update }}" class="btn btn-primary">
  {% trans 'Update' %}</a>
<a href="{{ object.urls.delete }}" class="btn btn-outline-danger float-right">
  {% trans 'Delete or substitute' %}</a>
</div>
</div>

<div class="row mt-5">

  {% if request.user|has_feature:FEATURES.CONTROLLING %}
    <div class="col-md-6 col-lg-3">
      <div class="card mb-3">
        <div class="card-header"><h3 class="my-0">{% trans 'Statistics' %}</h3></div>

        <div class="card-body">
          <table class="table table-sm">
            <tr>
              <th class="text-right">
                <a href="{% url 'offers_offer_list' %}?org={{ object.pk }}&amp;s=all">{% trans 'Offered' %}</a>
              </th>
              <td>{{ object.statistics.offered|currency }}</td>
            </tr>
            <tr>
              <th class="text-right">
                <a href="{% url 'invoices_invoice_list' %}?org={{ object.pk }}">{% trans 'Gross profit' %}</a>
              </th>
              <td>{{ object.statistics.invoiced|currency }}</td>
            </tr>
            <tr>
              <th class="text-right">{% trans 'third party costs'|capfirst %}</th>
              <td>{{ object.statistics.third_party_costs|currency }}</td>
            </tr>
            <tr>
              <th class="text-right">
                <a href="{% url 'logbook_loggedhours_list' %}?organization={{ object.pk }}">{% trans 'logged hours'|capfirst %}</a>
              </th>
              <td>{{ object.statistics.hours|hours }}</td>
            </tr>
            <tr>
              <th class="text-right">{% trans 'Gross margin / hour' %}</th>
              <td>{{ object.statistics.gross_margin_per_hour|currency }}</td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  {% endif %}

  <div class="col-md-6 col-lg-3">
    <div class="card mb-3">
      <div class="card-header"><h3 class="my-0">
        <a href="{% url 'projects_project_list' %}?org={{ organization.pk }}">
          {% trans 'Recent projects' %}
        </a>
      </h3></div>

      <div class="list-group list-group-flush">
        {% for object in organization.recent_projects %}
          <a class="list-group-item list-group-item-action" href="{{ object.get_absolute_url }}">
            {{ object|h }}
            {{ object.status_badge }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

  {% if request.user|has_feature:FEATURES.CONTROLLING %}

    <div class="col-md-6 col-lg-3">
      <div class="card mb-3">
        <div class="card-header"><h3 class="my-0">
          <a href="{% url 'invoices_invoice_list' %}?org={{ organization.pk }}">
            {% trans 'Recent invoices' %}
          </a>
        </h3></div>

        <div class="list-group list-group-flush">
          {% for object in organization.recent_invoices %}
            <a class="list-group-item list-group-item-action" href="{{ object.get_absolute_url }}">
              {{ object|h }}
              {{ object.status_badge }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="card mb-3">
        <div class="card-header"><h3 class="my-0">
          <a href="{% url 'offers_offer_list' %}?org={{ organization.pk }}">
            {% trans 'Recent offers' %}
          </a>
        </h3></div>

        <div class="list-group list-group-flush">
          {% for object in organization.recent_offers %}
            <a class="list-group-item list-group-item-action" href="{{ object.get_absolute_url }}">
              {{ object|h }}
              {{ object.status_badge }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>

  {% endif %}

</div>
{% endblock %}
