{% extends "base.html" %}

{% load history i18n %}

{% block title %}{{ organization }} - {% trans "organizations" %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
  <h1>{{ object }} {% history_link object %}</h1>

  <table class="table table-striped">
    <tr>
      <td class="text-right">{% trans 'organization' %}</td>
      <td>
        {% if person.organization %}
          <a href="{{ person.organization.get_absolute_url }}">
            {{ person.organization }}
          </a>
        {% else %}&ndash;{% endif %}
      </td>
    </tr>
   <tr>
      <td class="text-right">{% trans 'people' %}</td>
      <td>
        {% for person in organization.people.all %}
          <a href="{{ person.urls.detail }}">
            {{ person.full_name }}
          </a>
          <br>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td class="text-right">{% trans 'groups' %}</td>
      <td>
        {% for group in organization.groups.all %}
          <a href="{% url 'contacts_organization_list' %}?g={{ group.id }}">
            {{ group }}
          </a>
          <br>
        {% empty %}&ndash;
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td class="text-right">{% trans 'notes' %}</td>
      <td>
        {{ organization.notes|linebreaksbr|default:"&ndash;" }}
      </td>
    </tr>
  </table>

<a href="{{ object.urls.update }}" class="btn btn-default">
  {% trans 'Update' %}</a>
<a href="{{ object.urls.delete }}" class="btn btn-danger btn-inverse pull-right">
  {% trans 'Delete' %}</a>
</div>
</div>
{% endblock %}
