{% extends "generic/object_list.html" %}

{% load bootstrap3 i18n querystring %}

{% block objects %}
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>{% trans 'organization' %}</th>
      <th>{% trans 'people' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for organization in object_list %}
      <tr>
        <th><a href="{{ organization.urls.detail }}">
            {{ organization }}
        </a></th>
        <td>
          {% for person in organization.people.all %}
            <a class="inline" href="{{ person.get_absolute_url }}">{{ person.full_name }}</a>{% if not forloop.last %},{% endif %}
          {% empty %}&ndash;{% endfor %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">
        {{ paginator.count }} {{ view.meta.verbose_name_plural }}
        {% if view.root_queryset_count != paginator.count %}
        (<a href=".">{% blocktrans with total=view.root_queryset_count %}{{ total }} total{% endblocktrans %}</a>)
        {% endif %}
      </td>
    </tr>
  </tfoot>
</table>
{% endblock %}
