{% extends "generic/object_detail.html" %}

{% load i18n workbench %}

{% block content %}
<div class="row justify-content-center">
<div class="col-md-10 col-lg-8">
  <h1>{{ object }} {% history_link object %}</h1>

  <table class="table table-striped">
    <tr>
      <td class="text-right">{% trans 'people' %}</td>
      <td>
        {% for person in organization.people.all %}
          <a class="inline" href="{{ person.get_absolute_url }}">{{ person.full_name }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td class="text-right">{% trans 'groups' %}</td>
      <td>
        {% for group in organization.groups.all %}
          <a href="{% url 'contacts_organization_list' %}?g={{ group.id }}">{{ group }}</a>{% if not forloop.last %},{% endif %}
        {% empty %}&ndash;
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td class="text-right">{% trans 'notes' %}</td>
      <td>{{ organization.notes|linebreaksbr|default:"&ndash;" }}</td>
    </tr>
  </table>

  <a href="{% url 'invoices_invoice_list' %}?org={{ organization.pk }}"
    class="btn btn-secondary">{% trans 'invoices' %}</a>
<a href="{{ object.urls.update }}" class="btn btn-secondary">
  {% trans 'Update' %}</a>
<a href="{{ object.urls.delete }}" class="btn btn-outline-danger float-right">
  {% trans 'Delete' %}</a>
</div>
</div>
{% endblock %}
