{% extends "tools/object_list.html" %}

{% load bootstrap3 i18n querystring %}

{% block objects %}
<table class="table table-hover table-striped table-linearize">
  <thead>
    <tr>
      <th>{% trans 'person' %}</th>
      <td>{% trans 'email' %}</td>
      <td>{% trans 'phone number' %}</td>
    </tr>
  </thead>
  <tbody>
    {% for person in object_list %}
      <tr>
        <th><a href="{{ person.urls.detail }}">
            {{ person }}
        </a></th>
        <td>
          {% if person.email %}
            <a href="mailto:{{ person.email }}">{{ person.email }}</a>
          {% else %}&ndash;{% endif %}
        </td>
        <td>
          {% if person.phone_number %}
            <a href="tel:{{ person.phone_number }}">{{ person.phone_number }}</a>
          {% else %}&ndash;{% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="3">
        {{ paginator.count }} {{ view.meta.verbose_name_plural }}
        {% if view.root_queryset_count != paginator.count %}
        (<a href=".">{% blocktrans with total=view.root_queryset_count %}{{ total }} total{% endblocktrans %}</a>)
        {% endif %}
      </th>
    </tr>
  </tfoot>
</table>
{% endblock %}
