{% extends "generic/object_form.html" %}

{% load bootstrap4 fineforms formset i18n %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <h1>
      {% if object %}
        {% blocktrans with object=object.full_name %}Update {{ object }}{% endblocktrans %}
      {% else %}
        {% blocktrans with class=view.meta.verbose_name %}Create {{ class }}{% endblocktrans %}
      {% endif %}
    </h1>

    <form method="POST" action="." class="form-horizontal">
      {% csrf_token %}

      {% include 'fineforms/warnings.html' %}
      {% ff_errors form %}
      {% ff_fields form %}

      {% if form.formsets %}
        <h4>{% trans 'phone numbers' %}</h4>
        {% formset form.formsets.phonenumbers "phonenumbers" %}
        <div id="{{ form_id }}" class="card bg-light mb-3">
          <div class="card-body">
            {{ form.id }}
            {% ff_errors form %}
            <div class="row">
              <div class="col-4">{% ff_field form.type %}</div>
              <div class="col-8">{% ff_field form.phone_number %}</div>
            </div>
            {% ff_fields form exclude='type,phone_number' %}
          </div>
        </div>
        {% endformset %}
        <a href="#" class="btn btn-primary"
          onclick="return addInlineForm('phonenumbers')">
          {% include 'svg/plus.svg' %}
        </a>

        <h4 class="mt-5">{% trans 'email addresses' %}</h4>
        {% formset form.formsets.emailaddresses "emailaddresses" %}
        <div id="{{ form_id }}" class="card bg-light mb-3">
          <div class="card-body">
            {{ form.id }}
            {% ff_errors form %}
            <div class="row">
              <div class="col-4">{% ff_field form.type %}</div>
              <div class="col-8">{% ff_field form.email %}</div>
            </div>
            {% ff_fields form exclude='type,email' %}
          </div>
        </div>
        {% endformset %}
        <a href="#" class="btn btn-primary"
          onclick="return addInlineForm('emailaddresses')">
          {% include 'svg/plus.svg' %}
        </a>

        <h4 class="mt-5">{% trans 'postal addresses' %}</h4>
        {% formset form.formsets.postaladdresses "postaladdresses" %}
        <div id="{{ form_id }}" class="card bg-light mb-3">
          <div class="card-body">
            {{ form.id }}
            {% ff_errors form %}
            {% ff_field form.type %}
            <div class="row">
              <div class="col-8">{% ff_field form.street %}</div>
              <div class="col-4">{% ff_field form.house_number %}</div>
            </div>
            {% ff_field form.address_suffix %}
            <div class="row">
              <div class="col-3">{% ff_field form.postal_code %}</div>
              <div class="col-6">{% ff_field form.city %}</div>
              <div class="col-3">{% ff_field form.country %}</div>
            </div>
            {% ff_fields form exclude='type,street,house_number,address_suffix,postal_code,city,country' %}
          </div>
        </div>
        {% endformset %}
        <a href="#" class="btn btn-primary"
          onclick="return addInlineForm('postaladdresses')">
          {% include 'svg/plus.svg' %}
        </a>
      {% endif %}

      <div class="row mt-5">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary">
            {% trans 'Save' %}</button>

          {% if object.get_absolute_url %}
          <a href="{{ object.get_absolute_url }}" class="btn float-right btn-outline-danger">
            {% trans 'cancel' %}</a>
          {% endif %}
        </div>
      </div>
    </form>

  </div>
</div>
{% endblock %}
