{% extends "base.html" %}

{% load bootstrap4 fineforms formset i18n %}

{% block title %}{{ object|default:view.meta.verbose_name_plural }} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>
      {% if object %}
        {% blocktrans with object=object.full_name %}Update {{ object }}{% endblocktrans %}
      {% else %}
        {% blocktrans with class=view.meta.verbose_name %}Create {{ class }}{% endblocktrans %}
      {% endif %}
    </h1>

    <form method="POST" action="." class="form-horizontal">
      {% csrf_token %}
      {% ff_errors form %}
      {% ff_fields form %}

      {% if form.formsets %}
        <div class="row">
          <label class="col-md-3 control-label">
            {% trans 'phone numbers' %}
            <a href="#"
              onclick="return addInlineForm('phonenumbers')">
              {% include 'svg/plus.svg' %}
            </a>
          </label>
          <div class="col-md-9 form-inline fieldset">
            {% formset form.formsets.phonenumbers "phonenumbers" %}
              <div class="row" id="{{ form_id }}">
                <div class="col-md-4">
                  {{ form.id }}
                  {% bootstrap_field form.type layout='inline' %}
                </div>
                <div class="col-md-7">
                  {% bootstrap_field form.phone_number layout='inline' %}
                </div>
                <div class="col-md-1">
                  {{ form.DELETE }}
                </div>
              </div>
            {% endformset %}
          </div>
        </div>

        <div class="row">
          <label class="col-md-3 control-label">
            {% trans 'email addresses' %}
            <a href="#"
              onclick="return addInlineForm('emailaddresses')">
              {% include 'svg/plus.svg' %}
            </a>
          </label>
          <div class="col-md-9 form-inline fieldset">
            {% formset form.formsets.emailaddresses "emailaddresses" %}
              <div class="row" id="{{ form_id }}">
                <div class="col-md-4">
                  {{ form.id }}
                  {% bootstrap_field form.type layout='inline' %}
                </div>
                <div class="col-md-7">
                  {% bootstrap_field form.email layout='inline' %}
                </div>
                <div class="col-md-1">
                  {{ form.DELETE }}
                </div>
              </div>
            {% endformset %}
          </div>
        </div>

        <div class="row">
          <label class="col-md-3 control-label">
            {% trans 'postal addresses' %}
            <a href="#"
              onclick="return addInlineForm('postaladdresses')">
              {% include 'svg/plus.svg' %}
            </a>
          </label>
          <div class="col-md-9 form-inline fieldset">
            {% formset form.formsets.postaladdresses "postaladdresses" %}
              <div class="row" id="{{ form_id }}">
                <div class="col-md-4">
                  {{ form.id }}
                  {% bootstrap_field form.type layout='inline' %}
                </div>
                <div class="col-md-7">
                  {% bootstrap_field form.postal_address layout='inline' %}
                </div>
                <div class="col-md-1">
                  {{ form.DELETE }}
                </div>
              </div>
            {% endformset %}
          </div>
        </div>
      {% endif %}

      <button type="submit" class="btn btn-primary offset-lg-4">
        {% trans 'submit' %}</button>
    </form>

  </div>
</div>
{% endblock %}
