{% extends "generic/object_detail.html" %}

{% load history i18n %}

{% block content %}
<div class="row justify-content-center">
<div class="col-md-10 col-lg-8">
  <h1>{{ person.full_name }} {% history_link person %}</h1>
  <table class="table table-striped">
    <tr>
      <td class="text-right">{% trans 'organization' %}</td>
      <td>
        {% if person.organization %}
          <a href="{{ person.organization.get_absolute_url }}">
            {{ person.organization }}
          </a>
        {% else %}&ndash;{% endif %}
      </td>
    </tr>
    {% for phone in person.phonenumbers.all %}
      <tr>
        <td class="text-right">{{ phone.type }}</td>
        <td><a href="tel:{{ phone.phone_number }}">
          {{ phone.phone_number }}
        </a></td>
      </tr>
    {% endfor %}
    {% for email in person.emailaddresses.all %}
      <tr>
        <td class="text-right">{{ email.type }}</td>
        <td><a href="mailto:{{ email.email }}">
          {{ email.email }}
        </a></td>
      </tr>
    {% endfor %}
    {% for address in person.postaladdresses.all %}
      <tr>
        <td class="text-right">{{ address.type }}</td>
        <td>{{ address.postal_address|linebreaksbr }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td class="text-right">{% trans 'notes' %}</td>
      <td>
        {{ person.notes|linebreaksbr|default:"&ndash;" }}
      </td>
    </tr>
  </table>

<a href="{% url 'invoices_invoice_create' %}?person={{ object.pk }}" class="btn btn-secondary">
  {% include "svg/plus.svg" %}
  {% trans 'invoice' %}
</a>
<a href="{% url 'activities_activity_create' %}?contact={{ object.pk }}" class="btn btn-secondary" data-toggle="ajaxmodal">
  {% include "svg/plus.svg" %}
  {% trans 'activity' %}</a>
<a href="{{ object.urls.update }}" class="btn btn-secondary">
  {% trans 'Update' %}</a>
<a href="{{ object.urls.delete }}" class="btn btn-outline-danger float-right">
  {% trans 'Delete' %}</a>
</div>
</div>
{% endblock %}
