{% extends "generic/object_detail.html" %}

{% load i18n workbench %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-sm-12">
    <h1>{{ person.full_name }} {% history_link person %}</h1>
    {% if person.organization %}
      <h2>{% link_or_none person.organization %}</h2>
    {% endif %}
  </div>

  <div class="col-lg-4">
    {% for phone in person.phonenumbers.all %}
      <strong>{{ phone.type|capfirst }}:</strong><br>
      <a href="tel:{{ phone.phone_number }}">{{ phone.pretty_number }}</a>
      <br>
    {% endfor %}
    {% for email in person.emailaddresses.all %}
    <strong>{{ email.type|capfirst }}:</strong><br>
      <a href="mailto:{{ email.email }}">{{ email.email }}</a>
      <br>
    {% endfor %}
  </div>
  <div class="col-lg-4">
    {% for address in person.postaladdresses.all %}
      <strong>{{ address.type|capfirst }}:</strong><br>
      {{ address.postal_address|linebreaksbr }}
      <br>
    {% endfor %}
  </div>
  <div class="col-lg-4">
    <strong>{{ person|label:'date_of_birth' }}</strong><br>
    {{ person.date_of_birth|local_date_format|default:'&ndash;' }}<br>
    <strong>{{ person|label:'notes' }}</strong><br>
    {{ person.notes|urlize|linebreaksbr|default:'&ndash;' }}
    <br>
    <strong>{{ person|label:'groups' }}</strong><br>
    {% for group in person.groups.all %}
      <a href="{% url 'contacts_person_list' %}?g={{ group.id }}">{{ group }}</a><br>
    {% empty %}&ndash;
    {% endfor %}
  </div>

</div>

<a href="{% url 'invoices_invoice_create' %}?contact={{ object.pk }}" class="btn btn-primary">
  {% include "svg/plus.svg" %}
  {% trans 'invoice'|capfirst %}
</a>
<a href="{{ object.urls.update }}" class="btn btn-primary">
  {% trans 'Update' %}</a>
<a href="{{ object.urls.delete }}" class="btn btn-outline-danger float-right">
  {% trans 'Delete' %}</a>
{% endblock %}
