{% extends "base.html" %}

{% load bootstrap4 fineforms formset i18n %}

{% block title %}{{ object|default:view.meta.verbose_name_plural }} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-8">
    <h1>
      {% if object %}
        {% blocktrans with object=object.full_name %}Update {{ object }}{% endblocktrans %}
      {% else %}
        {% blocktrans with class=view.meta.verbose_name %}Create {{ class }}{% endblocktrans %}
      {% endif %}
    </h1>

    <form method="POST" action="." class="form-horizontal">
      {% csrf_token %}

      {% if form.warnings %}
        <div class="alert alert-warning alert-dismissable">
          <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&#215;</button>
          {% for warning in form.warnings %}
            {{ warning }}<br>
          {% endfor %}

          <br>
          <input type="checkbox" name="ignore_warnings" id="id_ignore_warnings">
          <label for="id_ignore_warnings">{% trans 'Yes, I am sure.' %}</label>
        </div>
      {% endif %}

      {% ff_errors form %}
      {% ff_fields form %}

      {% if form.formsets %}
        <div class="row">
          <div class="col-lg-8 offset-lg-4">
            <h4>{% trans 'phone numbers' %}</h4>
            {% formset form.formsets.phonenumbers "phonenumbers" %}
            <div id="{{ form_id }}" class="mb-1">
              {{ form.id }}
              <div class="input-group">
                {{ form.type }}
                {{ form.phone_number }}
                <div class="input-group-append">
                  <span class="input-group-text bg-warning">
                    {{ form.DELETE }}
                  </span>
                </div>
              </div>
            </div>
            {% endformset %}
            <a href="#" class="btn btn-secondary"
              onclick="return addInlineForm('phonenumbers')">
              {% include 'svg/plus.svg' %}
            </a>

            <h4 class="mt-3">{% trans 'email addresses' %}</h4>
            {% formset form.formsets.emailaddresses "emailaddresses" %}
            <div id="{{ form_id }}" class="mb-1">
              {{ form.id }}
              <div class="input-group">
                {{ form.type }}
                {{ form.email }}
                <div class="input-group-append">
                  <span class="input-group-text bg-warning">
                    {{ form.DELETE }}
                  </span>
                </div>
              </div>
            </div>
            {% endformset %}
            <a href="#" class="btn btn-secondary"
              onclick="return addInlineForm('emailaddresses')">
              {% include 'svg/plus.svg' %}
            </a>

            <h4 class="mt-3">{% trans 'postal addresses' %}</h4>
            {% formset form.formsets.postaladdresses "postaladdresses" %}
            <div id="{{ form_id }}" class="mb-1">
              {{ form.id }}
              {% ff_fields form %}
            </div>
            {% endformset %}
            <a href="#" class="btn btn-secondary"
              onclick="return addInlineForm('postaladdresses')">
              {% include 'svg/plus.svg' %}
            </a>

          </div>
        </div>
      {% endif %}

      <div class="row mt-3">
        <div class="col-lg-8 offset-lg-4">
          <button type="submit" class="btn btn-primary">
            {% trans 'submit' %}</button>
        </div>
      </div>
    </form>

  </div>
</div>
{% endblock %}
