{% extends "generic/object_list.html" %}

{% load bootstrap4 i18n querystring %}

{% block objects %}
<div class="list-group list-group-flush">
  {% for person in object_list %}
  <div class="list-group-item">
    <h5 class="mb-1"><a href="{{ person.urls.detail }}">{{ person.full_name }}</a></h5>
    <div class="row">
      <div class="col-md-5 text-truncate">
        {% if person.organization %}
        <a href="{{ person.organization.urls.detail }}">{{ person.organization }}</a>
        {% endif %}
      </div>
      <div class="col-md-4 text-truncate">
        {% if person.email %}
          <a href="mailto:{{ person.email }}">{{ person.email }}</a>
        {% endif %}
      </div>
      <div class="col-md-3 text-truncate">
        {% if person.phone_number %}
          <a href="tel:{{ person.phone_number }}">{{ person.phone_number }}</a>
        {% endif %}
      </div>
    </div>
    <p class="mb-0">
    </p>
  </div>
  {% endfor %}
</div>

<p>
  {{ paginator.count }} {{ view.meta.verbose_name_plural }}
  {% if view.root_queryset_count != paginator.count %}
  (<a href=".">{% blocktrans with total=view.root_queryset_count %}{{ total }} total{% endblocktrans %}</a>)
  {% endif %}
</p>
{% endblock %}
