{% extends "generic/object_list.html" %}

{% load bootstrap3 calendar i18n querystring %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    {{ block.super }}
  </div>
</div>
{% endblock %}

{% block objects %}
<table class="table table-hover table-striped table-condensed" style="table-layout:fixed;{% if current_app.is_paused %}filter:grayscale(100%){% endif %}">

  {% for start, week in object_list|calendar %}
  {% ifchanged start|date:"mY" %}
    <tr>
      <th>{{ start|date:"F" }}</th>
      <td>Mo</td>
      <td>Di</td>
      <td>Mi</td>
      <td>Do</td>
      <td>Fr</td>
      {# <td>Sa</td> #}
      {# <td>So</td> #}
    </tr>
  {% endifchanged %}
  <tr>
    <td>KW {{ start|date:"W" }}</td>
    {% for day in week %}
    <th>
      {% if day %}
        {% if day.handled_by %}
        <a href="{{ day.urls.detail }}" class="{{ day.css }} {% if day.handled_by == request.user %}text-warning{% endif %}">
            {{ day.day|date:"d" }}
            <span class="hidden-xs">- {{ day.handled_by }}</span>
          </a>
        {% else %}
          <a href="{{ day.urls.update }}" class="{{ day.css }}">{{ day.day|date:"d" }}</a>
        {% endif %}
      {% endif %}
    </th>
    {% endfor %}
  </tr>
  {% endfor %}
  <tfoot>
    <tr>
      <td colspan="6">
        {{ paginator.count }} {{ view.meta.verbose_name_plural }}
        {% if view.root_queryset_count != paginator.count %}
        (<a href=".">{% blocktrans with total=view.root_queryset_count %}{{ total }} total{% endblocktrans %}</a>)
        {% endif %}
      </td>
    </tr>
  </tfoot>
</table>
{% endblock %}
