{% extends "modal.html" %}

{% load i18n workbench %}

{% block title %}
  {{ object|h }}
  {% history_link object %}
{% endblock %}

{% block body %}
  <table class="table table-striped">
    <tr>
      <th class="text-right">{% trans 'project' %}</th>
      <td>{% link_or_none object.project %}</td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'service' %}</th>
      <td>{% link_or_none object.service %}</td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'created' %}</th>
      <td>
        {{ object.created_at|date:'SHORT_DATETIME_FORMAT' }} {% trans 'by' %}
        {{ object.created_by.get_short_name }}
      </td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'rendered' %}</th>
      <td>
        {{ object.rendered_on|date:'SHORT_DATE_FORMAT' }} {% trans 'by' %}
        {{ object.rendered_by.get_short_name }}
      </td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'cost' %}</th>
      <td>
        {{ object.cost|currency }}
        {% if object.third_party_costs %}
          /
          {% if object.are_expenses %}{% trans 'expenses' %}{% else %}{% trans 'third party costs' %}{% endif %}:
          {{ object.third_party_costs|currency }}
          {% if object.expenses_reimbursed_at %}({% trans 'reimbursed' %}){% endif %}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'description' %}</th>
      <td>{{ object.description|linebreaksbr }}</td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'invoicing' %}</th>
      <td>
        {% if object.invoice_service %}{% link_or_none object.invoice_service %}
        {% elif object.archived_at %}
          {% blocktrans with archived_at=object.archived_at|date:'SHORT_DATETIME_FORMAT' trimmed %}
            Archived at {{ archived_at }}
          {% endblocktrans %}
        {% else %}&ndash;
        {% endif %}
      </td>
    </tr>
  </table>
{% endblock %}

{% block footer %}
  <a href="{{ object.urls.update }}" class="btn btn-secondary float-left"
    data-toggle="ajaxmodal">
    {% trans 'Update' %}
  </a>
  <a href="{{ object.urls.delete }}" class="btn btn-outline-danger"
    data-toggle="ajaxmodal"
    >{% trans 'Delete' %}
  </a>
{% endblock %}
