{% extends "modal.html" %}
{% load i18n workbench %}
{% block title %}
  {{ view.meta.verbose_name }}
  {% history_link object %}
{% endblock title %}

{% block body %}
  <table class="table table-striped">
    <tr>
      <th class="text-end">{% translate 'project'|capfirst %}</th>
      <td>{% link_or_none object.service.project %}</td>
    </tr>
    <tr>
      <th class="text-end">{% translate 'service'|capfirst %}</th>
      <td>{% link_or_none object.service %}</td>
    </tr>
    <tr>
      <th class="text-end">{% translate 'created'|capfirst %}</th>
      <td>
        {{ object.created_at|local_date_format }} {% translate 'by' %}
        {{ object.created_by.get_short_name }}
      </td>
    </tr>
    <tr>
      <th class="text-end">{% translate 'rendered'|capfirst %}</th>
      <td>
        {{ object.rendered_on|local_date_format }} {% translate 'by' %}
        {{ object.rendered_by.get_short_name }}
      </td>
    </tr>
    <tr>
      <th class="text-end">{% translate 'hours'|capfirst %}</th>
      <td>{{ object.hours }}h</td>
    </tr>
    <tr>
      <th class="text-end">{% translate 'description'|capfirst %}</th>
      <td>{{ object.description|linebreaksbr }}</td>
    </tr>
    <tr>
      <th class="text-end">{% translate 'invoicing'|capfirst %}</th>
      <td>
        {% if object.invoice_service %}
          {% link_or_none object.invoice_service %}
        {% elif object.archived_at %}
          {% blocktranslate with archived_at=object.archived_at|local_date_format trimmed %}
            Archived at {{ archived_at }}
          {% endblocktranslate %}
        {% else %}
          &ndash;
        {% endif %}
      </td>
    </tr>
  </table>
{% endblock body %}

{% block footer %}
  <a href="{{ object.urls.update }}"
     class="btn btn-primary"
     data-ajaxmodal>{% translate 'Update' %}</a>
  <a href="{{ object.urls.move }}"
     class="btn btn-primary"
     data-ajaxmodal>{% translate 'Move' %}</a>
  <a href="{{ object.service.project.urls.createhours }}?copy={{ object.pk }}"
     class="btn btn-primary me-auto"
     data-ajaxmodal>
    {% translate 'Copy' %}
  </a>
  <a href="{{ object.urls.delete }}"
     class="btn btn-outline-danger"
     data-ajaxmodal>{% translate 'Delete' %}</a>
{% endblock footer %}
