{% extends "generic/object_list.html" %}

{% load bootstrap3 i18n querystring workbench %}

{% block objects %}

<table class="table table-hover table-striped table-linearize">
  <thead>
    <tr>
      <th>{% trans 'created' %}</th>
      <th>{% trans 'service' %}</th>
      <th>{% trans 'rendered' %}</th>
      <th>{% trans 'description' %}</th>
      <th class="text-right">{% trans 'hours' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for day, sum, instances in object_list|select_related:'service__offer__project,rendered_by'|group_hours_by_day %}
      <tr>
        <td colspan="4"><strong>{{ day|date:'d.m.Y' }}</strong></td>
        <td class="text-right"><strong>{{ sum }}h</strong></td>
      </tr>
      {% for hours in instances %}
        <tr>
          <td>{{ hours.created_at|date:'H:i' }}</td>
          <td>
            <a href="{{ hours.service.get_absolute_url }}">
              {{ hours.service.offer.project }}:<br>
              {{ hours.service }}
            </a>
          </td>
          <td>{{ hours.rendered_by.get_short_name }}</td>
          <th>
            <a href="{{ hours.urls.detail }}" data-toggle="ajaxmodal">
              {{ hours.description }}
            </a>
          </td>
          <td class="text-right">{{ hours.hours }}h</td>
        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        {{ paginator.count }} {{ view.meta.verbose_name_plural }}
        {% if view.root_queryset_count != paginator.count %}
        (<a href=".">{% blocktrans with total=view.root_queryset_count %}{{ total }} total{% endblocktrans %}</a>)
        {% endif %}
      </td>
    </tr>
  </tfoot>
</table>

{% endblock %}
