{% extends "modal.html" %}

{% load i18n workbench %}

{% block title %}
  {{ view.meta.verbose_name }}
  {% history_link object %}
{% endblock %}

{% block body %}
  <table class="table table-striped">
    <tr>
      <th class="text-right">{% trans 'project' %}</th>
      <td>{% link_or_none object.service.project %}</td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'service' %}</th>
      <td>{% link_or_none object.service %}</td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'created' %}</th>
      <td>
        {{ object.created_at|local_date_format }} {% trans 'by' %}
        {{ object.created_by.get_short_name }}
      </td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'rendered' %}</th>
      <td>
        {{ object.rendered_on|local_date_format }} {% trans 'by' %}
        {{ object.rendered_by.get_short_name }}
      </td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'hours' %}</th>
      <td>{{ object.hours }}h</td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'description' %}</th>
      <td>{{ object.description|linebreaksbr }}</td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'invoicing' %}</th>
      <td>
        {% if object.invoice_service %}{% link_or_none object.invoice_service %}
        {% elif object.archived_at %}
          {% blocktrans with archived_at=object.archived_at|local_date_format trimmed %}
            Archived at {{ archived_at }}
          {% endblocktrans %}
        {% else %}&ndash;
        {% endif %}
      </td>
    </tr>
  </table>
{% endblock %}

{% block footer %}
  <a href="{{ object.urls.update }}" class="btn btn-primary"
    data-toggle="ajaxmodal">
    {% trans 'Update' %}
  </a>
  <a href="{{ object.service.project.urls.createhours }}?copy={{ object.pk }}" class="btn btn-primary mr-auto"
    data-toggle="ajaxmodal">
    {% trans 'Copy' %}
  </a>
  <a href="{{ object.urls.delete }}" class="btn btn-outline-danger"
    data-toggle="ajaxmodal"
    >{% trans 'Delete' %}
  </a>
{% endblock %}
