{% extends "modalform.html" %}
{% load fineforms i18n %}
{% block title %}
  {% if view.project %}
    {{ view.project.title }}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock title %}

{% block body %}
  {% include 'fineforms/warnings.html' %}
  {% ff_errors form %}
  <div class="row">
    <div class="col-6">{% ff_field form.rendered_by %}</div>
    <div class="col-6">{% ff_field form.rendered_on %}</div>
  </div>
  {% ff_field form.service %}
  {% if form.are_expenses %}
    {% ff_field form.are_expenses %}
  {% endif %}
  {% if form.expense_currency %}
    <div class="row align-items-end {% if not form.instance.expense_cost %}d-none{% endif %}" id="foreign-currency">
      <div class="col-3">{% ff_field form.expense_currency %}</div>
      <div class="col-6">{% ff_field form.expense_cost %}</div>
      <div class="col-3" style="margin-bottom:0.5rem">
        <button type="button" class="btn btn-primary" data-convert>{% translate 'convert' %}</button>
      </div>
    </div>
  {% endif %}
  {% ff_field form.third_party_costs %}
  {% ff_field form.cost %}
  {% ff_field form.description %}
{% endblock body %}

{% block footer %}
  {% if form.expense_currency and not form.instance.expense_cost %}
    <button type="button" class="btn btn-primary me-auto" data-foreign-currency>
      {% translate 'expenses in foreign currency' %}
    </button>
  {% endif %}
  <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>
{% endblock footer %}
