{% extends "modalform.html" %}

{% load fineforms i18n workbench %}

{% block title %}
  {% if view.project %}
    {{ view.project.title }}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock title %}

{% block body %}
  {% include 'fineforms/warnings.html' %}
  {% ff_errors form %}
  {% if form.service_title %}
    <div class="{% if form.hide_new_service %}
                  d-none
                {% endif %}"
         id="new-service">
      <h5>{% translate 'new service' %}</h5>
      {% ff_field form.service_title %}
      {% ff_field form.service_description %}
      {% if form.service_type %}
        {% ff_field form.service_type %}
      {% endif %}
      <hr>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-6">{% ff_field form.rendered_by %}</div>
    <div class="col-6">{% ff_field form.rendered_on %}</div>
  </div>
  <div data-service-progress class="mb-3">
    {% ff_field form.service %}
    <div class="d-flex gap-3 w-100 align-items-center">
      <div class="progress progress-line flex-grow-1">
        <div class="progress-bar bg-success" role="progressbar"></div>
        <div class="progress-bar bg-caveat" role="progressbar"></div>
        <div class="progress-bar bg-danger" role="progressbar"></div>
      </div>
      <small data-numbers class="d-inline-block text-end" style="width:15ch"></small>
    </div>
    {{ form.progress_on_selectable_services|json_script }}
  </div>

  {% ff_field form.hours %}
  {% ff_field form.description %}
{% endblock body %}

{% block footer %}
  {% if form.service_title and form.hide_new_service %}
    <button type="button"
            class="btn btn-primary me-auto"
            data-new-service>
      {% translate 'new service' %}
    </button>
  {% endif %}
  <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>
{% endblock footer %}
