{% extends "generic/object_list.html" %}

{% load bootstrap4 i18n workbench %}

{% block title %}{{ view.meta.verbose_name_plural }} - {{ block.super }}{% endblock %}

{% block search-form-buttons %}
  <a href="{{ view.model.urls.create }}" class="btn btn-secondary"
    data-toggle="ajaxmodal">
    {% include "svg/plus.svg" %}
    {{ view.meta.verbose_name }}
  </a>
{% endblock %}

{% block objects %}
<div class="list-group list-group-flush">
  {% for object in object_list %}
  <div class="list-group-item px-0">
    <span style="float:right" class="badge badge-{{ object.status_css }}">{{ object.pretty_status }}</span>
    <h5 class="mb-1">
      <a href="{{ object.get_absolute_url }}" data-toggle="ajaxmodal">{{ object|h }}</a>
    </h5>
    <div class="d-flex w-100 justify-content-between">
      <p>
        {% for c in object.context %}
          <a href="{{ c.get_absolute_url }}">{{ c }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </p>
      <p>{{ object.owned_by }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
