{% extends "modal.html" %}

{% load i18n %}

{% block title %}{{ activity }}{% endblock %}

{% block body %}
<table class="table table-condensed">
  <tr>
    <th class="text-right">{% trans 'owned by' %}</th>
    <td>{{ object.owned_by.get_full_name }}</td>
  </tr>
  <tr>
    <th class="text-right">{% trans 'status' %}</th>
    <td>{{ object.pretty_status }}</td>
  </tr>
  <tr>
    <th class="text-right">{% trans 'context' %}</th>
    <td>
      {% for ctx in object.context %}
        {{ ctx.snippet }}
      {% endfor %}
    </td>
  </tr>
</table>
{% endblock %}

{% block footer %}
  <a href="{{ object.urls.update }}" data-toggle="ajaxmodal" class="btn btn-default pull-left">
    {% trans 'Update' %}
  </a>
{% endblock %}
