{% extends "generic/object_list.html" %}

{% load bootstrap4 i18n querystring workbench %}

{% block title %}{{ view.meta.verbose_name_plural }} - {{ block.super }}{% endblock %}

{% block search-form-buttons %}
  <a href="{{ view.model.urls.create }}" class="btn btn-secondary"
    data-toggle="ajaxmodal">
    {% include "svg/plus.svg" %}
    {{ view.meta.verbose_name }}
  </a>
{% endblock %}

{% block objects %}
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>{{ view.meta.verbose_name }}</th>
      <th>{% trans 'context' %}</th>
      <th>{% trans 'owned by' %}</th>
      <th>{% trans 'status' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}
      <tr>
        <th><a href="{{ object.urls.detail }}" data-toggle="ajaxmodal">
            {{ object }}
        </a></th>
        <td>
          {% for c in object.context %}
            {{ c.snippet }}
          {% endfor %}
        </td>
        <td>{{ object.owned_by.get_full_name }}</td>
        <td>{{ object.pretty_status }}</td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        {{ paginator.count }} {{ view.meta.verbose_name_plural }}
        {% if view.root_queryset_count != paginator.count %}
        (<a href=".">{% blocktrans with total=view.root_queryset_count %}{{ total }} total{% endblocktrans %}</a>)
        {% endif %}
      </td>
    </tr>
  </tfoot>
</table>
{% endblock %}
