{% extends "generic/object_list.html" %}

{% load bootstrap4 i18n mark_current workbench %}

{% block content-title %}
<h1>
  {% trans 'projects'|capfirst %}
  <small>
    <a {% if request.path == "/projects/" %}class="active"{% endif %} href="{% url 'projects_project_list' %}">{% trans 'projects'|capfirst %}</a>
    {% mark_current request.path %}
    {% if request.user|has_feature:FEATURES.CONTROLLING %}
      <a href="{% url 'offers_offer_list' %}">{% trans 'offers'|capfirst %}</a>
    {% endif %}
    {% if request.user|has_feature:FEATURES.CAMPAIGNS %}
      <a href="{% url 'projects_campaign_list' %}">{% trans 'campaigns'|capfirst %}</a>
    {% endif %}
    {% endmark_current %}
  </small>
</h1>
{% endblock %}

