{% extends "generic/object_list.html" %}
{% load bootstrap4 i18n mark_current workbench %}
{% block content-title %}
  <h1>
    {% translate 'projects'|capfirst %}
    <small>
      <a {% if request.path == "/projects/" %}class="active"{% endif %}
         href="{% url 'projects_project_list' %}">
        {% translate 'projects'|capfirst %}
      </a>
      {% mark_current request.path %}
      {% if request.user.features.CONTROLLING %}
        <a href="{% url 'offers_offer_list' %}">{% translate 'offers'|capfirst %}</a>
      {% endif %}
      {% if request.user.features.CAMPAIGNS %}
        <a href="{% url 'projects_campaign_list' %}">{% translate 'campaigns'|capfirst %}</a>
      {% endif %}
    {% endmark_current %}
  </small>
</h1>
{% endblock %}
