{% extends "projects/project_detail.html" %}

{% load bootstrap4 history i18n querystring workbench %}

{% block title %}{% trans 'services' %} - {{ block.super }}{% endblock %}

{% block project-content %}
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-8">

    <table class="table table-striped">
      <tr>
        <th class="text-right">{% trans 'description' %}</th>
        <td>{{ project.description|linebreaksbr|default:'&ndash;' }}</td>
      </tr>
      <tr>
        <th class="text-right">
          {% trans 'Overall' %}
        </th>
        <td>
          {% with overview=project.overview %}
          {{ overview.logged }}h / {{ overview.effort }}h
          {% endwith %}
        </td>
      </tr>
      <tr>
        <th class="text-right">{% trans 'customer' %}</th>
        <td>{% link_or_none project.customer %}</td>
      </tr>
      <tr>
        <th class="text-right">{% trans 'contact' %}</th>
        <td>{% link_or_none project.contact project.contact.full_name %}</td>
      </tr>
      <tr>
        <th class="text-right">{% trans 'owned by' %}</th>
        <td>{{ project.owned_by.get_full_name }}</td>
      </tr>
      <tr>
        <th class="text-right">{% trans 'status' %}</th>
        <td><span class="badge badge-{{ object.status_css }}">
          {{ object.pretty_status }}
        </span></td>
      </tr>
      <tr>
        <th class="text-right">{% trans 'offers' %}</th>
        {% with offers=project.offers.all %}
        {% if offers %}
          <td class="nopad">
            <table class="table">
              <thead>
                <tr>
                  <th>{% trans 'offer' %}</th>
                  <th>{% trans 'status' %}</th>
                  <th class="text-right">{% trans 'total excl. tax' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for offer in offers %}
                  <tr>
                    <th><a href="{{ offer.get_absolute_url }}">{{ offer }}</a></th>
                    <td>
                      <span class="badge badge-{{ offer.status_css }}">{{ offer.pretty_status }}</span>
                    </td>
                    <td class="text-right">{{ offer.total_excl_tax|currency }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </td>
        {% else %}<td>&ndash;</td>{% endif %}
        {% endwith %}
      </tr>
      <tr>
        <th class="text-right">{% trans 'invoices' %}</th>
        {% with invoices=project.invoices.all %}
        {% if invoices %}
          <td class="nopad">
            <table class="table">
              <thead>
                <tr>
                  <th>{% trans 'invoice' %}</th>
                  <th>{% trans 'type' %}</th>
                  <th>{% trans 'status' %}</th>
                  <th class="text-right">{% trans 'total excl. tax' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for invoice in invoices %}
                  <tr>
                    <th><a href="{{ invoice.get_absolute_url }}">{{ invoice|h }}</a></th>
                    <td>{{ invoice.get_type_display }}</td>
                    <td>
                      <span class="badge badge-{{ invoice.status_css }}">{{ invoice.pretty_status }}</span>
                    </td>
                    <td class="text-right">{{ invoice.total_excl_tax|currency }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </td>
        {% else %}<td>&ndash;</td>{% endif %}
        {% endwith %}
      </tr>
    </table>

    <a href="{{ project.urls.createinvoice }}" class="btn btn-secondary">
      {% include "svg/plus.svg" %}
      {% trans 'invoice' %}</a>
    <a href="{{ project.urls.createhours }}" class="btn btn-secondary" data-toggle="ajaxmodal" data-createhours>
      {% include "svg/plus.svg" %}
      {% trans 'hours' %}</a>
    <a href="{{ project.urls.update }}" class="btn btn-secondary">
      {% trans 'Update' %}</a>
    <a href="{{ project.urls.delete }}" class="btn btn-outline-danger float-right">
      {% trans 'Delete' %}</a>
  </div>
</div>
{% endblock %}
