{% extends 'modal.html' %}

{% load bootstrap4 i18n workbench %}

{% block size %}modal-xl{% endblock %}

{% block title %}{% trans 'statistics' %}{% endblock %}

{% block body %}

<h2>{% trans 'logged hours per effort rate' %}</h2>
<table>
{% for rate, hours in object.grouped_services.logged_hours_per_effort_rate %}
<tr {% if rate is None %}class="text-warning"{% endif %}>
  <td class="text-right">{{ hours|hours }} &nbsp;</td>
  <td>
    {% if rate is None %}{% trans 'undefined rate' %}
    {% else %}{{ rate|currency }}/h
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>

<h2>{% trans 'logged hours per user' %}</h2>

<table class="table table-sm table-responsive">
  <tr>
    <th></th>
    <th></th>
    {% for user, hours in object.grouped_services.logged_hours_per_user %}
      <th class="text-right">{{ user.get_short_name }}</th>
    {% endfor %}
  </tr>
  <tr>
    <th></th>
    <th class="text-right">
      <a href="{% url 'logbook_loggedhours_list' %}?project={{ object.pk }}">
        {{ object.grouped_services.logged_hours|hours }}
      </a>
    </th>
    {% for user, hours in object.grouped_services.logged_hours_per_user %}
      <th class="text-right">
        <a href="{% url 'logbook_loggedhours_list' %}?project={{ object.pk }}&amp;rendered_by={{ user.pk }}">
          {{ hours|hours }}
        </a>
      </th>
    {% endfor %}
  </tr>
  {% for offer, services in object.grouped_services.offers %}
    {% for row in services %}
      <tr>
        <th>{{ row.service.title }}</th>
        <th class="text-right">
          <a href="{% url 'logbook_loggedhours_list' %}?service={{ row.service.pk }}">
            {{ row.logged_hours|hours }}
          </a>
        </th>
        {% project_statistics_row object.grouped_services.logged_hours_per_user row.logged_hours_per_user as user_row %}
        {% for user, hours in user_row %}
          <td class="text-right">
            {% if hours %}
            <a href="{% url 'logbook_loggedhours_list' %}?service={{ row.service.pk }}&amp;rendered_by={{ user.pk }}">
              {{ hours|hours }}
            </a>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  {% endfor %}
</table>
{% endblock %}
