{% extends "projects/project_detail.html" %}

{% load bootstrap4 i18n workbench %}

{% block title %}{% trans 'overview' %} - {{ block.super }}{% endblock %}

{% block project-content %}
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-8">

    <table class="table table-striped">
      <tr>
        <th class="text-right">{% trans 'description' %}</th>
        <td>{{ project.description|linebreaksbr|default:'&ndash;' }}</td>
      </tr>
      <tr>
        <th class="text-right">
          {% trans 'Overall' %}
        </th>
        <td>
          <a href="{% url 'logbook_loggedhours_list' %}?project={{ project.pk }}" class="inline" target="_blank">
            {{ project.overview.logged }}h
          </a> / {{ project.overview.effort }}h
          {% bar project.overview.logged project.overview.effort %}
        </td>
      </tr>
      <tr>
        <th class="text-right">{% trans 'customer' %}</th>
        <td>{% link_or_none project.customer %}</td>
      </tr>
      <tr>
        <th class="text-right">{% trans 'contact' %}</th>
        <td>{% link_or_none project.contact project.contact.full_name %}</td>
      </tr>
      <tr>
        <th class="text-right">{% trans 'owned by' %}</th>
        <td>{{ project.owned_by.get_full_name }}</td>
      </tr>
      <tr>
        <th class="text-right">{% trans 'status' %}</th>
        <td><span class="badge badge-{{ object.status_css }}">
          {{ object.pretty_status }}
        </span></td>
      </tr>
      <tr>
        <th class="text-right">{% trans 'offers' %}</th>
        {% with offers=project.offers.all %}
        {% if offers %}
          <td class="nopad">
            <table class="table">
              <thead>
                <tr>
                  <th>{% trans 'offer' %}</th>
                  <th>{% trans 'status' %}</th>
                  <th class="text-right">{% trans 'total excl. tax' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for offer in offers %}
                  <tr>
                    <th><a href="{{ offer.get_absolute_url }}">{{ offer }}</a></th>
                    <td>
                      <span class="badge badge-{{ offer.status_css }}">{{ offer.pretty_status }}</span>
                    </td>
                    <td class="text-right">{{ offer.total_excl_tax|currency }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </td>
        {% else %}<td>&ndash;</td>{% endif %}
        {% endwith %}
      </tr>
      <tr>
        <th class="text-right">{% trans 'invoices' %}</th>
        {% with invoices=project.invoices.all %}
        {% if invoices %}
          <td class="nopad">
            <table class="table">
              <thead>
                <tr>
                  <th>{% trans 'invoice' %}</th>
                  <th>{% trans 'type' %}</th>
                  <th>{% trans 'status' %}</th>
                  <th class="text-right">{% trans 'total excl. tax' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for invoice in invoices %}
                  <tr>
                    <th><a href="{{ invoice.get_absolute_url }}">{{ invoice|h }}</a></th>
                    <td>{{ invoice.get_type_display }}</td>
                    <td>
                      <span class="badge badge-{{ invoice.status_css }}">{{ invoice.pretty_status }}</span>
                    </td>
                    <td class="text-right">{{ invoice.total_excl_tax|currency }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </td>
        {% else %}<td>&ndash;</td>{% endif %}
        {% endwith %}
      </tr>
    </table>

    <span class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button"
        id="invoice-dropdown-button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {% include "svg/plus.svg" %}
        {% trans 'invoice' %}</a>
      </button>
      <div class="dropdown-menu" aria-labelledby="invoice-dropdown-button">
        <a class="dropdown-item" href="{{ project.urls.createinvoice }}?type=fixed">{% trans 'Fixed amount' %}</a>
        <a class="dropdown-item" href="{{ project.urls.createinvoice }}?type=down-payment">{% trans 'Down payment' %}</a>
        <a class="dropdown-item" href="{{ project.urls.createinvoice }}?type=services&amp;source=logbook">{% trans 'Services from logbook' %}</a>
        <a class="dropdown-item" href="{{ project.urls.createinvoice }}?type=services&amp;source=offer">{% trans 'Services from offer' %}</a>
      </div>
    </span>

    <a href="{{ project.urls.createhours }}" class="btn btn-secondary" data-toggle="ajaxmodal" data-createhours>
      {% include "svg/plus.svg" %}
      {% trans 'hours' %}</a>
    <a href="{{ project.urls.createcost }}" class="btn btn-secondary" data-toggle="ajaxmodal">
      {% include "svg/plus.svg" %}
      {% trans 'cost' %}</a>
    <a href="{{ project.urls.update }}" class="btn btn-secondary">
      {% trans 'Update' %}</a>
    <a href="{{ object.urls.create }}?copy_project={{ object.pk }}" class="btn btn-secondary">
      {% trans 'Copy' %}
    </a>
    <a href="{{ project.urls.delete }}" class="btn btn-outline-danger float-right">
      {% trans 'Delete' %}</a>
  </div>
</div>
{% endblock %}
