{% extends "generic/object_detail.html" %}

{% load i18n mark_current static workbench %}

{% block content %}
<div class="row">
  <div class="col-md-12">

    <h1 data-timer-title="{{ project.code }} {{ project.title }}">
      {{ project|h }} {% history_link project %}
      <span style="font-size:14px">{{ object.status_badge }}</span>
    </h1>

    <p>
      {% if project.contact %}{% link_or_none project.contact %}
      {% else %}{% link_or_none project.customer %}
      {% endif %}
    </p>

    <div class="card my-3">
      <div class="card-body">
        <div class="row justify-content-between">
          <span class="col-md-8">
            <p>{{ object.description|linebreaksbr|urlize }}</p>

            <div class="row">
              <div class="col-md-6">
                {% trans 'hours' %}:
                <a href="{% url 'logbook_loggedhours_list' %}?project={{ project.pk }}" class="inline" target="_blank">
                  {{ project.grouped_services.logged_hours|hours }}</a>
                / {{ project.grouped_services.service_hours|hours }}
                {% bar project.grouped_services.logged_hours project.grouped_services.service_hours %}
              </div>

              <div class="col-md-6">
                {% trans 'cost' %}:
                <a href="{% url 'logbook_loggedcost_list' %}?project={{ project.pk }}" class="inline" target="_blank">
                  {{ project.grouped_services.logged_cost|currency }}</a>
                / {{ project.grouped_services.service_cost|currency }}
                {% bar project.grouped_services.logged_cost project.grouped_services.service_cost %}
              </div>
            </div>
          </span>
          <span class="col-md-4">
            <table class="table table-borderless table-sm">
              <tr>
                <th class="text-right">{% trans 'total costs' %}</th>
                <td>
                  {{ project.grouped_services.total_logged_cost|currency }}
                  {% if project.grouped_services.total_logged_hours_rate_undefined %}(+{% blocktrans with hours=project.grouped_services.total_logged_hours_rate_undefined|hours %}{{ hours }} with undefined rate){% endblocktrans %}){% endif %}
                  /
                  {{ project.grouped_services.total_service_cost|currency }}
                  {% if project.grouped_services.total_service_hours_rate_undefined %}(+{% blocktrans with hours=project.grouped_services.total_service_hours_rate_undefined|hours %}{{ hours }} with undefined rate){% endblocktrans %}){% endif %}
                </td>
              </tr>

              <tr>
                <th class="text-right">{% trans 'not archived' %}</th>
                <td>
                  {{ project.not_archived_total.total|currency }}
                  {% if project.not_archived_total.hours_rate_undefined %}(+{% blocktrans with hours=project.not_archived_total.hours_rate_undefined|hours %}{{ hours }} with undefined rate){% endblocktrans %}){% endif %}
                </td>
              </tr>

              <tr>
                <th class="text-right">{% trans 'total excl. tax' %}</th>
                <td>{{ project.project_invoices_total_excl_tax|currency }}</td>
              </tr>
            </table>
          </span>
        </div>
      </div>
    </div>

    <div class="clearfix">
      <a href="{{ project.urls.update }}" class="btn btn-secondary">
        {% trans 'Update' %}</a>
      <a href="{{ object.urls.create }}?copy={{ object.pk }}" class="btn btn-secondary">
        {% trans 'Copy' %}</a>
      <a href="{{ object.urls.statistics }}" class="btn btn-secondary" data-toggle="ajaxmodal">
        {% trans 'statistics' %}</a>
      <a href="{{ object.urls.offers_pdf }}" class="btn btn-secondary" target="_blank">
        {% trans 'offers PDF' %}</a>
      <a href="{{ project.urls.delete }}" class="btn btn-outline-danger float-right">
        {% trans 'Delete' %}</a>
    </div>

    {% for offer, services in project.grouped_services.offers %}
    <div class="card my-3 {% if offer and offer.is_rejected %}border border-danger opacity-60{% endif %}">
      <div class="card-header d-flex align-items-center justify-content-between">
        {% if offer %}
          <div>
            <h5 class="d-inline my-0">{{ offer|h }}</h5>
            {% history_link offer %}
            &nbsp;
            {{ offer.status_badge }}

            <p>{{ offer.description|linebreaksbr|urlize }}</p>
          </div>
        {% else %}
          <h5 class="d-inline my-0">{% trans 'Not offered yet' %}</h5>
        {% endif %}

        <div>
          {% if offer %}
            <a href="{{ offer.urls.pdf }}" class="btn btn-secondary btn-sm" target="_blank">PDF</a>
            <a href="{{ offer.urls.update }}" class="btn btn-secondary btn-sm">{% trans 'Update' %}</a>
            <a href="{{ offer.urls.copy }}" data-toggle="ajaxmodal" class="btn btn-secondary btn-sm">{% trans 'Copy' %}</a>
            <a href="{{ offer.urls.delete }}" class="btn btn-outline-danger btn-sm">{% trans 'Delete' %}</a>
          {% else %}
            <a href="{{ project.urls.createoffer }}" class="btn btn-secondary btn-sm">
              {% include 'svg/plus.svg' %} {% trans 'offer' %}</a>
          {% endif %}
        </div>
      </div>
      <div class="list-group list-group-flush" data-sortable-container>
        {% for row in services %}
        <div class="list-group-item" {% if row.service.pk %}data-sortable-item="{{ row.service.pk }}"{% endif %}>
          {% if row.service.pk %}
            <div class="float-right">
              <a class="btn btn-secondary btn-sm" href="{{ row.service.urls.update }}" data-toggle="ajaxmodal" title="{% trans 'Update' %}">
                {% include 'svg/pencil.svg' %}</a>
              <a class="btn btn-secondary btn-sm" href="{{ row.service.urls.delete }}" data-toggle="ajaxmodal" title="{% trans 'Merge' %}">
                {% include 'svg/git-merge.svg' %}</a>
              {% if not offer %}
                <a class="btn btn-secondary btn-sm" href="{{ row.service.urls.move }}" data-toggle="ajaxmodal" title="{% trans 'Move to other project' %}">
                  {% include 'svg/link-external.svg' %}</a>
              {% endif %}
              <a href="" class="btn btn-secondary btn-sm" title="{% trans 'Sort' %}" data-sortable-grabber>
                {% include 'svg/grabber.svg' %}</a>
            </div>
          {% endif %}

          <h5 class="mb-1">{{ row.service.title }} {% history_link row.service %}</h5>
          <p>
            {{ row.service.description|linebreaksbr|default:'&nbsp;'|urlize }}
          </p>
          <small class="row justify-content-between">
            <span class="col-md-4">
              {% if row.service.pk %}
                <a href="{% url 'logbook_loggedhours_list' %}?service={{ row.service.pk }}" target="_blank">
                  {{ row.logged_hours|hours }}
                  /
                  {% if row.service.effort_type %}
                    {{ row.service.service_hours|hours }} {{ row.service.effort_type }}
                  {% else %}
                    {% blocktrans with hours=row.service.service_hours|hours %}{{ hours }} with undefined rate){% endblocktrans %}
                  {% endif %}
                </a>
                {% bar row.logged_hours row.service.service_hours %}
              {% endif %}
            </span>
            <span class="col-md-4">
              <a href="{% url 'logbook_loggedcost_list' %}?project={{ project.pk }}&amp;service={{ row.service.pk|default:0 }}" target="_blank">
                {{ row.logged_cost|stringformat:'.2f' }} / {{ row.service.cost|default:0|stringformat:'.2f' }}
              </a>
              {% if row.service.pk %}{% bar row.logged_cost row.service.service_cost %}{% endif %}
            </span>
            <span class="col-md-4 text-right">
              {% if row.service.allow_logging and not row.service.is_rejected %}
                {% if row.service.pk %}
                  <a href="{{ project.urls.createhours }}?service={{ row.service.pk }}"
                    data-toggle="ajaxmodal">
                    {% include "svg/plus.svg" %} {% trans 'hours' %}</a>
                {% endif %}
                <a href="{{ project.urls.createcost }}?service={{ row.service.pk|default:'' }}"
                  data-toggle="ajaxmodal">
                  {% include "svg/plus.svg" %} {% trans 'cost' %}</a>
              {% endif %}
            </span>
          </small>
        </div>
        {% empty %}
        <div class="card-body">{% trans 'No services yet.' %}</div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}

    {% if object.project_invoices %}
    <div class="card my-3">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="d-inline my-0">{% trans 'invoices' %}</h5>
      </div>
      <div class="list-group list-group-flush">
        {% for invoice in object.project_invoices %}
          <a href="{{ invoice.get_absolute_url }}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ invoice|h }}</h5>
              {{ invoice.status_badge }}
            </div>
            <div class="row">
              <div class="col-md-7">{{ invoice.contact|default:invoice.customer }}</div>
              <div class="col-md-2">{{ invoice.get_type_display }}</div>
              <div class="col-md-3 text-md-right">
                {{ invoice.total_excl_tax|currency }} exkl. /
                {{ invoice.total|currency }}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <span class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button"
        id="invoice-dropdown-button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {% include "svg/plus.svg" %}
        {% trans 'invoice' %}</a>
      </button>
      <div class="dropdown-menu" aria-labelledby="invoice-dropdown-button">
        <a class="dropdown-item" href="{{ project.urls.createinvoice }}?type=fixed">{% trans 'Fixed amount' %}</a>
        <a class="dropdown-item" href="{{ project.urls.createinvoice }}?type=down-payment">{% trans 'Down payment' %}</a>
        <a class="dropdown-item" href="{{ project.urls.createinvoice }}?type=services&amp;source=logbook">{% trans 'Services from logbook' %}</a>
        <a class="dropdown-item" href="{{ project.urls.createinvoice }}?type=services&amp;source=offer">{% trans 'Services from offer' %}</a>
      </div>
    </span>
    <a href="{{ project.urls.createoffer }}" class="btn btn-secondary">
      {% include 'svg/plus.svg' %} {% trans 'offer' %}</a>

    <a href="{{ project.urls.createservice }}" class="btn btn-secondary"
      data-toggle="ajaxmodal">
      {% include "svg/plus.svg" %} {% trans 'service' %}</a>
    <a href="{{ project.urls.createhours }}" class="btn btn-secondary" data-toggle="ajaxmodal" data-createhours>
      {% include "svg/plus.svg" %}
      {% trans 'hours' %}</a>
    <a href="{{ project.urls.createcost }}" class="btn btn-secondary" data-toggle="ajaxmodal">
      {% include "svg/plus.svg" %}
      {% trans 'cost' %}</a>
    <a href="{% url 'activities_activity_create' %}?project={{ object.pk }}" class="btn btn-secondary" data-toggle="ajaxmodal">
      {% include "svg/plus.svg" %} {% trans 'activity' %} </a>

  </div>
</div>
{% endblock %}

{% block js %}{{ block.super }}
<script>
jQuery(function($) {
  $("[data-sortable-container]").sortable({
    cursor: "move",
    items: "[data-sortable-item]",
    handle: "[data-sortable-grabber]",
    stop: function(event, ui) {
      var ids = [];
      $("[data-sortable-item]", this).each(function() {
        ids.push(this.getAttribute("data-sortable-item"));
      });
      $.post("{% url 'projects_service_set_order' %}", {
        ids: ids,
        csrfmiddlewaretoken: document.cookie.match(/\bcsrftoken=(.+?)\b/)[1],
        function() { window.location.reload(); },
      });
    },
  });
});
</script>
{% endblock %}
