{% extends "base.html" %}

{% load bootstrap3 history i18n querystring workbench %}

{% block title %}{% trans 'tasks' %} - {{ view.project }} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">

    <h1>{{ view.project|h }} {% history_link view.project %}</h1>
    <ul class="nav nav-tabs">
      <li><a href="{{ view.project.urls.overview }}">{% trans 'overview' %}</a></li>
      <li class="active"><a href="{{ view.project.urls.tasks }}">{% trans 'tasks' %}</a></li>
      <li><a href="{{ view.project.urls.costs }}">{% trans 'costs' %}</a></li>
    </ul>

    <div class="row">
      <div class="col-md-3 left-head">
        <a href="{{ view.project.urls.createtask }}" class="btn btn-default">
          <i class="glyphicon glyphicon-plus"></i> {% trans 'task' %}</a>
        <a href="{{ view.project.urls.createhours }}" class="btn btn-default"
          data-toggle="ajaxmodal">
          <i class="glyphicon glyphicon-plus"></i> {% trans 'hours' %}</a>
      </div>

      <div class="col-md-9 right-head">
        <form method="GET" action="." class="form-inline form-search">
          <label class="sr-only">{% trans 'search' %}</label>
          <input
            class="form-control"
            type="search"
            name="q"
            placeholder="{% trans 'search' %}"
            value="{{ view.request.GET.q|default:'' }}">

          {% for f in view.search_form %}
            <label class="sr-only">{{ f.label }}</label>
            {{ f }}
          {% endfor %}
        </form>

        {% if view.show_create_button %}
          <a href="{{ view.model.urls.create }}" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
            {{ view.meta.verbose_name }}
          </a>
        {% endif %}
      </div>
    </div>

{% block objects %}

<table class="table table-hover table-striped table-linearize">
  <thead>
    <tr>
      <th>{% trans 'type' %}</th>
      <th>{% trans 'priority' %}</th>
      <th>{% trans 'task' %}</th>
      <th>{% trans 'status' %}</th>
      <th>{% trans 'created' %}</th>
      <th>{% trans 'owned by' %}</th>
      <th class="text-right">{% trans 'hours' %}</th>
      <th>{% trans 'comments' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for task in object_list|select_related:'created_by,owned_by'|tasks_info %}
      <tr>
        <td><i title="{{ task.get_type_display }}" class="{{ task.type_css }}"></i></td>
        <td><span class="label label-{{ task.priority_css }}">{{ task.get_priority_display }}</span></td>
        <th><a href="{{ task.urls.detail }}">{{ task|h }}</a></th>
        <td>
          <span class="{{ task.status_css }}">{{ task.pretty_status }}</span>
        </td>
        <td>
          {{ task.created_at|date:'SHORT_DATE_FORMAT' }} {% trans 'by' %}
          {{ task.created_by.get_short_name }}
        </td>
        <td>
          {% if task.owned_by %}{{ task.owned_by.get_short_name }}{% else %}&ndash;{% endif %}
        </td>
        <td class="text-right">{{ task.logged_hours|default:0 }}h</td>
        <td>
          {% if task.comment_count %}
            <a href="{{ task.get_absolute_url }}#comments">
              <i class="glyphicon glyphicon-comment"></i> {{ task.comment_count }}
              <small>
                ({{ task.latest_comment|timesince_short }})
              </small>
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="8">
        {{ paginator.count }} {{ view.meta.verbose_name_plural }}
        {% if view.root_queryset_count != paginator.count %}
        (<a href=".">{% blocktrans with total=view.root_queryset_count %}{{ total }} total{% endblocktrans %}</a>)
        {% endif %}
      </td>
    </tr>
  </tfoot>
</table>

{% endblock %}

    {% bootstrap_pagination page=page_obj extra=request.GET|querystring:'page' %}
  </div>
</div>
{% endblock %}
