{% extends "projects/project_detail.html" %}

{% load bootstrap4 history i18n querystring workbench %}

{% block title %}{% trans 'services' %} - {{ block.super }}{% endblock %}

{% block project-content %}
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-8">

    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>{% trans 'created by' %}</th>
          <th>{% trans 'rendered on' %}</th>
          <th>{% trans 'description' %}</th>
          <th class="text-right">{% trans 'cost' %}</th>
          <th class="text-right">{% trans 'third party costs' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for service, offered, logged, service_costs in costs %}
          <tr>
            <th colspan="3">
              <strong>
                {% if service %}
                  <a href="{{ service.get_absolute_url }}">{{ service }}</a>
                  <div style="font-weight:normal">{{ service.description|linebreaksbr }}</div>
                {% else %}
                  {% trans 'Not offered services' %}
                {% endif %}
              </strong>
            </th>
            <th class="text-right">
              {{ logged|currency }} / {{ offered|currency }}
            </th>
            <th class="text-right"></th>
          </tr>

          {% for cost in service.costs.all %}
            <tr>
              <td colspan="2"></td>
              <td>{{ cost.title }}</td>
              <td class="text-right">{{ cost.cost|currency }}</td>
              <td class="text-right">{{ cost.third_party_costs|currency }}</td>
            </tr>
          {% endfor %}

          {% for cost in service_costs %}
            <tr>
              <td>{{ cost.created_by.get_short_name }}</td>
              <td>{{ cost.rendered_on|date:'SHORT_DATE_FORMAT' }}</td>
              <th>
                <a href="{{ cost.urls.update }}" data-toggle="ajaxmodal">{{ cost.description }}</a>
              </th>
              <td class="text-right">{{ cost.cost|currency }}</td>
              <td class="text-right">{{ cost.third_party_costs|currency }}</td>
            </tr>
          {% endfor %}

        {% endfor %}
      </tbody>
    </table>

    <a href="{{ project.urls.createcost }}" class="btn btn-secondary"
      data-toggle="ajaxmodal" data-createhours>
      {% include "svg/plus.svg" %} {% trans 'cost' %}</a>

  </div>
</div>
{% endblock %}
