{% extends "projects/project_detail.html" %}

{% load bootstrap4 history i18n querystring workbench %}

{% block title %}{% trans 'services' %} - {{ block.super }}{% endblock %}

{% block project-content %}
{% for offer, services in project.grouped_services %}
<div class="card my-3">
  <div class="card-header d-flex align-items-center justify-content-between">
    {% if offer %}
      <div>
        <h5 class="d-inline my-0">{{ offer|h }}</h5>
        {% history_link offer %}
        &nbsp;
        <span class="badge badge-{{ offer.status_css }}">{{ offer.pretty_status }}</span>
      </div>
    {% else %}
      <h5 class="d-inline my-0">{% trans 'Not offered yet' %}</h5>
    {% endif %}

    <div>
      {% if offer %}
        <a href="{{ offer.urls.pdf }}" class="btn btn-secondary btn-sm">PDF</a>
        <a href="{{ offer.urls.update }}" class="btn btn-secondary btn-sm">{% trans 'Update' %}</a>
        <a href="{{ offer.urls.delete }}" class="btn btn-outline-danger btn-sm">{% trans 'Delete' %}</a>
      {% else %}
        <a href="{{ project.urls.createoffer }}" class="btn btn-secondary btn-sm">
          {% include 'svg/plus.svg' %} {% trans 'offer' %}</a>
      {% endif %}
    </div>
  </div>
  <div class="list-group list-group-flush">
    {% for service in services %}
    <div class="list-group-item">
      <div class="float-right">
        <a class="btn btn-secondary btn-sm" href="{{ service.urls.update }}">{% trans 'Update' %}</a>
        <a class="btn btn-secondary btn-sm" href="{{ service.urls.update }}">{% trans 'Merge into' %}</a>
      </div>

      <h5 class="mb-1">{{ service.title }}</h5>
      <p>
        {{ service.description|linebreaksbr }}
      </p>
      <small class="row justify-content-between">
        <span class="col-md-8">
          {% for effort in service.efforts.all %}
            {{ effort.hours }}h {{ effort.service_type }}{% if not forloop.last %},{% endif %}
          {% endfor %}
          {% for cost in service.costs.all %}
            {{ cost.title }} ({{ cost.cost|currency }}){% if not forloop.last %},{% endif %}
          {% endfor %}
        </span>
        <span class="col-md-2">{{ service.logged_hours }}h / {{ service.effort_hours }}h</span>
        <span class="col-md-2 text-right">
          <a href="{{ project.urls.createhours }}?service={{ service.pk }}"
            data-toggle="ajaxmodal">
            {% include "svg/plus.svg" %} {% trans 'hours' %}</a>
          <a href="{{ project.urls.createcost }}?service={{ service.pk }}"
            data-toggle="ajaxmodal">
            {% include "svg/plus.svg" %} {% trans 'cost' %}</a>
        </span>
      </small>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}

{% comment %}
<a href="{{ project.urls.createtask }}" class="btn btn-secondary">
  {% include "svg/plus.svg" %} {% trans 'task' %}</a>
{% endcomment %}
<a href="{{ project.urls.createservice }}" class="btn btn-secondary">
  {% include "svg/plus.svg" %} {% trans 'service' %}</a>
<a href="{{ project.urls.createhours }}" class="btn btn-secondary"
  data-toggle="ajaxmodal" data-createhours>
  {% include "svg/plus.svg" %} {% trans 'hours' %}</a>

{% endblock %}
