{% extends "projects/project_detail.html" %}

{% load bootstrap4 history i18n querystring workbench %}

{% block title %}{% trans 'services' %} - {{ block.super }}{% endblock %}

{% block project-content %}
<div class="card my-3">
  <div class="card-body">
    <h5>{% trans 'overview' %}</h5>

    <small class="row justify-content-between">
      <span class="col-md-8">
        <a href="{% url 'logbook_loggedhours_list' %}?project={{ project.pk }}" class="inline" target="_blank">
          {{ project.overview.logged|stringformat:'.1f' }}h
        </a> / {{ project.overview.effort|stringformat:'.1f' }}h
        {% bar project.overview.logged project.overview.effort %}
      </span>
      <span class="col-md-4"></span>
    </small>
  </div>
</div>

{% for offer, services in project.grouped_services %}
<div class="card my-3">
  <div class="card-header d-flex align-items-center justify-content-between">
    {% if offer %}
      <div>
        <h5 class="d-inline my-0">{{ offer|h }}</h5>
        {% history_link offer %}
        &nbsp;
        <span class="badge badge-{{ offer.status_css }}">{{ offer.pretty_status }}</span>
      </div>
    {% else %}
      <h5 class="d-inline my-0">{% trans 'Not offered yet' %}</h5>
    {% endif %}

    <div>
      {% if offer %}
        <a href="{{ offer.urls.pdf }}" class="btn btn-secondary btn-sm" target="_blank">PDF</a>
        <a href="{{ offer.urls.update }}" class="btn btn-secondary btn-sm">{% trans 'Update' %}</a>
        <a href="{{ offer.urls.delete }}" class="btn btn-outline-danger btn-sm">{% trans 'Delete' %}</a>
      {% else %}
        <a href="{{ project.urls.createoffer }}" class="btn btn-secondary btn-sm">
          {% include 'svg/plus.svg' %} {% trans 'offer' %}</a>
      {% endif %}
    </div>
  </div>
  <div class="list-group list-group-flush">
    {% for service in services %}
    <div class="list-group-item">
      {% if service.pk %}
        <div class="float-right">
          <a class="btn btn-secondary btn-sm" href="{{ service.urls.move }}?up" title="{% trans 'Move up' %}">
            {% include 'svg/triangle-up.svg' %}</a>
          <a class="btn btn-secondary btn-sm" href="{{ service.urls.move }}?down" title="{% trans 'Move down' %}">
            {% include 'svg/triangle-down.svg' %}</a>
          <a class="btn btn-secondary btn-sm" href="{{ service.urls.update }}" title="{% trans 'Update' %}">
            {% include 'svg/pencil.svg' %}</a>
          <a class="btn btn-secondary btn-sm" href="{{ service.urls.delete }}" title="{% trans 'Delete' %}">
            {% include 'svg/trashcan.svg' %}</a>
        </div>
      {% endif %}

      <h5 class="mb-1">{{ service.title }} {% history_link service %}</h5>
      <p>
        {{ service.description|linebreaksbr }}
      </p>
      <small class="row justify-content-between">
        <span class="col-md-4">
          {% if service.pk %}
            <a href="{% url 'logbook_loggedhours_list' %}?service={{ service.pk }}" target="_blank">
              {{ service.logged_hours|stringformat:'.1f' }}h / {{ service.service_hours|stringformat:'.1f' }}h
              {{ service.effort_type }}
            </a>
            {% bar service.logged_hours service.service_hours %}
          {% endif %}
        </span>
        <span class="col-md-4">
          {% if service.pk %}
            <a href="{% url 'logbook_loggedcost_list' %}?service={{ service.pk }}" target="_blank">
              {{ service.logged_cost|stringformat:'.2f' }} / {{ service.cost|default:0|stringformat:'.2f' }}
            </a>
            {% bar service.logged_cost service.service_cost %}
          {% else %}
            <a href="{% url 'logbook_loggedcost_list' %}?project={{ project.pk }}&amp;service=0" target="_blank">
              {{ service.logged_cost|stringformat:'.2f' }} / {{ service.cost|default:0|stringformat:'.2f' }}
            </a>
          {% endif %}
        </span>
        <span class="col-md-4 text-right">
          {% if service.pk %}
            <a href="{{ project.urls.createhours }}?service={{ service.pk }}"
              data-toggle="ajaxmodal">
              {% include "svg/plus.svg" %} {% trans 'hours' %}</a>
          {% endif %}
          <a href="{{ project.urls.createcost }}?service={{ service.pk|default:'' }}"
            data-toggle="ajaxmodal">
            {% include "svg/plus.svg" %} {% trans 'cost' %}</a>
        </span>
      </small>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}

{% comment %}
<a href="{{ project.urls.createtask }}" class="btn btn-secondary">
  {% include "svg/plus.svg" %} {% trans 'task' %}</a>
{% endcomment %}
<a href="{{ project.urls.createservice }}" class="btn btn-secondary">
  {% include "svg/plus.svg" %} {% trans 'service' %}</a>
<a href="{{ project.urls.createhours }}" class="btn btn-secondary"
  data-toggle="ajaxmodal" data-createhours>
  {% include "svg/plus.svg" %} {% trans 'hours' %}</a>
<a href="{{ project.urls.createcost }}" class="btn btn-secondary"
  data-toggle="ajaxmodal">
  {% include "svg/plus.svg" %} {% trans 'cost' %}</a>

{% endblock %}
