{% extends "modalform.html" %}

{% load bootstrap4 fineforms i18n workbench %}

{% block size %}modal-lg{% endblock %}

{% block title %}
{% if view.project %}{{ view.project.title }}{% else %}{{ block.super }}{% endif %}
{% endblock %}

{% block body %}
  {% include 'fineforms/warnings.html' %}
  {% ff_errors form %}
  {% ff_fields form fields='offer,title,description' %}

  <div data-part data-autofill="{{ view.default_service_types }}">
    <div class="row mt-3">
      <div class="col-lg-8 offset-lg-4">
        <h5>{% trans 'effort' %}</h5>
      </div>
    </div>
    {% ff_fields form fields='service_type,effort_type,effort_rate,effort_hours' %}
  </div>

  <div data-part>
    <div class="row mt-3">
      <div class="col-lg-8 offset-lg-4">
        <h5>{% trans 'cost' %}</h5>
      </div>
    </div>
    {% ff_fields form fields='cost,third_party_costs' %}
  </div>
{% endblock %}

{% block footer %}
<div class="d-flex w-100 justify-content-between">
  {% if object %}
    <a href="{{ object.urls.delete }}" data-toggle="ajaxmodal"
      class="float-left btn btn-outline-danger">
      {% trans 'delete' %}
    </a>
  {% endif %}
  <button type="submit" class="btn btn-primary">{% trans 'save' %}</button>
</div>
{% endblock %}
