{% extends "base.html" %}

{% load bootstrap4 fineforms formset i18n workbench %}

{% block title %}{{ object|default:view.meta.verbose_name_plural }} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-8">
    {% if object %}
      <h2><a href="{{ object.project.get_absolute_url }}">
          <small>{% include 'svg/chevron-left.svg' %}</small>
          {{ object.project|h }}</a></h2>
    {% endif %}

    <h1>
      {% if object %}
        {% blocktrans with object=object %}Update {{ object }}{% endblocktrans %}
      {% else %}
        {% blocktrans with class=view.meta.verbose_name %}Create {{ class }}{% endblocktrans %}
      {% endif %}
    </h1>

    <form method="POST" action="." class="form-horizontal">
      {% csrf_token %}
      {% ff_errors form %}
      {% ff_fields form %}

      {% if form.formsets %}
        <div class="row">
          <div class="col-lg-8 offset-lg-4">
            <h4>{% trans 'efforts' %}</h4>
            {% formset form.formsets.efforts "efforts" %}
            <div id="{{ form_id }}" class="mb-1">
              {{ form.id }}
              <div class="input-group">
                {{ form.hours }}
                {{ form.service_type }}
                <div class="input-group-append">
                  <span class="input-group-text bg-warning">
                    {{ form.DELETE }}
                  </span>
                </div>
              </div>
            </div>
            {% endformset %}
            <a href="#" class="btn btn-secondary"
              onclick="return addInlineForm('efforts')">
              {% include 'svg/plus.svg' %}
            </a>

            <h4 class="mt-3">{% trans 'costs' %}</h4>
            {% formset form.formsets.costs "costs" %}
            <div id="{{ form_id }}" class="mb-1">
              {{ form.id }}
              <div class="input-group">
                {{ form.cost }}
                {{ form.title }}
                <div class="input-group-append">
                  <span class="input-group-text bg-warning">
                    {{ form.DELETE }}
                  </span>
                </div>
              </div>
            </div>
            {% endformset %}
            <a href="#" class="btn btn-secondary"
              onclick="return addInlineForm('costs')">
              {% include 'svg/plus.svg' %}
            </a>
          </div>
        </div>
      {% endif %}

      <div class="row mt-3">
        <div class="col-lg-8 offset-lg-4">
          <button type="submit" class="btn btn-primary">
            {% trans 'save' %}</button>

          {% if object.get_absolute_url %}
          <a href="{{ object.urls.delete }}" class="btn float-right btn-outline-danger">
            {% trans 'delete' %}</a>
          {% endif %}
        </div>
      </div>

    </form>

  </div>
</div>
{% endblock %}
