{% extends "tools/object_list.html" %}

{% load bootstrap3 i18n querystring workbench %}

{% block objects %}

<table class="table table-hover table-striped table-linearize">
  <thead>
    <tr>
      <th>{% trans 'type' %}</th>
      <th>{% trans 'priority' %}</th>
      <th>{% trans 'task' %}</th>
      <th>{% trans 'owned by' %}</th>
      <th>{% trans 'project' %}</th>
      <th>{% trans 'status' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for task in object_list|select_related:'project,owned_by' %}
      <tr>
        <td><i title="{{ task.get_type_display }}" class="{{ task.type_css }}"></i></td>
        <td><span class="label label-{{ task.priority_css }}">{{ task.get_priority_display }}</span></td>
        <th><a href="{{ task.urls.detail }}">{{ task|h }}</a></th>
        <td>
          {% if task.owned_by %}{{ task.owned_by.get_short_name }}{% else %}&ndash;{% endif %}
        </td>
        <td><a href="{{ task.project.urls.tasks }}">{{ task.project|h }}</a></td>
        <td>{{ task.pretty_status }}</td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        {{ paginator.count }} {{ view.meta.verbose_name_plural }}
        {% if view.root_queryset_count != paginator.count %}
        (<a href=".">{% blocktrans with total=view.root_queryset_count %}{{ total }} total{% endblocktrans %}</a>)
        {% endif %}
      </td>
    </tr>
  </tfoot>
</table>

{% endblock %}
