{% extends "base.html" %}

{% load bootstrap3 history i18n workbench %}

{% block title %}{{ task }} - {{ task.project }} - {{ block.super }}{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">

    <h2><a href="{{ task.project.get_absolute_url }}">
        <small><i class="glyphicon glyphicon-menu-left"></i></small>
        {{ task.project|h }}</a></h2>

    <h1>{{ task|h }} {% history_link task %}</h1>

    <div class="row">
      <div class="col-md-8">

        <table class="table table-striped">
          {% for name, value in object|field_value_pairs %}
          <tr>
            <th class="text-right">{{ name }}</th>
            <td>{% link_or_none value %}</td>
          </tr>
          {% endfor %}
        </table>

        <h4>{% trans 'required services' %}</h4>
        <table class="table table-striped table-condensed table-linearize">
          <thead>
            <tr>
              <th></th>
              <th class="text-right">{% trans 'offered' %}</th>
              <th class="text-right">{% trans 'planning' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for requiredhours in task.overview.required %}
              <tr>
                <th>{{ requiredhours.service_type }}</th>
                <td class="text-right">{{ requiredhours.offered_effort }}h</td>
                <td class="text-right">{{ requiredhours.planning_effort }}h</td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th class="text-right">{{ task.overview.required_total.offered_effort }}h</th>
              <th class="text-right">{{ task.overview.required_total.planning_effort }}h</th>
            </tr>
          </tfoot>
        </table>
        <h4>{% trans 'rendered services' %}</h4>
        <table class="table table-striped table-condensed table-linearize">
          <tbody>
            {% for renderedhours in task.overview.rendered %}
            <tr>
              <td class="text-right">{{ renderedhours.hours }}h</td>
              <th>{{ renderedhours.name }}</th>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th class="text-right">{{ task.overview.rendered_total.hours }}h</th>
              <th></th>
            </tr>
          </tfoot>
        </table>

        <h4>{% trans 'recent services' %}</h4>
        <table class="table table-striped table-condensed table-linearize">
        {% for rendered in recent_rendered %}
          {% ifchanged rendered.rendered_on %}
            <tr>
              <td colspan="3">{{ rendered.rendered_on|date:'d.m.Y' }}</td>
            </tr>
          {% endifchanged %}
          <tr>
            <th><a href="{{ rendered.urls.detail }}" data-toggle="ajaxmodal">
                {{ rendered }}
            </a></th>
            <td>{{ rendered.rendered_by.get_short_name }}</td>
            <td>{{ rendered.hours }}h</td>
          </tr>
        {% endfor %}
        </table>


        <a href="{{ task.urls.update }}" class="btn btn-default">
          {% trans 'Update' %}
        </a>
        <a href="{{ task.urls.delete }}" class="btn btn-danger btn-inverse pull-right">
          {% trans 'Delete' %}
        </a>


        <h3>{% trans 'comments' %}</h3>
        {% for comment in task.comments.all %}
        <div class="comment">
          <h4>{{ comment.created_by }} {{ comment.created_at }}</h4>
          {{ comment.html }}
        </div>
        {% endfor %}

        <div class="comment">
          <h4>{{ request.user }}</h4>
          <form method="post" action="{{ request.path }}" class="form">
            <input type="hidden" name="form" value="comment_form"/>
            {% csrf_token %}
            {% bootstrap_form comment_form layout='inline' %}
            <button type="submit" class="btn btn-primary">
              {% trans 'add comment' %}
            </button>
          </form>
        </div>


      </div>
      <div class="col-md-4">
        <form method="post" action="{{ request.path }}" class="form">
          <h4>{% trans 'logged hours' %}</h4>
            <input type="hidden" name="form" value="logbook_form"/>
          {% csrf_token %}
          {% bootstrap_form logbook_form layout='inline' %}
          <button type="submit" class="btn btn-primary">
            {% trans 'create' %}
          </button>
        </form>

        {{ task.loggedhours.all }}
      </div>
    </div>

  </div>
</div>

{% endblock %}
