{% extends "site_base.html" %}

{% load bootstrap3 i18n mark_current %}

{% block body %}
  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">FeinTOOL</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        {% mark_current request.path %}
        <ul class="nav navbar-nav">
          <li>
            <form class="navbar-form" role="search" method="GET" action="{% url 'search' %}">
              <div class="input-group">
                <input name="q" type="text" class="form-control" placeholder="{% trans 'Search' %}" value="{{ search.query|default:'' }}">
                <div class="input-group-btn">
                  <button class="btn btn-info">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </div>
              </div>
            </form>
          </li>
          <li><a href="/">Home</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="/contacts/">{% trans 'contacts' %} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'contacts_organization_list' %}">{% trans 'organizations' %}</a></li>
              <li><a href="{% url 'contacts_person_list' %}">{% trans 'people' %}</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'contacts_organization_create' %}">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans 'organization' %}</a></li>
              <li><a href="{% url 'contacts_person_create' %}">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans 'person' %}</a></li>
            </ul>
          </li>
          <li><a href="/deals/">{% trans 'deals' %}</a></li>
          <li><a href="/projects/">{% trans 'projects' %}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="/accounts/">{% trans 'account'|capfirst %} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'accounts_update' %}">
                <span class="glyphicon glyphicon-user"></span>
                {% trans 'Settings' %}</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'logout' %}">
                <span class="glyphicon glyphicon-log-out"></span>
                {% trans 'Sign off' %}</a></li>
            </ul>
          </li>
        </ul>
        {% endmark_current %}
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container-fluid theme-showcase" role="main">

    {% bootstrap_messages %}

    {% block content %}{% endblock %}

  </div> <!-- /container -->
{% endblock body %}
