<!doctype html>
{% load bootstrap3 i18n static %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <title>{% block title %}FeinTOOL{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'ftool/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'ftool/ftool.css' %}">
  <link rel="shortcut icon" href="{% static 'ftool/favicon.ico' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body role="document">

  {% block body %}

    <div class="container-fluid theme-showcase" role="main">

      {% bootstrap_messages %}

      {% block content %}{% endblock %}

    </div> <!-- /container -->

  {% endblock body %}

  <script src="{% static 'ftool/jquery-2.1.3.min.js' %}"></script>
  <script src="{% static 'ftool/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'ftool/ftool.js' %}"></script>
  {% block js %}{% endblock %}
</body>
</html>
