<!doctype html>
{% load i18n static %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <title>{% block title %}FeinTOOL{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'ftool/css/bootstrap.min.css' %}">
  <link rel="shortcut icon" href="{% static 'ftool/favicon.ico' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body role="document">

  {% block body %}

    <div class="container-fluid theme-showcase" role="main">

      {% block content %}{% endblock %}

    </div> <!-- /container -->

  {% endblock body %}

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{% static 'ftool/js/bootstrap.min.js' %}"></script>
  {% block js %}{% endblock %}
</body>
</html>
