$white: #fff;
$black: #020202;

$apple: #3EB32D;
$antique-brass: #CC875C;
$cornflower-blue: #7E73FF;

$absence-colors: (
  "ferien": $apple,
  "krankheit": $antique-brass,
  "andere-grunde": $cornflower-blue
);

.absences {
  display: grid;
}

.absences__person {
  grid-column: 1 / 2;
  grid-row-end: span 1;
}

.absences__absence {
  grid-row-end: span 1;

  padding: .25rem .5rem;
  border-radius: 2px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: .75rem;
  color: $white;

  @each $reason, $color in $absence-colors {
    &--#{$reason} {
      background-color: $color;
    }
  }
}
