{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ deal }} - {% trans "deals" %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <a href="{{ deal.funnel.urls.detail }}">&lt; {{ deal.funnel }}</a>
    <h1>{{ deal }}</h1>

    {% for change in changes %}
      <h2>
        Version {{ forloop.counter0 }}
        <small>{{ change.version.revision.date_created }}</small>
      </h2>
      <ul>
        {% for pretty in change.changes %}
          <li>{{ pretty }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
{% endblock %}
