{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ funnel }} - {% trans "funnels" %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>{{ funnel }}</h1>

    <div class="flexbox-equal">
      {% for funnel_detail in funnel_details %}
        <div class="list-group">
          <div class="list-group-item">
            <h4 class="list-group-item-heading">
              {{ funnel_detail.title }}
              <small>
                ({{ funnel_detail.deals|length }})
              </small>
            </h4>
          </div>
          {% for deal in funnel_detail.deals %}
            <a href="{{ deal.get_absolute_url }}" class="list-group-item">
              {{ deal }}
            </a>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

  </div>
</div>
<style>
  .flexbox-equal {
    display: -webkit-flex;
    display: flex;
  }
  .flexbox-equal > div {
    -webkit-flex: 1;
    flex: 1;
  }
</style>
{% endblock %}
