{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ funnel }} - {% trans "funnels" %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>{{ funnel }}</h1>

    {% for funnel_detail in funnel_details %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
            {{ funnel_detail.title }}
            <small>
              ({{ funnel_detail.deals|length }})
            </small>
          </h3>
        </div>
        <div class="panel-body">
          {% for deal in funnel_detail.deals %}
            <div class="card">
              {{ deal }}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}

  </div>
</div>
{% endblock %}
