{% extends "base.html" %}
{% load fineforms i18n static workbench %}
{% block title %}
  {% translate 'Accepted deals' %} - {{ block.super }}
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
      <h1>{% translate 'Accepted deals' %}</h1>
      <form method="get" class="mb-3" data-autosubmit>
        {% ff_fields form %}
      </form>
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>{% translate 'month'|capfirst %}</th>
            {% for row in stats.by_valuetype %}
              <th class="text-right">{{ row.type }}</th>
              <th></th>
            {% endfor %}
            <th class="text-right">{% translate 'total'|capfirst %}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for row in stats.by_month_and_valuetype %}
            <tr>
              <td>{{ row.month|date:'F Y' }}</td>
              {% for value in row.values %}
                <td class="text-right">{{ value.value|currency }}</td>
                <td></td>
              {% endfor %}
              <td class="text-right">{{ row.sum|currency }}</td>
              <td></td>
            </tr>
          {% endfor %}
          <tr>
            <th>{% translate 'total'|capfirst %}</th>
            {% for row in stats.by_valuetype %}
              <th class="text-right">{{ row.sum|currency }}</th>
              <th>
                <div style="margin:-5px 0;display:inline-block">{% pie row.sum row.target type='good' size=28 %}</div>
              </th>
            {% endfor %}
            <th class="text-right">{{ stats.sum|currency }}</th>
            <th>
              <div style="margin:-5px 0;display:inline-block">{% pie stats.sum stats.target type='good' size=28 %}</div>
            </th>
          </tr>
          <tr>
            <th>{% translate 'target'|capfirst %} ({{ stats.weeks|stringformat:'.1f' }} {% translate 'weeks' %})</th>
            {% for row in stats.by_valuetype %}
              <th class="text-right">{{ row.target|currency }}</th>
              <th></th>
            {% endfor %}
            <th class="text-right">{{ stats.target|currency }}</th>
            <th></th>
          </tr>
          <tr>
            <th>{% translate 'median age' %}</th>
            {% for row in stats.by_valuetype %}
              <th class="text-right">{% if row.median_age is not None %}{{ row.median_age }} {% translate 'days' %}{% endif %}</th>
              <th></th>
            {% endfor %}
            <th class="text-right">{% if stats.median_age is not None %}{{ stats.median_age }} {% translate 'days' %}{% endif %}</th>
            <th></th>
        </tbody>
      </table>
      <br>

      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>{% translate 'user'|capfirst %}</th>
            <th class="text-right">{% translate 'count'|capfirst %}</th>
            <th></th>
            <th class="text-right">{% translate 'value'|capfirst %}</th>
          </tr>
        </thead>
        <tbody>
          {% for row in stats.by_user %}
            <tr>
              <td>
                <a href="deals/{% querystring user=row.user.id %}"
                   data-toggle="ajaxmodal">{{ row.user }}</a>
              </td>
              <td class="text-right">
                {{ row.count }}
              </td>
              <td class="text-right">
                <div style="margin:-5px 0;display:inline-block">
                  {% pie row.sum stats.sum type='good' size=28 %}
                </div>
              </td>
              <td class="text-right">
                {{ row.sum|currency }}
              </td>
            </tr>
          {% endfor %}
          <tr>
            <th>
              {% translate 'total'|capfirst %}
            </th>
            <th class="text-right">
              {{ stats.count }}
            </th>
            <th>
            </th>
            <th class="text-right">
              {{ stats.sum|currency }}
            </th>
          </tr>
        </tbody>
      </table>
      <br>

      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>{% translate 'deal'|capfirst %}</th>
            <th class="text-right">{% translate 'value'|capfirst %}</th>
          </tr>
        </thead>
        <tbody>
          {% for deal in stats.deals %}
            <tr>
              <td>{% link_or_none deal with_badge=True %}</td>
              <td class="text-right">
                {{ deal.value|currency }}
              </td>
            </tr>
          {% endfor %}
          <tr>
            <th>
              {% translate 'total'|capfirst %}
            </th>
            <th class="text-right">
              {{ stats.sum|currency }}
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
