{% extends "modal.html" %}

{% load i18n workbench %}

{% block size %}modal-xl{% endblock %}

{% block title %}{% trans 'Accepted deals' %}{% endblock %}

{% block body %}
{% for row in stats.by_user %}
{% if row.user_id == request.GET.user %}

<table class="table table-sm bg-light">
  <tr>
    <th>{% trans 'deal' %}</th>
    <th></th>
    <th>{% trans 'Award of contract' %}</th>
    <th class="text-right">{% trans 'value' %}</th>
  </tr>
  {% for deal in row.deals %}
    <tr>
      <td>{% link_or_none deal with_badge=True %}</td>
      <td>{{ deal.contact.name_with_organization|default:deal.customer }}</td>
      <td>{{ deal.closing_type }}{% if deal.closing_notice %}: {{ deal.closing_notice }}{% endif %}</td>
      <td class="text-right">{{ deal.value|currency }}</td>
    </tr>
  {% endfor %}
</table>

{% endif %}
{% endfor %}
{% endblock %}
