{% extends "base.html" %}

{% load fineforms i18n workbench %}

{% block title %}{% trans 'Hours by circle' %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
<div class="col-sm-12 col-md-8">
  <h1>{% trans 'Hours by circle' %}</h1>

  <form method="get" class="mb-3" data-autosubmit>
    {% ff_fields form %}
  </form>

  <table class="table table-sm table-responsive-lg table-hover">
    <thead>
      <tr>
        <th></th>
        {% for user in stats.circles.0.users %}<th class="text-right">{{ user.get_short_name }}</th>{% endfor %}
        <th class="text-right">{{ stats.total_hours|hours }}</th>
      </tr>
    </thead>
    <tbody>
    {% for circle in stats.circles %}
      <tr>
        <th>
          {% if circle.circle %}
            <a href="https://app.glassfrog.com/circles/{{ circle.circle.pk }}">{{ circle.circle }}</a>
          {% else %}{% trans 'No circle' %}{% endif %}
        </th>
        {% for user, hours in circle.by_user %}
          <th class="text-right">
            {% if hours %}<a href="{% url 'logbook_loggedhours_list' %}?circle={{ circle.circle.pk|default:0 }}&amp;rendered_by={{ user.pk }}">{{ hours|hours }}</a>
            {% else %}-{% endif %}
          </th>
        {% endfor %}
        <th class="text-right">{{ circle.total|hours }}</th>
      </tr>
      {% for role in circle.roles %}
      <tr>
        <td>
          <a href="https://app.glassfrog.com/roles/{{ role.role.pk }}">{{ role.role }}</a>
        </td>
        {% for user, hours in role.by_user %}
          <td class="text-right">
            {% if hours %}<a href="{% url 'logbook_loggedhours_list' %}?role={{ role.role.pk }}&amp;rendered_by={{ user.pk }}">{{ hours|hours }}</a>
            {% else %}-{% endif %}
          </td>
        {% endfor %}
        <td class="text-right">{{ role.total|hours }}</td>
      </tr>
      {% endfor %}
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}
