{% extends "base.html" %}
{% load fineforms i18n static workbench %}
{% block title %}
  {% translate 'Hours per type' %} - {{ block.super }}
{% endblock title %}

{% block content %}
  <h1>{% translate 'Hours per type' %}</h1>
  <form method="get" class="mb-3" data-autosubmit>
    {% ff_fields form %}
  </form>
  <table class="table table-sm vertical-stripes">
    <thead>
      <tr>
        <th></th>
        <th></th>
        {% for type in stats.types %}
          <th colspan="3">{{ type.name }}</th>
        {% endfor %}
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        {% for type in stats.types %}
          <td colspan="3">{{ type.description }}</td>
        {% endfor %}
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th>{% translate 'Total' %}</th>
        {% for type in stats.types %}
          <th class="text-end">{% translate 'Hours' %}</th>
          <th class="text-end">{% translate 'Target value' %}</th>
          <th class="text-end">{% translate 'Reached' %}</th>
        {% endfor %}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for row in stats.users %}
        <tr>
          <th class="text-nowrap">{{ row.user }}</th>
          <th class="text-end"><a href="{{ row.url }}">{{ row.total|hours }}</a></th>
          {% for type in row.hours_per_type %}
            <td class="text-end {% if not type.hours %}text-black-30{% endif %}"><a href="{{ type.url }}">{{ type.hours|hours }}</a></td>
            <td class="text-end {% if not type.expected %}text-black-30{% endif %}">{{ type.expected|stringformat:".1f" }}%</td>
            <td class="text-end {% if not type.reached %}text-black-30{% endif %} {{ type.highlight }}">{{ type.reached|stringformat:".1f" }}%</td>
          {% endfor %}
          <th class="text-end"></th>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>{% translate 'Total' %}</th>
        <th class="text-end"><a href="{{ stats.logbook_url }}">{{ stats.total.total|hours }}</a></th>
        {% for row in stats.overall %}
          <th class="text-end"><a href="{{ row.url }}">{{ row.hours|hours }}</a></th>
          <th class="text-end" colspan="2">{% percentage row.hours stats.total.total %}</th>
        {% endfor %}
      </tr>
    </tfoot>
  </table>
<style>
.vertical-stripes tbody td:nth-child(6n+3),
.vertical-stripes tbody td:nth-child(6n+4),
.vertical-stripes tbody td:nth-child(6n+5) {
  background: var(--bs-secondary-bg);
}
</style>
{% endblock content %}
