{% extends "base.html" %}

{% load fineforms i18n static workbench %}

{% block title %}{% translate 'Hours per work category' %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
<div class="col-sm-12 col-lg-10">
  <h1>{% translate 'Hours per work category' %}</h1>

  <form method="get" class="mb-3" data-autosubmit>
    {% ff_fields form %}
  </form>

  <script src="{% static 'workbench/lib/Chart.min.js' %}"></script>
  <canvas id="hours-distribution" width="1200" height="450"></canvas>
  <script>
    new Chart("hours-distribution", {
      type: "bar",
      data: {
        labels: [{% for user, user_stats in stats.users %}"{{ user.get_short_name }}", {% endfor %}],
        datasets: [
          {% for dataset in stats.chart %}
          {
            label: "{{ dataset.label }}",
            data: [{% for value in dataset.hours %}{{ value|stringformat:".2f" }}, {% endfor %}],
            backgroundColor: "{% cycle '#3fb61888' '#6610f2' '#e83e8c' '#20c997' '#f0ad4e' '#e8e8e8' %}",
          },
          {% endfor %}
        ],
      },
      options: {
        scales: {
          xAxes: [{stacked: true}],
          yAxes: [{stacked: true, ticks: {min: 0, max: 100}}],
        },
      },
    });
  </script>

  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>{% translate 'user'|capfirst %}</th>
        {% for name, title, description in stats.categories %}
          <th class="text-right">
            {{ title }}<br>
            <small>{{ description }}</small>
          </th>
          <th></th>
        {% endfor %}
        <th class="text-right">{% translate 'Undefined' %}</th>
        <th></th>
        <th class="text-right">{% translate 'total'|capfirst %}</th>
      </tr>
    </thead>
    <tbody>
    {% for user, user_stats in stats.users %}
    <tr>
      {% if user %}
        <td>{{ user }}</td>
      {% else %}
        <th>{% translate 'total'|capfirst %}</th>
      {% endif %}
      {% for category, hour in user_stats.per_category %}
        <td class="text-right">
          <a href="{% url 'logbook_loggedhours_list' %}?rendered_by={{ user.id }}&amp;category={{ category }}" {% if not hour %}class="text-black-30"{% endif %}>
            {{ hour|hours }}
          </a>
        </td>
        <td>{% percentage hour user_stats.total %}</td>
      {% endfor %}
      <td class="text-right">
        <a href="{% url 'logbook_loggedhours_list' %}?rendered_by={{ user.id }}&amp;category=none" {% if not user_stats.undefined %}class="text-black-30"{% endif %}>
          {{ user_stats.undefined|hours }}
        </a>
      </td>
      <td>{% percentage user_stats.undefined user_stats.total %}</td>
      <td class="text-right">{{ user_stats.total|hours }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

</div>
</div>
{% endblock %}
