{% extends "base.html" %}

{% load fineforms i18n static workbench %}

{% block title %}{% trans 'hours per customer' %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
<div class="col-sm-12 col-md-8">
  <h1>{% trans 'hours per customer' %}</h1>

  <form method="get" class="mb-3">
    {% ff_fields form %}
    {% ff_submit _('show') %}
  </form>

  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th></th>
        {% for user in stats.users %}<th class="text-right">{{ user.get_short_name }}</th>{% endfor %}
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for row in stats.organizations %}
    <tr>
      <th>{% link_or_none row.organization %}</th>
      {% for hours in row.user_hours %}
        {% if hours %}<td class="text-right">{{ hours|hours }}</td>
        {% else %}<td></td>
        {% endif %}
      {% endfor %}
      <td class="text-right">{{ row.total_hours|hours }}</td>
    </tr>
    {% if forloop.counter|divisibleby:10 %}
      <tr>
        <th></th>
        {% for user in stats.users %}<th>{{ user.get_short_name }}</th>{% endfor %}
        <th></th>
      </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>

</div>
</div>
{% endblock %}
