{% extends "modal.html" %}
{% load i18n workbench %}
{% block size %}modal-xl{% endblock %}

{% block title %}
  {% translate 'Gross profit' %} {{ date_range.0|date:'F Y' }}
{% endblock title %}

{% block body %}
  <table class="table table-sm bg-light">
    <tr>
      <th class="w-100">{% translate 'invoice'|capfirst %}</th>
      <th class="text-nowrap">{% translate 'type'|capfirst %}</th>
      <th class="text-nowrap">{% translate 'invoiced on'|capfirst %}</th>
      <th class="text-nowrap text-end">{% translate 'total'|capfirst %}</th>
      <th class="text-nowrap text-end">{% translate 'total excl. tax'|capfirst %}</th>
    </tr>
    {% for invoice in invoices %}
      <tr>
        <td>
          <a href="{{ invoice.get_absolute_url }}">
            {{ invoice|h }}
            {{ invoice.status_badge }}
          </a>
        </td>
        <td>{{ invoice.get_type_display }}</td>
        <td>{{ invoice.invoiced_on|local_date_format }}</td>
        <td class="text-end">{{ invoice.total|currency }}</td>
        <td class="text-end">{{ invoice.total_excl_tax|currency }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock body %}
