{% extends "modal.html" %}

{% load i18n workbench %}

{% block size %}modal-xl{% endblock %}

{% block title %}{% trans 'gross profit' %} {{ date_range.0|date:'F Y' }}{% endblock %}

{% block body %}
<table class="table table-sm bg-light">
  <tr>
    <th class="w-100">{% trans 'invoice' %}</th>
    <th class="text-nowrap">{% trans 'type' %}</th>
    <th class="text-nowrap">{% trans 'invoiced on' %}</th>
    <th class="text-nowrap text-right">{% trans 'total' %}</th>
    <th class="text-nowrap text-right">{% trans 'total excl. tax' %}</th>
  </tr>
  {% for invoice in invoices %}
    <tr>
      <td>
        <a href="{{ invoice.get_absolute_url }}">
          {{ invoice|h }}
          {{ invoice.status_badge }}
        </a>
      </td>
      <td>{{ invoice.get_type_display }}</td>
      <td>{{ invoice.invoiced_on|local_date_format }}</td>
      <td class="text-right">{{ invoice.total|currency }}</td>
      <td class="text-right">{{ invoice.total_excl_tax|currency }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
