{% extends "base.html" %}

{% load fineforms i18n static workbench %}

{% block title %}{% trans 'key data' %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
<div class="col-sm-12 col-md-8">
  <h1>
    {% trans 'key data' %}
    <small>{{ date_range.0|local_date_format }} &ndash; {{ date_range.1|local_date_format }}</small>
  </h1>

  <script src="{% static 'workbench/lib/Chart.min.js' %}"></script>

  <h2 class="mt-5">{% trans 'revenue minus third party costs and accruals' %}</h2>
  <canvas id="invoiced-corrected" width="800" height="350"></canvas>
  <script>
    new Chart("invoiced-corrected", {
      type: "bar",
      data: {
        labels: ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"],
        datasets: [
          {% for year, month_data in invoiced_corrected %}
          {
            label: "{{ year }}",
            data: [{% for value in month_data %}{{ value|stringformat:"d" }}, {% endfor %}],
            backgroundColor: "{% cycle 'rgba(100, 30, 50, 0.3)' 'rgba(0, 150, 0, 0.3)' 'rgba(0, 0, 150, 0.3)' %}",
            borderColor: "{% cycle 'rgba(100, 30, 50, 0.4)' 'rgba(0, 150, 0, 0.4)' 'rgba(0, 0, 150, 0.4)' %}",
            type: "{% cycle 'line' 'line' 'bar' %}",
          },
          {% endfor %}
        ],
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        },
        elements: {
          line: {
            tension: 0,
            fill: "none",
          }
        },
      }
    });
  </script>

  <table class="table">
    <thead>
      <tr>
        <th>{% trans 'month' %}</th>
        <th class="text-right">{% trans 'gross profit' %}</th>
        <th class="text-right">{% trans 'third party costs' %}</th>
        <th class="text-right">{% trans 'accruals' %}</th>
        <th class="text-right">{% trans 'gross margin' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for month in gross_margin_by_month reversed %}
      <tr>
        <td>{{ month.date|date:'F Y' }}</td>
        <td class="text-right">{{ month.gross_profit|currency }}</td>
        <td class="text-right">{{ month.third_party_costs|currency }}</td>
        <td class="text-right text-nowrap" title="{{ month.accruals.accrual|currency }} {% trans 'total' %}">
          {% if month.accruals.delta > 0 %}+{% endif %}{{ month.accruals.delta|currency }}
        </td>
        <td class="text-right">{{ month.gross_margin|currency }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2 class="mt-5">{% trans 'green hours' %}</h2>
  <canvas id="green-hours" width="800" height="350"></canvas>
  <script>
    new Chart("green-hours", {
      type: "bar",
      data: {
        labels: ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"],
        datasets: [
          {% for year, month_data in green_hours %}
          {
            label: "{{ year }}",
            data: [{% for value in month_data %}{{ value.green|stringformat:"d" }}, {% endfor %}],
            backgroundColor: "{% cycle 'rgba(100, 30, 50, 0.3)' 'rgba(0, 150, 0, 0.3)' 'rgba(0, 0, 150, 0.3)' %}",
            borderColor: "{% cycle 'rgba(100, 30, 50, 0.4)' 'rgba(0, 150, 0, 0.4)' 'rgba(0, 0, 150, 0.4)' %}",
            type: "{% cycle 'line' 'line' 'bar' %}",
          },
          {% endfor %}
        ],
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        },
        elements: {
          line: {
            tension: 0,
            fill: "none",
          }
        },
      }
    });
  </script>

  <h2 class="mt-5">{% trans 'hours distribution' %}</h2>
  <canvas id="hours-distribution" width="800" height="300"></canvas>
  <script>
    new Chart("hours-distribution", {
      type: "bar",
      data: {
        labels: [{% for label in hours_distribution.labels %}"{{ label }}", {% endfor %}],
        datasets: [
          {% for dataset in hours_distribution.datasets %}
          {
            label: "{{ dataset.label }}",
            data: [{% for value in dataset.data %}{{ value|stringformat:".2f" }}, {% endfor %}],
            backgroundColor: "{% cycle 'rgba(0, 150, 0, 0.4)' 'rgba(150, 50, 30, 0.4)' 'rgba(50, 40, 30, 0.4)' 'rgba(0, 0, 150, 0.4)' %}",
          },
          {% endfor %}
        ],
      },
      options: {
        scales: {
          xAxes: [{stacked: true}],
          yAxes: [{stacked: true, ticks: {min: 0, max: 100}}],
        },
      },
    });
  </script>

</div>
</div>
{% endblock %}
