{% extends "base.html" %}
{% load fineforms i18n static workbench %}
{% block title %}
  {% translate 'Key data' %} - {{ block.super }}
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <h1>
        {% translate 'Key data' %}
        {# <small>{{ date_range.0|local_date_format }} &ndash; {{ date_range.1|local_date_format }}</small> #}
      </h1>
      <h2 class="mt-5">{% translate 'Facts' %}</h2>
      <table class="table">
        <tr>
          <td class="text-right">{{ service_hours_in_open_orders|hours }}</td>
          <th>{% translate 'Service hours in open orders' %}</th>
        </tr>
        <tr>
          <td class="text-right">{{ logged_hours_in_open_orders|hours }}</td>
          <th>{% translate 'Logged hours in open orders' %}</th>
        </tr>
        <tr>
          <td class="text-right">{{ sent_invoices_total|currency }}</td>
          <th>{% translate 'Sent invoices total excl. tax' %}</th>
        </tr>
        <tr>
          <td class="text-right">{{ due_invoices_total|currency }}</td>
          <th>{% translate 'Total excl. tax of all invoices due today or earlier' %}</th>
        </tr>
        <tr>
          <td class="text-right">{{ open_offers_total|currency }}</td>
          <th>{% translate 'Open offers total excl. tax' %}</th>
        </tr>
        <tr>
          <td class="text-right">{{ average_employment_duration.current_users|stringformat:'.2f' }} {% translate 'years' %}</td>
          <th>{% translate 'Average employment duration of current users' %}</th>
        </tr>
        <tr>
          <td class="text-right">{{ average_employment_duration.all_users|stringformat:'.2f' }} {% translate 'years' %}</td>
          <th>{% translate 'Average employment duration of all users' %}</th>
        </tr>
      </table>
      <script src="{% static 'workbench/lib/Chart.min.js' %}"></script>
      <h2 class="mt-5">{% translate 'Revenue minus third party costs and accruals' %}</h2>
      <canvas id="invoiced-corrected" width="1200" height="450"></canvas>
      <script>
    new Chart("invoiced-corrected", {
      type: "bar",
      data: {
        labels: ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"],
        datasets: [
          {% for year, month_data in invoiced_corrected %}
          {
            label: "{{ year }}",
            data: [{% for value in month_data %}{{ value|stringformat:"d" }},{% endfor %}],
            backgroundColor: "{% cycle 'rgba(30, 0, 100, 0.3)' 'rgba(100, 30, 50, 0.3)' 'rgba(0, 150, 0, 0.3)' 'rgba(0, 0, 150, 0.3)' %}",
            borderColor: "{% cycle 'rgba(30, 0, 100, 0.3)' 'rgba(100, 30, 50, 0.4)' 'rgba(0, 150, 0, 0.4)' 'rgba(0, 0, 150, 0.4)' %}",
            type: "{% cycle 'line' 'line' 'line' 'bar' %}",
            stack: "{% cycle '' '' '' 'this' %}",
          },
          {% endfor %}
          {
            label: "{% translate 'projected gross margin'|capfirst %}",
            data: [{% for pi in projected_invoices %}{{ pi|stringformat:'d' }},{% endfor %}],
            backgroundColor: "rgba(100, 180, 180, 0.4)",
            borderColor: "rgba(100, 180, 180, 0.6)",
            type: "bar",
            stack: "this",
          },
        ],
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        },
        elements: {
          line: {
            tension: 0,
            fill: "none",
          }
        },
      }
    });
      </script>
      <table class="table table-hover">
        <thead class="sticky">
          <tr>
            <th>{% translate 'month'|capfirst %}</th>
            <th class="text-right">{% translate 'Gross profit' %}</th>
            <th class="text-right">{% translate 'third party costs'|capfirst %}</th>
            <th class="text-right">{% translate 'accruals'|capfirst %}</th>
            <th class="text-right"></th>
            <th class="text-right">{% translate 'Gross margin' %}</th>
            <th class="text-right">
              <a href="projected-invoices/" target="_blank">{% translate 'Projected' %}</a>
            </th>
            <th class="text-right">{% translate 'FTE' %}</th>
            <th class="text-right">{% translate 'Margin / FTE' %}</th>
          </tr>
        </thead>
        <tbody>
          <tr style="font-style:italic">
            <th>{% translate 'projection'|capfirst %}</th>
            <th class="text-right">
              {{ gross_margin_projection.gross_profit|currency }}
            </th>
            <th class="text-right"></th>
            <th></th>
            <th class="text-right"></th>
            <th class="text-right">
              {{ gross_margin_projection.gross_margin|currency }}
            </th>
            <th class="text-right">
              {{ gross_margin_projection.gross_margin_incl_projected_invoices|currency }}
            </th>
            <th class="text-right"></th>
            <th class="text-right">
              {{ gross_margin_projection.margin_per_fte|currency }}
            </th>
          </tr>
          {% for year in gross_margin_by_years reversed %}
            <tr>
              <th>{{ year.year }}</th>
              <th class="text-right">
                {{ year.gross_profit|currency }}
              </th>
              <th class="text-right">
                {{ year.third_party_costs|currency }}
              </th>
              <th>
              </th>
              <th class="text-right">
                {{ year.accruals|currency }}
              </th>
              <th class="text-right">
                {{ year.gross_margin|currency }}
              </th>
              <th class="text-right">
                {{ year.projected_invoices|currency }}
              </th>
              <th class="text-right">
                {{ year.fte|stringformat:'.1f' }}
              </th>
              <th class="text-right">
                {{ year.margin_per_fte|currency }}
              </th>
            </tr>
            {% for month in year.months reversed %}
              <tr>
                <td>
                  {{ month.date|date:'F' }}
                </td>
                <td class="text-right">
                  <a href="gross-profit/{{ month.date|date:'Y.m' }}/"
                     data-toggle="ajaxmodal">
                    {{ month.gross_profit|currency }}
                  </a>
                </td>
                <td class="text-right">
                  <a href="third-party-costs/{{ month.date|date:'Y.m' }}/"
                     data-toggle="ajaxmodal">
                    {{ month.third_party_costs|currency:1 }}
                  </a>
                </td>
                <td class="text-right text-muted">
                  {{ month.accruals.accrual|currency }}
                </td>
                <td class="text-right">
                  {{ month.accruals.delta|currency:1 }}
                </td>
                <td class="text-right">
                  {{ month.gross_margin|currency }}
                </td>
                <td class="text-right text-muted">
                  {% if month.projected_invoices %}
                    <a href="projected-invoices/" target="_blank">
                      {{ month.projected_invoices|currency:1 }}
                    </a>
                  {% endif %}
                </td>
                <td class="text-right">
                  {{ month.fte|stringformat:'.1f' }}
                </td>
                <td class="text-right">
                  {{ month.margin_per_fte|currency }}
                </td>
              </tr>
            {% endfor %}
            {# months #}
          {% endfor %}
          {# years #}
        </tbody>
      </table>
      <h2 class="mt-5">
        {% translate 'Hours distribution' %}
      </h2>
      <canvas id="hours-distribution" width="1200" height="450"></canvas>
      <script>
    new Chart("hours-distribution", {
      type: "bar",
      data: {
        labels: [{% for label in hours_distribution.labels %}"{{ label }}",{% endfor %}],
        datasets: [
          {% for dataset in hours_distribution.datasets %}
          {
            label: "{{ dataset.label }}",
            data: [{% for value in dataset.data %}{{ value|stringformat:".2f" }},{% endfor %}],
            backgroundColor: "{% cycle 'rgba(0, 150, 0, 0.4)' 'rgba(150, 50, 30, 0.4)' 'rgba(50, 40, 30, 0.4)' 'rgba(0, 0, 150, 0.4)' %}",
          },
          {% endfor %}
        ],
      },
      options: {
        scales: {
          xAxes: [{stacked: true}],
          yAxes: [{stacked: true, ticks: {min: 0, max: 100}}],
        },
      },
    });
      </script>
      <table class="table">
        <thead class="sticky">
          <tr>
            <th>
              {% translate 'month' %}
            </th>
            <th class="text-right">
              {% translate 'profitable' %}
            </th>
            <th>
            </th>
            <th class="text-right">
              {% translate 'overdrawn' %}
            </th>
            <th>
            </th>
            <th class="text-right">
              {% translate 'maintenance' %}
            </th>
            <th>
            </th>
            <th class="text-right">
              {% translate 'internal' %}
            </th>
            <th>
            </th>
            <th class="text-right">
              {% translate 'green' %}
            </th>
          </tr>
        </thead>
        <tbody>
          {% for year, year_stats, months in green_hours reversed %}
            <tr>
              <th>
                {{ year }}
              </th>
              <th class="text-right">
                {{ year_stats.green|hours }}
              </th>
              <th>
                {% percentage year_stats.green year_stats.total %}
              </th>
              <th class="text-right">
                {{ year_stats.red|hours }}
              </th>
              <th>
                {% percentage year_stats.red year_stats.total %}
              </th>
              <th class="text-right">
                {{ year_stats.maintenance|hours }}
              </th>
              <th>
                {% percentage year_stats.maintenance year_stats.total %}
              </th>
              <th class="text-right">
                {{ year_stats.internal|hours }}
              </th>
              <th>
                {% percentage year_stats.internal year_stats.total %}
              </th>
              <th class="text-right">
                {{ year_stats.percentage }}%
              </th>
            </tr>
            {% for month in months reversed %}
              <tr>
                <td>
                  {{ month.month|date:'F' }}
                </td>
                <td class="text-right">
                  {{ month.green|hours }}
                </td>
                <th>
                  {% percentage month.green month.total %}
                </th>
                <td class="text-right">
                  {{ month.red|hours }}
                </td>
                <th>
                  {% percentage month.red month.total %}
                </th>
                <td class="text-right">
                  {{ month.maintenance|hours }}
                </td>
                <th>
                  {% percentage month.maintenance month.total %}
                </th>
                <td class="text-right">
                  {{ month.internal|hours }}
                </td>
                <th>
                  {% percentage month.internal month.total %}
                </th>
                <td class="text-right">
                  {{ month.percentage|stringformat:'d' }}%
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
