{% extends "base.html" %}

{% load fineforms i18n static workbench %}

{% block title %}{% trans 'key data' %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
<div class="col-sm-12">
  <h1>
    {% trans 'key data' %}
    {# <small>{{ date_range.0|local_date_format }} &ndash; {{ date_range.1|local_date_format }}</small> #}
  </h1>

  <h2 class="mt-5">{% trans 'facts' %}</h2>
  <table class="table">
    <tr>
      <td class="text-right">{{ service_hours_in_open_orders|hours }}</td>
      <th>{% trans 'service hours in open orders' %}</th>
    </tr>
    <tr>
      <td class="text-right">{{ logged_hours_in_open_orders|hours }}</td>
      <th>{% trans 'logged hours in open orders' %}</th>
    </tr>
    <tr>
      <td class="text-right">{{ sent_invoices_total|currency }}</td>
      <th>{% trans 'sent invoices total excl. tax' %}</th>
    </tr>
  </table>

  <script src="{% static 'workbench/lib/Chart.min.js' %}"></script>

  <h2 class="mt-5">{% trans 'revenue minus third party costs and accruals' %}</h2>
  <canvas id="invoiced-corrected" width="800" height="300"></canvas>
  <script>
    new Chart("invoiced-corrected", {
      type: "bar",
      data: {
        labels: ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"],
        datasets: [
          {% for year, month_data in invoiced_corrected %}
          {
            label: "{{ year }}",
            data: [{% for value in month_data %}{{ value|stringformat:"d" }}, {% endfor %}],
            backgroundColor: "{% cycle 'rgba(100, 30, 50, 0.3)' 'rgba(0, 150, 0, 0.3)' 'rgba(0, 0, 150, 0.3)' %}",
            borderColor: "{% cycle 'rgba(100, 30, 50, 0.4)' 'rgba(0, 150, 0, 0.4)' 'rgba(0, 0, 150, 0.4)' %}",
            type: "{% cycle 'line' 'line' 'bar' %}",
          },
          {% endfor %}
        ],
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        },
        elements: {
          line: {
            tension: 0,
            fill: "none",
          }
        },
      }
    });
  </script>

  <table class="table table-hover">
    <thead class="sticky">
      <tr>
        <th>{% trans 'month' %}</th>
        <th class="text-right">{% trans 'gross profit' %}</th>
        <th class="text-right">{% trans 'third party costs' %}</th>
        <th class="text-right">{% trans 'accruals' %}</th>
        <th class="text-right"></th>
        <th class="text-right">{% trans 'gross margin' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for month in gross_margin_by_month reversed %}
      <tr>
        <td>{{ month.date|date:'F Y' }}</td>
        <td class="text-right">
          <a href="#gp{{ month.key }}" data-toggle="collapse">
            {{ month.gross_profit.total_excl_tax|currency }}
          </a>
        </td>
        <td class="text-right">
          <a href="#tpc{{ month.key }}" data-toggle="collapse">
            {{ month.third_party_costs.third_party_costs|currency:1 }}
          </a>
        </td>
        <td class="text-right text-muted">{{ month.accruals.accrual|currency }}</td>
        <td class="text-right">{{ month.accruals.delta|currency:1 }}</td>
        <td class="text-right">{{ month.gross_margin|currency }}</td>
      </tr>

      <tr>
        <td colspan="6" class="collapse bg-dark" id="gp{{ month.key }}">
          <table class="table table-sm bg-light">
            <tr>
              <th class="w-100">{% trans 'invoice' %}</th>
              <th class="text-nowrap">{% trans 'invoiced on' %}</th>
              <th class="text-nowrap text-right">{% trans 'total' %}</th>
              <th class="text-nowrap text-right">{% trans 'total excl. tax' %}</th>
            </tr>
            {% for invoice in month.gross_profit.invoices %}
              <tr>
                <td>
                  <a href="{{ invoice.get_absolute_url }}">
                    {{ invoice|h }}
                    {{ invoice.status_badge }}
                  </a>
                </td>
                <td>{{ invoice.invoiced_on|local_date_format }}</td>
                <td class="text-right">{{ invoice.total|currency }}</td>
                <td class="text-right">{{ invoice.total_excl_tax|currency }}</td>
              </tr>
            {% endfor %}
          </table>
        </td>
      </tr>

      <tr>
        <td colspan="6" class="collapse bg-dark" id="tpc{{ month.key }}">
          <table class="table table-sm bg-light">
            {% for cost in month.third_party_costs.logged_costs %}
              {% if forloop.first %}
                <tr>
                  <th class="w-100">{% trans 'logged cost' %}</th>
                  <th class="text-nowrap">{% trans 'date' %}</th>
                  <th class="text-nowrap text-right">{% trans 'third party costs' %}</th>
                </tr>
              {% endif %}
              <tr>
                <td>
                  <a data-toggle="ajaxmodal" href="{{ cost.get_absolute_url }}">
                    {{ cost.service }}: {{ cost }}
                  </a>
                </td>
                <td>{{ cost.rendered_on|local_date_format }}</td>
                <td class="text-right">{{ cost.third_party_costs|currency }}</td>
              </tr>
            {% endfor %}

            {% for invoice in month.third_party_costs.invoices %}
              {% if forloop.first %}
                <tr>
                  <th class="w-100">{% trans 'invoice' %}</th>
                  <th class="text-nowrap">{% trans 'date' %}</th>
                  <th class="text-nowrap text-right">{% trans 'third party costs' %}</th>
                </tr>
              {% endif %}
              <tr>
                <td>
                  <a href="{{ invoice.get_absolute_url }}">
                    {{ invoice|h }}
                    {{ invoice.status_badge }}
                  </a>
                </td>
                <td>{{ invoice.invoiced_on|local_date_format }}</td>
                <td class="text-right">{{ invoice.third_party_costs|currency }}</td>
              </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2 class="mt-5">{% trans 'hours distribution' %}</h2>
  <canvas id="hours-distribution" width="800" height="300"></canvas>
  <script>
    new Chart("hours-distribution", {
      type: "bar",
      data: {
        labels: [{% for label in hours_distribution.labels %}"{{ label }}", {% endfor %}],
        datasets: [
          {% for dataset in hours_distribution.datasets %}
          {
            label: "{{ dataset.label }}",
            data: [{% for value in dataset.data %}{{ value|stringformat:".2f" }}, {% endfor %}],
            backgroundColor: "{% cycle 'rgba(0, 150, 0, 0.4)' 'rgba(150, 50, 30, 0.4)' 'rgba(50, 40, 30, 0.4)' 'rgba(0, 0, 150, 0.4)' %}",
          },
          {% endfor %}
        ],
      },
      options: {
        scales: {
          xAxes: [{stacked: true}],
          yAxes: [{stacked: true, ticks: {min: 0, max: 100}}],
        },
      },
    });
  </script>

  <table class="table">
    <thead class="sticky">
      <tr>
        <th>{% trans 'month' %}</th>
        <th class="text-right">{% trans 'profitable' %}</th>
        <th></th>
        <th class="text-right">{% trans 'overdrawn' %}</th>
        <th></th>
        <th class="text-right">{% trans 'maintenance' %}</th>
        <th></th>
        <th class="text-right">{% trans 'internal' %}</th>
        <th></th>
        <th class="text-right">{% trans 'green' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for year, year_stats, months in green_hours reversed %}
        <tr>
          <th>{{ year }}</th>
          <th class="text-right">{{ year_stats.green|hours }}</th>
          <th>{% percentage year_stats.green year_stats.total %}</th>
          <th class="text-right">{{ year_stats.red|hours }}</th>
          <th>{% percentage year_stats.red year_stats.total %}</th>
          <th class="text-right">{{ year_stats.maintenance|hours }}</th>
          <th>{% percentage year_stats.maintenance year_stats.total %}</th>
          <th class="text-right">{{ year_stats.internal|hours }}</th>
          <th>{% percentage year_stats.internal year_stats.total %}</th>
          <th class="text-right">{{ year_stats.percentage }}%</th>
        </tr>
        {% for month in months reversed %}
        <tr>
          <td>{{ month.month|date:'F Y' }}</td>
          <td class="text-right">{{ month.green|hours }}</td>
          <th>{% percentage month.green month.total %}</th>
          <td class="text-right">{{ month.red|hours }}</td>
          <th>{% percentage month.red month.total %}</th>
          <td class="text-right">{{ month.maintenance|hours }}</td>
          <th>{% percentage month.maintenance month.total %}</th>
          <td class="text-right">{{ month.internal|hours }}</td>
          <th>{% percentage month.internal month.total %}</th>
          <td class="text-right">{{ month.percentage|stringformat:'d' }}%</td>
        </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>

</div>
</div>
{% endblock %}
