{% extends "modal.html" %}

{% load i18n workbench %}

{% block size %}modal-xl{% endblock %}

{% block title %}{% trans 'Labor costs for ' %} {{ stats.project }} {{ date_range.0|date:'F Y' }}{% endblock %}

{% block body %}
<table class="table table-sm bg-light">
  <tr>
    <th>{% trans 'invoice'|capfirst %}</th>
    <th class="text-right">{% trans 'hours' %}</th>
    <th class="text-right">{% trans 'hours with rate undefined' %}</th>
    <th class="text-right">{% trans 'costs' %}</th>
    <th class="text-right">{% trans 'costs with green hours target' %}</th>
  </tr>
  {% for user, user_stats in by_user %}
    <tr>
      <td>{{ user }}</td>
      <td class="text-right">{{ user_stats.hours|hours }}</td>
      <td class="text-right">{{ user_stats.hours_with_rate_undefined|hours }}</td>
      <td class="text-right">{{ user_stats.costs|currency }}</td>
      <td class="text-right">{{ user_stats.costs_with_green_hours_target|currency }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
