{% extends "base.html" %}

{% load fineforms i18n static workbench %}

{% block title %}{% trans 'Labor costs' %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
<div class="col-sm-12 col-md-8">
  <h1>
    {% trans 'Labor costs' %}
    <small style="font-size:60%">
      {% for year in years %}
        <a {% if year == active_year %}class="active"{% endif %} href="{% querystring year=year %}">{{ year }}</a>
        {% if not forloop.last %} / {% endif %}
      {% endfor %}
    </small>
  </h1>

  {% comment %}
  <form method="get" class="mb-3">
    {% ff_fields form %}
    {% ff_submit _('Show') %}
  </form>
  {% endcomment %}

  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>{% trans 'project'|capfirst %}</th>
        <th class="text-right">{% trans 'hours'|capfirst %}</th>
        <th class="text-right">{% trans 'Hours with rate undefined' %}</th>
        <th class="text-right">{% trans 'costs'|capfirst %}</th>
        <th class="text-right">{% trans 'Costs with green hours target' %}</th>
      </tr>
    </thead>
    <tbody>
    {% for cc_row in stats.cost_centers %}
      <tr>
        <th>
          {% if cc_row.cost_center %}
            <a href="{% querystring cost_center=cc_row.cost_center.id %}" data-toggle="ajaxmodal">
              {{ cc_row.cost_center }}
            </a>
          {% else %}{% trans "No cost center defined" %}
          {% endif %}
        </th>
        <th class="text-right">{{ cc_row.hours|hours }}</th>
        <th class="text-right">{{ cc_row.hours_with_rate_undefined|hours }}</th>
        <th class="text-right">{{ cc_row.costs|currency }}</th>
        <th class="text-right">{{ cc_row.costs_with_green_hours_target|currency }}</th>
      </tr>
      {% for row in cc_row.projects %}
        <tr>
          <td>
            <a href="{% querystring project=row.project.id %}" data-toggle="ajaxmodal">
              {{ row.project|h }}
            </a>
          </td>
          <td class="text-right">{{ row.hours|hours }}</td>
          <td class="text-right">{{ row.hours_with_rate_undefined|hours }}</td>
          <td class="text-right">{{ row.costs|currency }}</td>
          <td class="text-right">{{ row.costs_with_green_hours_target|currency }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
    <tr>
      <th>
        <a href="{% querystring users="all" %}" data-toggle="ajaxmodal">
          {% trans 'total'|capfirst %}
        </a>
      </th>
      <th class="text-right">{{ stats.hours|hours }}</th>
      <th class="text-right">{{ stats.hours_with_rate_undefined|hours }}</th>
      <th class="text-right">{{ stats.costs|currency }}</th>
      <th class="text-right">{{ stats.costs_with_green_hours_target|currency }}</th>
    </tr>
    </tbody>
  </table>

</div>
</div>
{% endblock %}
