{% extends "base.html" %}
{% load fineforms i18n static workbench %}
{% block title %}
  {% translate 'Logging statistics' %} - {{ block.super }}
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-8">
      <h1>{% translate 'Logging statistics' %}</h1>
      <form method="get" class="mb-3" data-autosubmit>
        {% ff_fields form %}
      </form>
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>{% translate 'user'|capfirst %}</th>
            <th>{% translate 'Point in time of logging' %}</th>
            <th class="text-end">{% translate 'Count' %}</th>
            <th class="text-end">{% translate 'Sum' %}</th>
            <th class="text-end">{% translate 'Average' %}</th>
            <th class="text-end">{% translate 'Days with insufficient breaks' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for row in logbook_stats.users %}
            <tr>
              <td>{{ row.user }}</td>
              <td>
                <span class="badge text-bg-{{ row.mean_logging_delay.classification.1 }}"
                      title="{{ row.mean_logging_delay.classification.2 }}">
                  {{ row.mean_logging_delay.classification.0 }}
                </span>
              </td>
              <td class="text-end">{{ row.logged_hours_stats.count }}</td>
              <td class="text-end">{{ row.logged_hours_stats.sum|hours }}</td>
              <td class="text-end">{{ row.logged_hours_stats.avg|stringformat:'.2f' }}h</td>
              <td class="text-end {% if row.insufficient_breaks.danger %}text-danger fw-bold{% endif %}">
                {{ row.insufficient_breaks.days }} / {{ row.insufficient_breaks.of }}
                {% pie row.insufficient_breaks.days row.insufficient_breaks.of %}
              </td>
            </tr>
          {% endfor %}
          <tr>
            <th>{% translate 'total'|capfirst %}</th>
            <th></th>
            <th class="text-end">{{ logbook_stats.logged_hours_stats.count }}</th>
            <th class="text-end">{{ logbook_stats.logged_hours_stats.sum|hours }}</th>
            <th class="text-end">
              {% if logbook_stats.logged_hours_stats.avg is None %}
                &ndash;
              {% else %}
                {{ logbook_stats.logged_hours_stats.avg|stringformat:'.2f' }}h
              {% endif %}
            </th>
            <th class="text-end">
              {{ logbook_stats.insufficient_breaks.days }} / {{ logbook_stats.insufficient_breaks.of }}
              {% pie logbook_stats.insufficient_breaks.days logbook_stats.insufficient_breaks.of %}
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
