{% extends "base.html" %}

{% load i18n workbench %}

{% block title %}{% trans 'monthly invoicing' %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">
  <h1>{% trans 'monthly invoicing' %}</h1>

  <table class="table table-sm table-responsive-lg">
    <thead>
      <tr>
        <th class="w-100">{% trans 'invoice' %}</th>
        <th class="text-nowrap">{% trans 'invoiced on' %}</th>
        <th class="text-nowrap text-right">{% trans 'total' %}</th>
        <th class="text-nowrap text-right">{% trans 'total excl. tax' %}</th>
        <th class="text-nowrap text-right">{% trans 'third party costs' %}</th>
      </tr>
      <tr>
        <th colspan="2">{{ year }}</th>
        <th class="text-right">{{ monthly_invoicing.total|currency }}</th>
        <th class="text-right">{{ monthly_invoicing.total_excl_tax|currency }}</th>
        <th class="text-right">{{ monthly_invoicing.third_party_costs|currency }}</th>
      </tr>
    </thead>
    {% for month in monthly_invoicing.months %}
      <thead>
        <tr>
          <th colspan="2">
            <a href="#month{{ forloop.counter }}" data-toggle="collapse">
              {{ month.month|date:'F' }}
            </a>
          </th>
          <th class="text-right">{{ month.total|currency }}</th>
          <th class="text-right">{{ month.total_excl_tax|currency }}</th>
          <th class="text-right">{{ month.third_party_costs|currency }}</th>
        </tr>
      </thead>
      <tbody class="collapse" id="month{{ forloop.counter }}">
      {% for invoice in month.invoices %}
        <tr>
          <td>
            <a href="{{ invoice.get_absolute_url }}">
              {{ invoice|h }}
              {{ invoice.status_badge }}
            </a>
          </td>
          <td>{{ invoice.invoiced_on|local_date_format }}</td>
          <td class="text-right">{{ invoice.total|currency }}</td>
          <td class="text-right">{{ invoice.total_excl_tax|currency }}</td>
          <td></td>
        </tr>
      {% endfor %}
      </tbody>
    {% endfor %}
  </table>
</div>
</div>
{% endblock %}
