{% extends "base.html" %}

{% load i18n workbench %}

{% block title %}{% trans 'Overdrawn projects' %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">
  <h1>{% trans 'Overdrawn projects' %}</h1>

  <table class="table table-sm table-hover table-responsive-lg">
    <thead class="sticky">
      <tr>
        <th class="w-100">{% trans 'project'|capfirst %}</th>
        <th class="w-100">{% trans 'customer'|capfirst %}</th>
        <th class="text-nowrap text-right">{% trans 'effort hours'|capfirst %}</th>
        <th class="text-nowrap text-right">{% trans 'logged hours'|capfirst %}</th>
        <th class="text-nowrap text-right">{% trans 'overdrawn'|capfirst %}</th>
      </tr>
    </thead>
    <tbody>
    {% for row in overdrawn_projects %}
      <tr>
        <td>
          <a href="{{ row.project.get_absolute_url }}">
            {{ row.project|h }}
            {{ row.project.status_badge }}
          </a>
        </td>
        <td>
          <a href="{{ row.project.customer.get_absolute_url }}" class="d-block text-truncate">
            {{ row.project.customer }}
          </a>
        </td>
        <td class="text-right">{{ row.service_hours|hours }}</td>
        <td class="text-right">{{ row.logged_hours|hours }}</td>
        <td class="text-right">{{ row.delta|hours }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}
