{% extends "base.html" %}

{% load fineforms i18n static workbench %}

{% block title %}{% translate 'Planning vs Logbook' %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
<div class="col-sm-12 col-md-8">
  <h1>{% translate 'Planning vs Logbook' %}</h1>

  <form method="get" class="mb-3" data-autosubmit>
    {% ff_fields form %}
  </form>

  {% for user_row in stats.per_user %}
  <h2>{{ user_row.user }}</h2>

  <table class="table table-sm table-striped">
    <tr>
      <th></th>
      {% for week in stats.weeks %}
        <th class="text-right">{{ week.date|date:'d.m.' }}</th>
      {% endfor %}
      <th></th>
      <th></th>
    </tr>
  {% for customer_row in user_row.per_customer %}
  <tr>
    <th>{{ customer_row.customer }}</th>
    {% for week_row in customer_row.per_week %}
    <td
      class="text-right {% if not week_row.planned and not week_row.logged %}text-black-30{% endif %}"
      title="{{ week_row.week.date|local_date_format }}">
      {{ week_row.planned|hours }}<br>
      {{ week_row.logged|hours }}<br>
    </td>
    {% endfor %}
    <th class="text-right">
      {{ customer_row.planned|hours }}<br>
      {{ customer_row.logged|hours }}<br>
    </th>
    <th>
      {% translate 'Planned' %}<br>
      {% translate 'Logged' %}<br>
    </th>
  </tr>
  {% endfor %}
  </table>
  {% endfor %}

</div>
</div>
{% endblock %}
