{% extends "base.html" %}
{% load fineforms i18n static workbench %}
{% block title %}
  {% translate 'Planning vs Logbook' %} - {{ block.super }}
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
      <h1>{% translate 'Planning vs Logbook' %}</h1>
      <form method="get" class="mb-3" data-autosubmit>
        {% ff_fields form %}
      </form>
      <table class="table table-sm table-striped" data-sortable>
        <thead>
          <tr>
            <th>{% translate 'Customer' %}</th>
            <th data-no-sort style="min-width: 8rem"></th>
            <th class="text-end" data-sort-default="desc">{% translate 'Planned' %}</th>
            <th class="text-end" data-sort-default="desc">{% translate 'Logged' %}</th>
            <th class="text-end" data-sort-default="desc" data-sort-initial="desc">{% translate 'Diff' %}</th>
            <th data-sort-default="desc"></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>{% translate 'total'|capfirst %}</th>
            <td></td>
            <th class="text-end">{{ stats.planned|hours }}</th>
            <th class="text-end">{{ stats.logged|hours }}</th>
            <th class="text-end">{{ stats.diff|hours }}</th>
            <th>{% percentage stats.logged stats.planned %}</th>
          </tr>
        </tfoot>
        <tbody>
          {% for customer_row in stats.per_customer %}
            <tr>
              <td>{{ customer_row.customer }}</td>
              <td class="align-middle">{% bar customer_row.logged customer_row.planned %}</td>
              <td class="text-end">
                <span class="{% if not customer_row.planned %}text-black-30{% endif %}">{{ customer_row.planned|hours }}</span>
              </td>
              <td class="text-end">
                <span class="{% if not customer_row.logged %}text-black-30{% endif %}">{{ customer_row.logged|hours }}</span>
              </td>
              <td class="text-end {{ customer_row.css_class }}">{{ customer_row.diff|hours }}</td>
              <td>{% percentage customer_row.logged customer_row.planned %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
