{% extends "base.html" %}
{% load i18n workbench %}

{% block title %}
  {% translate 'projected gross margin'|capfirst %} - {{ block.super }}
{% endblock title %}

{% block content %}
  <h1>{% translate 'projected gross margin'|capfirst %}</h1>
  <table class="table table-sm bg-light vertical-stripes">
    <thead>
    <tr>
      <th class="w-100">{% translate 'project'|capfirst %}</th>
      <th class="text-nowrap text-right">{% translate 'Projected' %}</th>
      <th class="text-nowrap text-right">{% translate 'gross margin'|capfirst %}</th>
      <th class="text-nowrap text-right">{% translate 'Delta' %}</th>
      <th>&nbsp; &nbsp; &nbsp;</th>
      {% for m in months %}<th class="text-nowrap text-right">{{ m|date:'M y' }}</th>{% endfor %}
    </tr>
    <tr>
      <th class="w-100">{% translate 'Total' %}</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      {% for mo in monthly_overall %}<th class="text-nowrap text-right">{{ mo|currency }}</th>{% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for project in projects %}
      <tr>
        <td>
          <a href="{{ project.project.get_absolute_url }}">
            {{ project.project|h }}
            {{ project.project.status_badge }}
          </a>
        </td>
        <td class="text-right">{{ project.projected_total|currency }}</td>
        <td class="text-right">{{ project.gross_margin|currency }}</td>
        <td class="text-right">{{ project.delta|currency }}</td>
        <td>&nbsp;</td>
        {% for mo in project.monthly %}
          <td class="text-nowrap text-right">
            {% if mo %}{{ mo|currency }}{% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
<style>
.vertical-stripes thead {
  position: sticky;
  top: 0;
  background: #fff;
}
.vertical-stripes th:nth-child(2n+6),
.vertical-stripes td:nth-child(2n+6) {
  background: #eee;
}
</style>
{% endblock content %}
