{% extends "base.html" %}
{% load fineforms i18n static workbench %}
{% block title %}
  {% translate 'Project budget statistics' %} - {{ block.super }}
{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <h1>{% translate 'Project budget statistics' %}</h1>
      <form method="get" class="form-inline form-search mb-3" data-autosubmit>
        {% if form.changed_data %}
          <a class="btn btn-info"
             href="."
             title="{% translate 'Reset the filter form' %}"
             data-reset-filter>&times;</a>
        {% endif %}
        {% ff_fields form %}
      </form>
      <table class="table table-sm table-hover">
        <thead class="sticky">
          <tr>
            <th>{% translate 'project'|capfirst %}</th>
            <th class="text-right" title="{% translate 'Offered and accepted' %}">{% translate 'sold'|capfirst %}</th>
            <th class="text-right">{% translate 'discount'|capfirst %}</th>
            <th class="text-right">{% translate 'logbook'|capfirst %}</th>
            <th class="text-right">{% translate 'third party costs'|capfirst %}</th>
            <th class="text-right">{% translate 'invoiced'|capfirst %}</th>
            <th class="text-right">{% translate 'service hours'|capfirst %}</th>
            <th class="text-right">&Delta;</th>
            <th class="text-right" colspan="2">{% translate 'projected gross margin'|capfirst %}</th>
          </tr>
          <tr>
            <th colspan="8"></th>
            <th class="text-right">{% translate 'total' %}</th>
            <th class="text-right">{{ statistics.cutoff_date|date:'d.m.' }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th></th>
            <th class="text-right">{{ statistics.overall.sold|currency }}</th>
            <th class="text-right">{{ statistics.overall.discount|currency }}</th>
            <th class="text-right">{{ statistics.overall.logbook|currency }}</th>
            <th class="text-right">{{ statistics.overall.third_party_costs|currency }}</th>
            <th class="text-right">{{ statistics.overall.invoiced|currency }}</th>
            <th class="text-right text-nowrap">
              {{ statistics.overall.hours|hours }} / {{ statistics.overall.service_hours|hours }}
              {% bar statistics.overall.hours statistics.overall.service_hours %}
            </th>
            <th class="text-right">
              {{ statistics.overall.delta_positive|currency:True }}
              <br>
              {{ statistics.overall.delta_negative|currency:True }}
            </th>
            <th class="text-right {% if not statistics.overall.projected_gross_margin %}text-black-30{% endif %}">{{ statistics.overall.projected_gross_margin|currency }}</th>
            <th class="text-right {% if not statistics.overall.projected_gross_margin_on_cutoff_date %}text-black-30{% endif %}">{{ statistics.overall.projected_gross_margin_on_cutoff_date|currency }}</th>
          </tr>
          {% for project in statistics.statistics %}
            <tr>
              <td>{% link_or_none project.project with_badge=True %}</td>
              <td class="text-right
                         {% if not project.sold %}
                           text-black-30
                         {% endif %}">{{ project.sold|currency }}</td>
              <td class="text-right
                         {% if not project.discount %}
                           text-black-30
                         {% endif %}">{{ project.discount|currency }}</td>
              <td class="text-right text-nowrap
                         {% if not project.logbook and not project.effort_hours_with_rate_undefined %}
                           text-black-30
                         {% endif %}">
                {{ project.logbook|currency }}
                {% if project.effort_hours_with_rate_undefined %}
                  <span class="text-warning" title="{% translate 'undefined rate' %}">
                    (+{{ project.effort_hours_with_rate_undefined|hours }})
                  </span>
                {% endif %}
              </td>
              <td class="text-right
                         {% if not project.third_party_costs %}
                           text-black-30
                         {% endif %}">
                {{ project.third_party_costs|currency }}
              </td>
              <td class="text-right
                         {% if not project.invoiced %}
                           text-black-30
                         {% endif %}">{{ project.invoiced|currency }}</td>
              <td class="text-right text-nowrap">
                {{ project.hours|hours }} /
                {{ project.service_hours|hours }}
                {% bar project.hours project.service_hours %}
              </td>
              <td class="text-right {% if not project.delta %}text-black-30{% endif %}">{{ project.delta|currency:True }}</td>
              <td class="text-right {% if not project.projected_gross_margin %}text-black-30{% endif %}">{{ project.projected_gross_margin|currency }}</td>
              <td class="text-right {% if not project.projected_gross_margin_on_cutoff_date %}text-black-30{% endif %}">{{ project.projected_gross_margin_on_cutoff_date|currency }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% querystring export='xlsx' %}" class="btn btn-primary">
        {% include 'svg/desktop-download.svg' %}
        XLSX
      </a>
    </div>
  </div>
{% endblock content %}
