{% extends "base.html" %}

{% load fineforms i18n static workbench %}

{% block title %}{% trans 'project budget statistics' %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
<div class="col-sm-12 col-lg-10">
  <h1>{% trans 'project budget statistics' %}</h1>

  <form method="get" class="form-inline mb-3" data-autosubmit>
    {% ff_fields form %}
  </form>

  <table class="table table-sm table-hover">
    <thead class="sticky">
      <tr>
        <th>{% trans 'project' %}</th>
        <th class="text-right">{% trans 'offered' %}</th>
        <th class="text-right">{% trans 'logbook' %}</th>
        <th class="text-right">{% trans 'third party costs' %}</th>
        <th class="text-right">{% trans 'invoiced' %}</th>
        <th class="text-right">{% trans 'not archived' %}</th>
        <th class="text-right">&Delta;</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
        <tr>
          <td>{% link_or_none project.project with_badge=True %}</td>
          <td class="text-right">{{ project.offered|currency }}</td>
          <td class="text-right text-nowrap">
            {{ project.logbook|currency }}
            {% if project.effort_hours_with_rate_undefined %}
            <span class="text-warning" title="{% trans 'undefined rate' %}">(+{{ project.effort_hours_with_rate_undefined|hours }})</span>
            {% endif %}
          </td>
          <td class="text-right">{{ project.third_party_costs|currency }}</td>
          <td class="text-right">{{ project.invoiced|currency }}</td>
          <td class="text-right text-nowrap">
            {{ project.not_archived|hours }} / {{ project.hours|hours }}
            {% pie project.not_archived project.hours %}
          </td>
          <td class="text-right">{{ project.delta|currency:True }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% querystring xlsx=1 %}" class="btn btn-primary">
    {% include 'svg/desktop-download.svg' %} XLSX
  </a>
</div>
</div>
{% endblock %}
