.container-fluid[role="main"] {
  padding-bottom: 20px;
}

@media only screen and (max-width: 760px) {
  .table-linearize table,
  .table-linearize thead,
  .table-linearize tbody,
  .table-linearize tfoot,
  .table-linearize th,
  .table-linearize td,
  .table-linearize tr {
    display: block;
  }

  .table-linearize th {
    padding: 8px 8px 4px 8px !important;
  }

  .table-linearize td {
    border: none !important;
    padding: 4px 8px !important;
  }
}

.form-inline.fieldset>.row {
  margin-left: 0;
}
.form-inline.fieldset .form-group {
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
}
.form-inline.fieldset input,
.form-inline.fieldset select,
.form-inline.fieldset textarea { width: 100%; }

.form-group.required>.control-label {
  /* TODO? */
}

th.number {
  text-align: right;
}
.number input {
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  text-align: right;
}

.number input:-moz-placeholder { color: #ccc; text-overflow: ellipsis; }
.number input::-moz-input-placeholder { color: #ccc; text-overflow: ellipsis; }
.number input::-webkit-input-placeholder { color: #ccc; text-overflow: ellipsis; }
.number input:-ms-input-placeholder { color: #ccc; text-overflow: ellipsis; }

.navbar a {
  font-weight: bold;
}

.tiny-icons {
  display: inline-block;
  font-size: .5em;
  vertical-align: top;
}

.btn-secondary svg {
  fill: white;
}

.btn-danger.btn-inverse {
  background: #fff;
  color: #e74c3c;
}

@media screen and (min-width: 768px) {
  .left-head {
    padding-top: 21px;
  }
  .right-head {
    text-align: right;
    padding-top: 21px;
  }
  .right-head>* {
    display: inline-block;
  }
}

small {
  font-size: 80%;
}

small>a.active {
  text-decoration: underline;
}

.label {
  font-size: 85%;
  padding: .1em .4em;
  font-weight: normal;
}

.icon-red {
  color: #e74c3c;
}
.icon-green {
  color: #18bc9c;
}
.icon-blue {
  color: #3498db;
}

.nopad {
  padding: 0 !important;
}

.table .table {
  background: transparent;
}

.move {
  text-decoration: none;
}

.table tbody th > a:not(.btn),  /* override */
.table tbody td > a:not(.btn),  /* override */
tbody th > a {
  display: block;
  margin: -8px;
  padding: 8px;
  text-decoration: none;
}

.inline {
  display: inline !important;
}

.pagination {
  margin: -10px 0 0 5px;
}

.panel-heading > h3 {
  margin: 0 0 3px 0;
}

.panel-body > table {
  margin-bottom: 0;
}

.set-to-today::after {
  content: 'Today';
  display: inline-block;
  position: relative;
  left: 5px;
  top: -2px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.help-block {
  font-size: 13px;
}
