.navbar {
  /* hacky fix for some bootstrap modal oddity */
  padding-right: 8px !important;
  margin-right: 0 !important;
}

.navbar-brand {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.navbar .form-inline input {
  max-width: 10em;
}

@media screen and (max-width: 575px) {
  .navbar.sticky-top {
    position: static;
  }
}

.w-third {
  width: 33% !important;
}
.table .progress-cell {
  min-width: 6rem;
  padding: 8px 1rem 10px 0.5rem;
  vertical-align: bottom;
}
.progress-cell .progress {
  height: 1em;
}

@media screen and (max-width: 575px) {
  .w-third {
    width: 66% !important;
  }
}

.container-fluid[role="main"] {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.input-group .short {
  max-width: 8em;
}

.tiny-icons {
  display: inline-block;
  font-size: 0.5em;
  vertical-align: top;
}

.btn-secondary svg {
  fill: white;
}

small {
  font-size: 80%;
}

small > a.active {
  text-decoration: underline;
}

.nopad {
  padding: 0 !important;
}

.table .table {
  background: transparent;
}

.move {
  text-decoration: none;
}

.table tbody th > a:not(.btn),  /* override */
.table tbody td > a:not(.btn),  /* override */
tbody th > a {
  display: block;
  margin: -8px;
  padding: 8px;
  text-decoration: none;
}

.table .sticky {
  position: sticky;
  z-index: 1;
  top: 47px;
  background: white;
}

.inline {
  display: inline !important;
}

.invalid-feedback {
  display: block !important;
}

.form-search {
  align-items: flex-start;
  margin-bottom: 1rem;
}
.form-search input,
.form-search select {
  max-width: 10em;
}
.form-search > * {
  margin-left: 0.25rem;
}
.form-search .form-group {
  margin-bottom: 0.25rem;
}
.form-search label:empty {
  display: none;
}
.form-search .widget--checkboxinput {
  align-self: center;
}

.modal-footer .pagination {
  margin-bottom: 0;
}

.form-group.required > label {
  font-weight: bold;
}

.form-text {
  margin: 0;
}

.form-help-text {
  display: block;
  margin: -10px 0 8px;
  font-size: 85%;
  font-color: #443;
}

.navbar-brand svg {
  transform: scale(1.7) translateY(-1px);
}

.progress-line {
  height: 6px;
}

[data-field-value] {
  cursor: pointer;
}

.badge {
  align-self: flex-start;
  font-weight: normal;
}

.reduce-opacity {
  opacity: 0.7;
}

@media print {
  body {
    font-size: 13px;
  }

  .tiny-icons {
    display: none;
  }
}

.pie .pie-circle {
  fill: #325d88;
}

.pie .pie-arc {
  fill: #f47c3c;
}
.pie.good .pie-arc {
  fill: lightgreen;
}

.badge-caveat,
.bg-caveat {
  background-color: #f1e53b;
}

.badge-break {
  background-color: lightskyblue;
}

.text-black-30 {
  color: rgba(0, 0, 0, 0.3) !important;
}

.anchor-container {
  position: relative;
}

.anchor {
  position: relative;
  top: -80px;
}

.debug-is-active::before {
  content: "DEBUG";
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  font-size: 10px;
  height: 15px;
  background: rgba(150, 0, 0, 0.8);
  color: white;
  text-align: center;
}

.uplink {
  margin-bottom: 0.5rem;
}

.table-offer-pricing tbody label {
  display: none;
}

[data-open="true"] {
  z-index: 99999;
}

.fixed-btn {
  position: fixed;
  bottom: 1.5rem;
  left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  z-index: 1030;
  text-align: center;
  font-size: 1.8rem;
  box-shadow: 1px 3px 5px 0 rgba(0, 0, 50, 0.3);
  background-image: url("lib/stopwatch.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
  transition: opacity 0.2s;
}
.fixed-btn:hover {
  opacity: 1;
}

.fixed-btn.break {
  /* bottom: 5rem; */
  left: 4.25rem;
  background-image: url("lib/break.svg");
}

.widget--checkboxselectmultiple .my-2 {
  column-width: 15rem;
}
.widget--checkboxselectmultiple .my-2 .form-check {
  margin: 0 0 0.25rem 0;
}
.widget--checkboxselectmultiple input:checked ~ label {
  font-weight: bold;
}

.besides {
  font-size: 85%;
  color: #555;
}
