.navbar .form-inline input {
  max-width: 10em;
}

@media screen and (max-width: 575px) {
  .navbar.sticky-top {
    position: static;
  }
}

.container-fluid[role="main"] {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.input-group .short {
  max-width: 8em;
}

.tiny-icons {
  display: inline-block;
  font-size: 0.5em;
  vertical-align: top;
}

.btn-secondary svg {
  fill: white;
}

small {
  font-size: 80%;
}

small > a.active {
  text-decoration: underline;
}

.nopad {
  padding: 0 !important;
}

.table .table {
  background: transparent;
}

.move {
  text-decoration: none;
}

.table tbody th > a:not(.btn),  /* override */
.table tbody td > a:not(.btn),  /* override */
tbody th > a {
  display: block;
  margin: -8px;
  padding: 8px;
  text-decoration: none;
}

.inline {
  display: inline !important;
}

.invalid-feedback {
  display: block !important;
}

.form-search input,
.form-search select {
  max-width: 10em;
}
.form-search > * {
  margin-left: 0.5rem;
}

.modal-footer .pagination {
  margin-bottom: 0;
}

.form-group.required > label {
  font-weight: bold;
}

.navbar-brand svg {
  transform: scale(1.7) translateY(-1px);
}

.progress-line {
  height: 4px;
}

/* Timer */
[data-timer="standalone"] .timer-panel-tab {
  min-height: 36px;
}

@media screen and (min-width: 768px) {
  body {
    min-height: 100vh;
  }

  [data-timer="footer"] .timer-panel {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    background: white;
    transition: 0.2s ease-in-out;
    transform: translateY(100%);
  }

  [data-timer="footer"] .timer-panel-tab {
    position: absolute;
    min-height: 36px;
    top: -36px;
    left: 0;
    right: 0;
  }
}
