{% extends "generic/object_list.html" %}

{% load bootstrap4 i18n workbench %}

{% block search-form-buttons %}
  <a href="{{ view.model.urls.create }}" class="btn btn-primary"
    data-toggle="ajaxmodal">
    {% include "svg/plus.svg" %}
    {{ view.meta.verbose_name|capfirst }}
  </a>
{% endblock %}

{% block objects %}
{% for object in object_list %}
<a href="{{ object.get_absolute_url }}"
  class="list-group-item list-group-item-action"
  data-toggle="ajaxmodal">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{ object|h }}</h5>
    {{ object.status_badge }}
  </div>
  <div class="d-flex justify-content-between">
    <span class="w-50">{{ object.project }}</span>
    <span>
      {{ object.created_at.date|local_date_format }} {% trans 'by' %} {{ object.created_by.get_short_name }}
    </span>
    <span>{{ object.requested_hours|hours }}</span>
    <span>
      {{ object.earliest_start_on|local_date_format }} –
      {{ object.completion_requested_on|local_date_format }}
    </span>
  </div>
</a>
{% endfor %}
{% endblock %}
