{% extends "generic/object_list.html" %}
{% load django_bootstrap5 i18n workbench %}
{% block search-form-buttons %}
  <a href="{{ view.model.urls.create }}"
     class="btn btn-primary"
     data-ajaxmodal>
    {% include "svg/plus.svg" %}
    {{ view.meta.verbose_name|capfirst }}
  </a>
{% endblock search-form-buttons %}

{% block objects %}
  {% for object in object_list %}
    <a href="{{ object.get_absolute_url }}"
       class="list-group-item list-group-item-action"
       data-ajaxmodal>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ object|h }}</h5>
        {{ object.status_badge }}
      </div>
      <div class="d-flex justify-content-between">
        <span class="w-50">{{ object.project }}</span>
        <span>{{ object.planned_hours|hours }}</span>
        <span>{{ object.user.get_full_name }}</span>
        <span>{{ object.pretty_from_until }}</span>
      </div>
    </a>
  {% endfor %}
{% endblock objects %}
