{% extends "modalform.html" %}

{% load bootstrap4 fineforms i18n workbench %}

{% block size %}modal-xl{% endblock %}

{% block title %}
{% if view.project %}{{ view.project.title }}{% else %}{{ block.super }}{% endif %}
{% endblock %}

{% block body %}
  {% include 'fineforms/warnings.html' %}
  {% ff_errors form %}

  <div class="row">
    <div class="col-lg-7">
      {% ff_fields form fields='offer,request,user,title,service_type,notes' %}
    </div>
    <div class="col-lg-5">
      {% ff_fields form exclude='offer,request,user,title,service_type,notes' %}
    </div>
  </div>

<style>
#id_modal-weeks option[value="{{ form.this_monday.isoformat }}"] {
  background: rgba(150, 150, 250, 0.2);
}
</style>
{% endblock %}
