{% extends "modal.html" %}

{% load i18n workbench %}

{% block title %}{{ object }} {% history_link object %}{% endblock %}

{% block size %}modal-lg{% endblock %}

{% block body %}
  <table class="table table-striped">
    {% for name, value in object|field_value_pairs %}
    <tr>
      <th class="text-right">{{ name }}</th>
      <td>{% link_or_none value %}</td>
    </tr>
    {% endfor %}
    <tr>
      <th class="text-right">{{ object|label:'receivers' }}</th>
      <td>
        {% for user, work in object.receivers_with_work %}
          {{ user.get_full_name }}:
          {% for pw in work %}<a data-toggle="ajaxmodal" class="d-inline" href="{{ pw.get_absolute_url }}">{{ pw }}</a>{% if not forloop.last %}, {% endif %}{% empty %}–{% endfor %}
          <br>
        {% endfor %}
      </td>
    </tr>
  </table>
{% endblock %}

{% block footer %}
  <a href="{{ object.urls.update }}" data-toggle="ajaxmodal" class="btn btn-primary">
    {% translate 'Update' %}
  </a>
  <a href="{{ object.project.urls.creatework }}?request={{ object.id }}"
     data-toggle="ajaxmodal"
     class="btn btn-primary mr-auto">
    {% translate 'Accept' %}
  </a>
  <a href="{{ object.urls.delete }}" data-toggle="ajaxmodal" class="btn btn-outline-danger">
    {% translate 'Delete' %}
  </a>
{% endblock %}
