{% extends "modal.html" %}

{% load i18n workbench %}

{% block size %}modal-xl{% endblock %}

{% block title %}{{ object }} {% history_link object %}{% endblock %}

{% block body %}
  <table class="table table-striped">
    {% for name, value in object|field_value_pairs %}
    <tr>
      <th class="text-right">{{ name }}</th>
      <td>{% link_or_none value %}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block footer %}
  <a href="{{ object.urls.update }}" data-toggle="ajaxmodal" class="btn btn-primary mr-auto">
    {% trans 'Update' %}
  </a>
  <a href="{{ object.urls.delete }}" data-toggle="ajaxmodal" class="btn btn-outline-danger">
    {% trans 'Delete' %}
  </a>
{% endblock %}
