{% extends "generic/object_detail.html" %}

{% load i18n workbench webpack_loader %}

{% block title %}{% trans 'planning'|capfirst %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h1>{% trans 'planning'|capfirst %}: {{ object }}</h1>
  </div>
</div>

  <div id="planning-root" class="planning-wrapper"></div>
  {{ planning_data|json_script:'planning-data' }}
  <script src="{% url 'javascript-catalog' %}"></script>
  {% if not TESTING %}
    {% render_bundle "manifest" %}
    {% render_bundle "vendors" %}
    {% render_bundle "planning" %}
  {% endif %}
{% endblock %}
