{% extends "base.html" %}

{% load fineforms i18n workbench webpack_loader %}

{% block title %}{% translate 'Absence calendar' %} - {{ block.super }}{% endblock %}

{% block content %}
  <div class="d-flex w-100 align-items-start justify-content-between">
    <h1 class="absences-title">{% translate 'Absence calendar' %}</h1>

    <form method="get" class="form-inline form-search mb-3 ml-auto mr-3" data-autosubmit>
      {% if form.changed_data %}
        <a class="btn btn-info" href="." title="{% translate 'Reset the filter form' %}"  data-reset-filter>&times;</a>
      {% endif %}
      {% ff_fields form %}
    </form>

    <a href="{% url 'awt_absence_create' %}" class="btn btn-primary" data-toggle="ajaxmodal">
      {% include 'svg/plus.svg' %} {% translate 'absence'|capfirst %}
    </a>
  </div>

  <div id="absences-root" class="absences-wrapper"></div>
  {{ absences_data|json_script:'absences-data' }}
  <script src="{% url 'javascript-catalog' %}"></script>
  {% if not TESTING %}
    {% render_bundle "manifest" %}
    {% render_bundle "vendors" %}
    {% render_bundle "absences" %}
  {% endif %}
{% endblock %}
