{% extends "generic/object_list.html" %}

{% load bootstrap4 i18n workbench %}

{% block search-form-buttons %}
  <a href="{{ view.model.urls.create }}" class="btn btn-primary"
    data-toggle="ajaxmodal">
    {% include "svg/plus.svg" %}
    {{ view.meta.verbose_name }}
  </a>
{% endblock %}

{% block objects %}
<div class="list-group list-group-flush">
{% for object in object_list %}
{% ifchanged object.starts_on.year object.starts_on.month %}
<h5 class="mt-3 mb-3">{{ object.starts_on|date:'F Y' }}</h5>
{% endifchanged %}
<a href="{{ object.get_absolute_url }}" class="list-group-item list-group-item-action px-0"
  data-toggle="ajaxmodal">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{ object|h }}</h5>
    {{ object.status_badge }}
  </div>
  <div class="row">
    <div class="col-md-4">{{ object.user.get_full_name }}</div>
    <div class="col-md-4 text-right">
      {% blocktrans with days=object.days|days start=object.starts_on|local_date_format trimmed %}
        {{ days }} day(s) starting on {{ start }}
      {% endblocktrans %}
    </div>
    <div class="col-md-4 text-right">{{ object.get_reason_display }}</div>
  </div>
</a>
{% endfor %}
</div>
{% endblock %}
