{% extends "modal.html" %}
{% load i18n workbench %}
{% block title %}
  {{ object }} {% history_link object %}
{% endblock title %}

{% block body %}
  <table class="table table-striped">
    <tr>
      <th class="text-end">{% translate 'user'|capfirst %}</th>
      <td>{% link_or_none object.user %}</td>
    </tr>
    <tr>
      <th class="text-end">{% translate 'absence'|capfirst %}</th>
      <td>{{ object.pretty_status }}</td>
    </tr>
    <tr>
      <th class="text-end">{% translate 'reason'|capfirst %}</th>
      <td>{{ object.get_reason_display }}</td>
    </tr>
    <tr>
      <th class="text-end">{% translate 'description'|capfirst %}</th>
      <td>{{ object.description|linebreaksbr }}</td>
    </tr>
  </table>
{% endblock body %}

{% block footer %}
  <a href="{{ object.urls.update }}"
     data-ajaxmodal
     class="btn btn-primary mr-auto">{% translate 'Update' %}</a>
  <a href="{{ object.urls.delete }}"
     data-ajaxmodal
     class="btn btn-outline-danger">{% translate 'Delete' %}</a>
{% endblock footer %}
