{% extends "generic/object_detail.html" %}

{% load i18n workbench %}

{% block content %}
<div class="row justify-content-center">
<div class="col-sm-12">

  <div class="d-print-none">
    <h1>{% trans 'annual working time' %}</h1>

    <ul class="nav nav-tabs my-3">
      {% for y in years %}
      <li class="nav-item">
        <a class="nav-link {% if y == year %}active{% endif %}"
           href="{% querystring year=y %}">{{ y }}</a>
      </li>
      {% endfor %}
      {% if request.user|has_feature:FEATURES.CONTROLLING %}
        <li class="nav-item ml-auto">
          <a class="nav-link" href="{% querystring user='active' %}">{% trans 'active users' %}</a>
        </li>
      {% endif %}
    </ul>
  </div>

  {% if request.user|has_feature:FEATURES.CONTROLLING and request.GET.user == 'active' %}
    <div style="break-after:page;max-width:40rem">
      <h2 class="mt-5">{% trans 'facts' %}</h2>
      <table class="table">
        <tr>
          <td class="text-right">{{ overall.available_vacation_days|days }}</td>
          <th>{% trans 'vacation days available' %}</th>
        </tr>

        <tr>
          <td class="text-right">{{ overall.absence_vacation|days }}</td>
          <th>{% trans 'vacation days taken' %} ({% trans 'corrected' %})</th>
        </tr>

        <tr>
          <td class="text-right">{{ overall.absence_sickness|days }}</td>
          <th>{% trans 'sickness days' %}</th>
        </tr>

        <tr>
          <td class="text-right">{{ overall.absence_other|days }}</td>
          <th>{% trans 'other absences' %}</th>
        </tr>

        <tr>
          <td class="text-right">{{ overall.running_sum|hours:True }}</td>
          <th>{% trans 'net work hours' %}</th>
        </tr>

        <tr>
          <td class="text-right">{{ overall.vacation_days_credit|days }}</td>
          <th>{% trans 'vacation days credit' %}</th>
        </tr>

        <tr>
          <td class="text-right">{{ overall.balance|hours:True }}</td>
          <th>{% trans 'balance' %}</th>
        </tr>

      </table>
    </div>
  {% endif %}

  {% for data in statistics %}
  <div style="break-after:page">

    {% with user=data.user stats=data.months totals=data.totals monthly_sums=data.monthly_sums running_sums=data.running_sums %}
    <h2 class="mt-5">{{ user }}</h2>
    <table class="table table-sm table-bordered table-responsive-lg">
      <tr class="thead-light">
        <th>{{ year.year }}</th>
        {% for month in stats.months %}<th>{{ month|date:'M' }}</th>{% endfor %}
        <th class="text-right">{% trans 'Total' %}</th>
      </tr>

      <tr>
        <th class="text-nowrap">
          {% trans 'target days for full time employment' %}
          <small>({{ stats.year }})</small>
        </th>
        {% for value in stats.target_days %}<td class="text-right {% if not value %}text-black-30{% endif %}">{{ value|days }}</td>{% endfor %}
        <th class="text-right">{{ totals.target_days|days }}</th>
      </tr>

      <tr>
        <th class="text-nowrap">{% trans 'pensum' %}</th>
        {% for value in stats.percentage %}<td class="text-right {% if not value %}text-black-30{% endif %}">{{ value|stringformat:'.0f' }}%</td>{% endfor %}
        <th class="text-right">{{ totals.percentage|stringformat:'.0f' }}%</th>
      </tr>

      <tr>
        <th class="text-nowrap">{% trans 'vacation days available' %}</th>
        {% for value in stats.available_vacation_days %}<td class="text-right {% if not value %}text-black-30{% endif %}">{{ value|days }}</td>{% endfor %}
        <th class="text-right">{{ totals.available_vacation_days|days }}</th>
      </tr>

      <tr>
        <th class="text-nowrap">
          {% trans 'target time' %}
          <small>({% blocktrans with hours=stats.year.working_time_per_day|hours %}calculated with {{ hours }} per day{% endblocktrans %})</small>
        </th>
        {% for value in stats.target %}<td class="text-right {% if not value %}text-black-30{% endif %}">{{ value|hours }}</td>{% endfor %}
        <th class="text-right">{{ totals.target|hours }}</th>
      </tr>

      <tr>
        <th class="text-nowrap">{% trans 'vacation days taken' %}</th>
        {% for value in stats.absence_vacation %}<td class="text-left {% if not value %}text-black-30{% endif %}">{{ value|days }}</td>{% endfor %}
        <th class="text-right">{{ totals.absence_vacation|days }}</th>
      </tr>

      <tr>
        <th class="text-nowrap">{% trans 'sickness days' %}</th>
        {% for value in stats.absence_sickness %}<td class="text-left {% if not value %}text-black-30{% endif %}">{{ value|days }}</td>{% endfor %}
        <th class="text-right">{{ totals.absence_sickness|days }}</th>
      </tr>

      <tr>
        <th class="text-nowrap">{% trans 'other absences' %}</th>
        {% for value in stats.absence_other %}<td class="text-left {% if not value %}text-black-30{% endif %}">{{ value|days }}</td>{% endfor %}
        <th class="text-right">{{ totals.absence_other|days }}</th>
      </tr>

      {% if totals.vacation_days_correction %}
        <tr>
          <th class="text-nowrap">{% trans 'vacation days correction' %}</th>
          {% for value in stats.vacation_days_correction %}<td class="text-left {% if not value %}text-black-30{% endif %}">{{ value|days }}</td>{% endfor %}
          <th class="text-right">{{ totals.vacation_days_correction|days }}</th>
        </tr>
      {% endif %}

      <tr>
        <th class="text-nowrap">{% trans 'countable absence hours' %}</th>
        {% for value in data.absences_time %}<td class="text-right {% if not value %}text-black-30{% endif %}">{{ value|hours }}</td>{% endfor %}
        <th class="text-right">{{ totals.absences_time|hours }}</th>
      </tr>

      <tr>
        <th class="text-nowrap">{% trans 'logged hours' %}</th>
        {% for value in stats.hours %}<td class="text-right {% if not value %}text-black-30{% endif %}">{{ value|hours }}</td>{% endfor %}
        <th class="text-right">{{ totals.hours|hours }}</th>
      </tr>

      <tr>
        <th class="text-nowrap">{% trans 'working time' %}</th>
        {% for value in data.working_time %}<td class="text-right {% if not value %}text-black-30{% endif %}">{{ value|hours }}</td>{% endfor %}
        <th class="text-right">{{ totals.working_time|hours }}</th>
      </tr>

      <tr>
        <th class="text-nowrap">{% trans 'net work Hours per month' %}</th>
        {% for value in monthly_sums %}<td class="text-right">{% if value is not None %}{{ value|hours }}{% endif %}</td>{% endfor %}
        <th></th>
      </tr>
      <tr>
        <th class="text-nowrap">{% trans 'running net work hours' %}</th>
        {% for value in running_sums %}<td class="text-right">{% if value is not None %}{{ value|hours }}{% endif %}</td>{% endfor %}
        <th class="text-right">{{ totals.running_sum|hours }}</th>
      </tr>

      {% if totals.vacation_days_credit %}
        <tr>
          <th class="text-nowrap">{% trans 'vacation days credit' %}</th>
          <th colspan="13" class="text-right">{{ totals.vacation_days_credit|days }}</th>
        </tr>
      {% endif %}

      <tr>
        <th class="text-nowrap">{% trans 'balance' %}</th>
        <th colspan="13" class="text-right">{{ totals.balance|hours }}</th>
      </tr>

    </table>

    <table class="table table-sm table-bordered table-responsive-lg">
      <tr class="thead-light">
        <th>{% trans 'employment' %}</th>
        <th>{% trans 'percentage' %}</th>
        <th>{% trans 'vacation weeks' %}</th>
        <th>{% trans 'notes' %}</th>
      </tr>
      {% for employment in data.employments %}
      <tr>
        <th>{{ employment }}</th>
        <td>{{ employment.percentage }}%</td>
        <td>{{ employment.vacation_weeks|stringformat:'.0f' }}</td>
        <td>{{ employment.notes|default:'&ndash;' }}</td>
      </tr>
      {% endfor %}
    </table>

    <div class="row">
      <div class="col-md-4 col-12">

        <table class="table table-sm table-bordered table-responsive-lg">
          <tr class="thead-light">
            <th colspan="3">{% trans 'vacation days' %}</th>
          </tr>
          {% for absence in data.absences.absence_vacation %}
            <tr>
              <td>{{ absence.pretty_period }}</td>
              <td>{{ absence.days|days }}</td>
              <td>{{ absence.description }}</td>
            </tr>
          {% endfor %}
        </table>

      </div>

      <div class="col-md-4 col-12">

        <table class="table table-sm table-bordered table-responsive-lg">
          <tr class="thead-light">
            <th colspan="3">{% trans 'sickness days' %}</th>
          </tr>
          {% for absence in data.absences.absence_sickness %}
            <tr>
              <td>
                {% blocktrans with date=absence.starts_on|local_date_format %}from {{ date }}{% endblocktrans %}
              </td>
              <td>{{ absence.days|days }}</td>
              <td>{{ absence.description }}</td>
            </tr>
          {% endfor %}
        </table>

      </div>

      <div class="col-md-4 col-12">

        <table class="table table-sm table-bordered table-responsive-lg">
          <tr class="thead-light">
            <th colspan="3">{% trans 'other absences' %}</th>
          </tr>
          {% for absence in data.absences.absence_other %}
            <tr>
              <td>
                {% blocktrans with date=absence.starts_on|local_date_format %}from {{ date }}{% endblocktrans %}
              </td>
              <td>{{ absence.days|days }}</td>
              <td>{{ absence.description }}</td>
            </tr>
          {% endfor %}
        </table>

      </div>
    </div>

    {% endwith %}

  </div>
  {% endfor %}

</div>
</div>
{% endblock %}
