<div class="form-group {{ css_classes }}">
  {% if widget_then_label %}
    <div class="form-check">
      {{ field }} {{ label_tag }}
      {% if field.errors %}
        <div class="invalid-feedback">
          {% for error in field.errors %}
            {{ error }}
            {% if not forloop.last %}<br>{% endif %}
          {% endfor %}
        </div>
      {% endif %}
      {% if field.field.help_text %}
        <small class="form-text text-muted">{{ field.field.help_text }}</small>
      {% endif %}
    </div>
  {% else %}
    {% if field.label %}{{ label_tag }}{% endif %}
    <div class="">
      {% if field.field.help_text %}
        <small class="form-text text-muted form-help-text">{{ field.field.help_text }}</small>
      {% endif %}
      {{ field }}
      {% if field.errors %}
        <div class="invalid-feedback">
          {% for error in field.errors %}
            {{ error }}
            {% if not forloop.last %}<br>{% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
