{% load i18n %}
{% if form.warnings %}
  <div class="alert alert-warning alert-dismissable">
    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-hidden="true"></button>
    {% for warning in form.warnings.values %}
      {{ warning }}
      <br>
    {% endfor %}
    <br>
    <input type="checkbox"
           name="{{ form.ignore_warnings_id }}"
           value="{{ form.ignore_warnings_value }}"
           id="id_{{ form.ignore_warnings_id }}">
    <label for="id_{{ form.ignore_warnings_id }}">{% translate 'Ignore warnings' %}</label>
  </div>
{% endif %}
