{% extends "generic/object_detail.html" %}

{% load i18n workbench %}

{% block content %}
<div class="row justify-content-center">
<div class="col-lg-10 col-xl-8">
  <h1>{{ object|h }} {% history_link object %}</h1>

  <table class="table table-striped">
    {% for name, value in object|field_value_pairs %}
    <tr>
      <th class="text-right">{{ name }}</th>
      <td>{% link_or_none value %}</td>
    </tr>
    {% endfor %}
  </table>

  <a href="{{ object.urls.update }}" class="btn btn-secondary">
    {% trans 'Update' %}
  </a>
  <a href="?create_accruals=1" class="btn btn-secondary">
    {% trans 'Create accruals' %}
  </a>
  <a href="?xlsx=1" class="btn btn-secondary">
    {% include 'svg/desktop-download.svg' %} XLSX
  </a>
  <a href="{{ object.urls.delete }}" class="btn btn-outline-danger float-right">
    {% trans 'Delete' %}
  </a>

  <table class="table mt-3">
    <thead>
      <tr>
        <th>{% trans 'invoice' %}</th>
        <th>{% trans 'total excl. tax' %}</th>
        <th>{% trans 'logbook' %}</th>
        <th>{% trans 'work progress' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for accrual in accruals %}
      <tr>
        <th>{% link_or_none accrual.invoice %}</th>
        <td class="text-right">{{ accrual.invoice.total_excl_tax|currency }}</td>
        <td class="text-right">{{ accrual.logbook|currency }}</td>
        <td>
          <form method="post" action="" data-ajaxform>
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ accrual.id }}">
            <div class="input-group flex-nowrap">
              <input class="form-control" style="width:5rem" type="number" step="1" min="0" max="100" name="work_progress" value="{{ accrual.work_progress }}">
              <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary">{% trans 'save' %}</button>
              </div>
            </div>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
</div>
{% endblock %}
