{% extends "generic/object_list.html" %}
{% load i18n workbench %}
{% block search-form-buttons %}
  {% if request.user.features.BOOKKEEPING %}
    <a href="{{ view.model.urls.upload }}" class="btn btn-primary">{% translate 'Upload account statement' %}</a>
    <a href="{{ view.model.urls.assign }}" class="btn btn-primary">{% translate 'Assign credit entries' %}</a>
  {% endif %}
  {{ block.super }}
{% endblock search-form-buttons %}

{% block objects %}
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>{% translate 'ledger' %}</th>
        <th>{% translate 'value date' %}</th>
        <th>{% translate 'payment notice' %}</th>
        <th class="text-right">{% translate 'total' %}</th>
        <th>{% translate 'invoice' %}, {% translate 'notes' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in object_list %}
        <tr>
          <td>{{ entry.ledger }}</td>
          <th>
            <a href="{{ entry.get_absolute_url }}">{{ entry.value_date|local_date_format }}</a>
          </th>
          <td>{{ entry.payment_notice }}</td>
          <td class="text-right">{{ entry.total|currency }}</td>
          <td>
            {% link_or_none entry.invoice none='' %}
            {% if entry.invoice and entry.notes %},{% endif %}
            {{ entry.notes }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock objects %}
