{% extends "generic/object_list.html" %}

{% load i18n workbench %}

{% block search-form-buttons %}
  <a href="{{ view.model.urls.create }}" class="btn btn-secondary">
    {% trans 'upload account statement' %}
  </a>
  <a href="{{ view.model.urls.assign }}" class="btn btn-secondary">
    {% trans 'assign credit entries' %}
  </a>
  <a href="{% querystring xlsx=1 %}" class="btn btn-secondary">
    {% include 'svg/desktop-download.svg' %} XLSX
  </a>
{% endblock %}

{% block objects %}
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>{% trans 'value date' %}</th>
      <th>{% trans 'payment notice' %}</th>
      <th class="text-right">{% trans 'total' %}</th>
      <th>{% trans 'invoice' %}</th>
      <th>{% trans 'notes' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in object_list %}
      <tr>
        <th><a href="{{ entry.get_absolute_url }}">{{ entry.value_date|date:'d.m.Y' }}</a></th>
        <td>{{ entry.payment_notice }}</td>
        <td class="text-right">{{ entry.total|currency }}</td>
        <td>{% link_or_none entry.invoice %}</td>
        <td>{{ entry.notes }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
