{% extends "site_base.html" %}

{% load bootstrap4 i18n mark_current static %}

{% block body %}
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color:{{ WORKBENCH.BACKGROUND }}">
    <a class="navbar-brand" href="/">{% include 'svg/rocket.svg' %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <form class="form-inline mt-2 mb-0 mr-2" method="GET" action="{% url 'search' %}">
            <div class="input-group">
              <input class="form-control" type="search" placeholder="{% trans 'Search' %}" aria-label="{% trans 'Search' %}" name="q" value="{{ request.GET.q }}">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">{% include 'svg/search.svg' %}</button>
              </div>
            </div>
          </form>
        </li>
        {% mark_current request.path %}
        <li class="nav-item"><a class="nav-link" href="{% url 'projects_project_list' %}">{% trans 'projects' %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'offers_offer_list' %}">{% trans 'offers' %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'invoices_invoice_list' %}">{% trans 'invoices' %}</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="contactsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans 'contacts' %}
          </a>
          <div class="dropdown-menu" aria-labelledby="contactsDropdown">
            <a class="dropdown-item" href="{% url 'contacts_person_list' %}">{% trans 'people' %}</a>
            <a class="dropdown-item" href="{% url 'contacts_organization_list' %}">{% trans 'organizations' %}</a>
            {# <div class="dropdown-divider"></div> #}
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="logbookDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans 'logbook' %}
          </a>
          <div class="dropdown-menu" aria-labelledby="logbookDropdown">
            <a class="dropdown-item" href="{% url 'logbook_loggedhours_list' %}">{% trans 'logged hours' %}</a>
            <a class="dropdown-item" href="{% url 'logbook_loggedcost_list' %}">{% trans 'logged costs' %}</a>
            <a class="dropdown-item" href="{% url 'awt_absence_list' %}">{% trans 'absences' %}</a>
            {# <div class="dropdown-divider"></div> #}
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="bookkeepingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans 'book keeping' %}
          </a>
          <div class="dropdown-menu" aria-labelledby="bookkeepingDropdown">
            <a class="dropdown-item" href="{% url 'invoices_recurringinvoice_list' %}">{% trans 'recurring invoices'|capfirst %}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'credit_control_creditentry_list' %}">{% trans 'credit entries' %}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'accruals_cutoffdate_list' %}">{% trans 'accruals' %}</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="reportsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans 'reports' %}
          </a>
          <div class="dropdown-menu" aria-labelledby="reportsDropdown">
            <a class="dropdown-item" href="{% url 'report_key_data' %}">{% trans 'key data' %}</a>
            <a class="dropdown-item" href="{% url 'awt_year_report' %}">{% trans 'annual working time' %}</a>
            {# <a class="dropdown-item" href="#">{% trans 'not invoiced work' %}</a> #}
            <a class="dropdown-item" href="{% url 'report_overdrawn_projects' %}">{% trans 'overdrawn projects' %}</a>
            <a class="dropdown-item" href="{% url 'report_monthly_invoicing' %}">{% trans 'monthly invoicing' %}</a>
            <a class="dropdown-item" href="{% url 'report_open_items_list' %}">{% trans 'open items list' %}</a>
            <a class="dropdown-item" href="{% url 'report_logged_hours_by_circle' %}">{% trans 'logged hours by circle' %}</a>
          </div>
        </li>
        {% endmark_current %}
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hi, {{ user.get_short_name }}!
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="{% url 'accounts_update' %}">{% trans 'Settings' %}</a>
            {% if request.user.is_admin %}
            <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans 'Admin panel' %}</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'deals_deal_list' %}">{% trans 'deals' %}</a>
            <a class="dropdown-item" href="{% url 'activities_activity_list' %}">{% trans 'activities' %}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Sign out' %}</a>
          </div>
        </li>
      </ul>

    </div>
  </nav>

  <div class="container-fluid flex-grow-1" role="main">

    {% block uplink %}
      {% if view.model.urls.list and view.model.urls.list != request.path %}
        <a href="{{ view.model.urls.list }}" class="btn btn-secondary btn-sm uplink">
          {% include 'svg/chevron-left.svg' %} {{ view.meta.verbose_name_plural }}
        </a>
      {% endif %}
    {% endblock %}
    {% bootstrap_messages %}
    {% block content %}{% endblock %}

  </div> <!-- /container -->

{% endblock body %}
