{% extends "site_base.html" %}

{% load bootstrap4 i18n mark_current %}

{% block body %}
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color:#e3f2fd">
    <a class="navbar-brand" href="/">Workbench</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <form class="form-inline mt-1 mb-0 mr-2" method="GET" action="{% url 'search' %}">
            <div class="input-group">
              <input class="form-control" type="search" placeholder="{% trans 'Search' %}" aria-label="{% trans 'Search' %}" name="q" value="{{ request.GET.q }}">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">{% include 'svg/search.svg' %}</button>
              </div>
            </div>
          </form>
        </li>
        {% mark_current request.path %}
        <li class="nav-item"><a class="nav-link" href="{% url 'projects_project_list' %}">{% trans 'projects' %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contacts_organization_list' %}">{% trans 'organizations' %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contacts_person_list' %}">{% trans 'people' %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'offers_offer_list' %}">{% trans 'offers' %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'invoices_invoice_list' %}">{% trans 'invoices' %}</a></li>
        {% endmark_current %}
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hi, {{ user.get_short_name }}!
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'accounts_update' %}">{% trans 'Settings' %}</a>
            {% if request.user.is_admin %}
            <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans 'Admin panel' %}</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logbook_loggedhours_list' %}">{% trans 'logged hours' %}</a>
            <a class="dropdown-item" href="{% url 'awt_absence_list' %}">{% trans 'absences' %}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'deals_deal_list' %}">{% trans 'deals' %}</a>
            <a class="dropdown-item" href="{% url 'activities_activity_list' %}">{% trans 'activities' %}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Sign out' %}</a>
          </div>
        </li>
      </ul>

    </div>
  </nav>

  <div class="container-fluid" role="main">

    {% bootstrap_messages %}

    {% block content %}{% endblock %}

  </div> <!-- /container -->
{% endblock body %}
