{% extends "modal.html" %}
{% load i18n workbench %}

{% block size %}modal-xl{% endblock %}

{% block title %}
  {# TODO data-toggle="ajaxmodal" for some #}
  {% trans 'History' %}{% if instance %}: <a href="{{ instance.get_absolute_url }}">{{ instance|h }}</a>{% endif %}
{% endblock %}

{% block body %}
  {% for change in changes reversed %}
    <h4>
      Version {{ change.number }} / {{ change.version.pretty_user_name }} / {{ change.version.created_at }}
    </h4>
    <ul>
      {% for pretty in change.changes %}
        <li>{{ pretty }}</li>
      {% endfor %}
    </ul>
  {% empty %}
    <h4>{% trans 'No history found' %}</h4>
  {% endfor %}
{% endblock %}
