{% extends "modal.html" %}
{% load i18n workbench %}

{% block size %}modal-xl{% endblock %}

{% block title %}
  {% trans 'History' %}: {% if instance %}<a href="{{ instance.get_absolute_url }}">{{ instance|h }}</a>{% else %}{{ title }}{% endif %}
  <small class="d-block">
    {% for verbose_name_plural, url in related %}
    <a href="{{ url }}" data-toggle="ajaxmodal">{{ verbose_name_plural }}</a>
    {% endfor %}
  </small>
{% endblock %}

{% block body %}
  {% for change in changes reversed %}
    <h4>
      <a href="{% url 'history' change.version.table_name 'id' change.version.row_data.id %}" data-toggle="ajaxmodal">

        {{ change.version.get_action_display }} {{ change.version.table_name }} id:{{ change.version.row_data.id }}

      </a>
      / {{ change.version.pretty_user_name }} / {{ change.version.created_at }}
    </h4>
    <ul>
      {% for pretty in change.changes %}
        <li>{{ pretty }}</li>
      {% endfor %}
    </ul>
  {% empty %}
    <h4>{% trans 'No history found' %}</h4>
  {% endfor %}
{% endblock %}
