{% load bootstrap4 fineforms i18n %}

<div class="modal">
  <div class="modal-dialog {% block size %}{% endblock %}">
    <form method="post" action="{{ request.get_full_path }}">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            {% block title %}{{ title }}{% endblock %}
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body clearfix">
          {% bootstrap_messages %}
          {% csrf_token %}
          {% block body %}
            {% include 'fineforms/warnings.html' %}
            {% ff_errors form %}
            {% ff_fields form %}
          {% endblock %}
        </div>
        <div class="modal-footer">
          {% block footer %}
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
          {% endblock %}
        </div>
      </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div>
