{% extends "modalform.html" %}
{% load bootstrap4 i18n %}
{% block title %}
  {% blocktranslate trimmed %}
    Delete {{ object }}
  {% endblocktranslate %}
{% endblock title %}

{% block body %}
  {% if form %}{{ block.super }}{% endif %}
{% endblock body %}

{% block footer %}
  <button type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
          class="btn btn-primary mr-auto">
    {% translate 'cancel' %}
  </button>
  <button type="submit" class="btn btn-danger">{% translate 'delete' %}</button>
{% endblock footer %}
