{% extends "base.html" %}

{% load i18n static workbench %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-10">

    <h1>{{ user }}</h1>

    <script src="{% static 'workbench/lib/Chart.min.js' %}"></script>

    <h2 class="mt-4">{% trans 'Hours per weekday' %}</h2>
    <canvas id="hours-per-weekday" width="1200" height="250"></canvas>
    <script>
      new Chart("hours-per-weekday", {
        type: "bar",
        data: {
          labels: [{% for row in logged_hours.rendered_hours_per_weekday %}"{{ row.name }}", {% endfor %}],
          datasets: [
            {
              label: "{% trans 'Rendered' %}",
              data: [{% for row in logged_hours.rendered_hours_per_weekday %}{{ row.hours|stringformat:'.1f' }}, {% endfor %}],
              backgroundColor: '#2780e3',
            },
            {
              label: "{% trans 'Created' %}",
              data: [{% for row in logged_hours.created_hours_per_weekday %}{{ row.hours|stringformat:'.1f' }}, {% endfor %}],
              backgroundColor: '#9954bb',
              borderColor: '#9954bb',
            },
          ],
        },
      })
    </script>

    <h2 class="mt-4">{% trans 'Hours per week' %}</h2>
    <canvas id="hours-per-week" width="1200" height="450"></canvas>
    <script>
      new Chart("hours-per-week", {
        type: "bar",
        data: {
          labels: [{% for row in logged_hours.hours_per_week %}"KW{{ row.week|date:'W' }}", {% endfor %}],
          datasets: [
            {
              label: "{% trans 'Order' %}",
              data: [{% for row in logged_hours.hours_per_week %}{{ row.by_type.order|default:0|stringformat:'.1f' }}, {% endfor %}],
              backgroundColor: '#3fb618',
            },
            {
              label: "{% trans 'Maintenance' %}",
              data: [{% for row in logged_hours.hours_per_week %}{{ row.by_type.maintenance|default:0|stringformat:'.1f' }}, {% endfor %}],
              backgroundColor: '#373a3c',
            },
            {
              label: "{% trans 'Internal' %}",
              data: [{% for row in logged_hours.hours_per_week %}{{ row.by_type.internal|default:0|stringformat:'.1f' }}, {% endfor %}],
              backgroundColor: '#9954bb',
            },
          ],
        },
        options: {
          scales: {
            xAxes: [{stacked: true}],
            yAxes: [{stacked: true}],
          },
        },
      })
    </script>

  </div>
</div>
{% endblock %}
