{% extends "base.html" %}

{% load i18n workbench %}

{% block title %}{% trans 'Search' %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>{% trans 'Search' %}</h1>
    {% for verbose_name_plural, results in search.results %}
      {% for result in results %}
        {% if forloop.first %}
          <h2>{{ verbose_name_plural }}</h2>
          <ul>
        {% endif %}
        {% if forloop.counter == 101 %}
          <li>{% trans 'Only showing 100 items. Additional results have been omitted.' %}</li>
        {% else %}
          <li>
            <a href="{{ result.get_absolute_url }}">{% firstof result.html result|h %}</a>
          </li>
        {% endif %}
        {% if forloop.last %}
          </ul>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block js %}{{ block.super }}
<script>
  $(function() {
    $('form[role=search] input').focus();
  });
</script>
{% endblock %}
