<!doctype html>
{% load bootstrap3 i18n static %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <title>{% block title %}Hangar{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'workbench/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'workbench/css/bootstrap-datetimepicker.css' %}">
  <link rel="stylesheet" href="{% static 'workbench/workbench.css' %}">
  <link rel="shortcut icon" href="{% static 'workbench/favicon.ico' %}">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body role="document">

  {% block body %}{% endblock body %}

  <script src="{% static 'workbench/jquery-2.2.4.min.js' %}"></script>
  <script src="{% static 'workbench/js/moment-with-locales.js' %}"></script>
  <script src="{% static 'workbench/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'workbench/js/bootstrap-datetimepicker.js' %}"></script>
  <script src="{% static 'workbench/workbench.js' %}"></script>
  {% block js %}{% endblock %}
</body>
</html>
