{% extends "base.html" %}

{% load i18n workbench %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading"><h3>Hi, {{ user }}</h3></div>
      <div class="panel-body">

      </div>
    </div>

    {% for app, days in user.future_days %}
      <div class="panel panel-default">
        <div class="panel-heading"><h3>
            <a href="{{ app.get_absolute_url }}">{{ app.title }}</a>
        </h3></div>
        <div class="panel-body">
          <div style="column-width:10em">
            {% for day in days %}
            <div>{{ day.day|date:"D d.m.Y" }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
</div>
{% endblock %}
