{% extends "base.html" %}

{% load i18n workbench %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-8">

    <div class="card mt-3 mb-3">
      <div class="card-header"><h3>Hi, {{ user }}</h3></div>
      <div class="card-body">
        <div class="card-text">

          <table class="table table-condensed">
            <tr>
              <td class="text-right">{{ user.hours.today }}h</td>
              <th>{% trans 'Hours today' %}</th>
            </tr>
            <tr>
              <td class="text-right">{{ user.hours.week }}h</td>
              <th>{% trans 'Hours this week' %}</th>
            </tr>
          </table>

        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header"><h3>
        <a href="{% url 'projects_project_list' %}">{% trans 'active projects' %}</a>
      </h3></div>
      <div class="card-body">
        <div class="card-text">
          <table class="table table-condensed">
            {% for project in user.active_projects %}
              <tr>
                <th><a href="{{ project.urls.detail }}">
                  {{ project|h }}
                </a></th>
                <td>
                  <span class="badge badge-{{ project.status_css }}">
                    {{ project.pretty_status }}
                  </span>
                </td>
                <td style="white-space:nowrap">
                  <a href="{{ project.urls.createhours }}" data-toggle="ajaxmodal">
                    {% include 'svg/plus.svg' %} {% trans 'hours' %}
                  </a>
                </td>
              </tr>
            {% empty %}
              <tr><th>{% trans 'no active projects!' %}</th></tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header"><h3>
        <a href="{% url 'logbook_loggedhours_list' %}">{% trans 'recent hours' %}</a>
      </h3></div>
      <div class="card-body">
        <div class="card-text">
          <table class="table table-condensed">
            {% for hours in user.recent_hours %}
              <tr class="{{ hours.css }}">
                <td>{{ hours.created_at|date:'H:i' }}</td>
                <td>
                  <a href="{{ hours.service.project.urls.detail }}">
                    {{ hours.service.project|h }}
                  </a>
                </td>
                <td>
                  <a href="{{ hours.urls.detail }}" data-toggle="ajaxmodal">
                    {{ hours }}
                  </a>
                </td>
                <td class="text-right">{{ hours.hours }}h</td>
              </tr>
            {% empty %}
              <tr><th>{% trans 'no recent hours!' %}</th></tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header"><h3>
        <a href="{% url 'activities_activity_list' %}">{% trans 'activities' %}</a>
      </h3></div>
      <div class="card-body">
        <div class="card-text">
          <table class="table table-condensed">
            {% for activity in user.activities.open %}
            <tr class="{{ activity.css }}">
                <th><a href="{{ activity.urls.detail }}" data-toggle="ajaxmodal">
                    {{ activity }}
                </a></th>
                <td>
                  {% for c in activity.context %}
                    <a href="{{ c.get_absolute_url }}">{{ c }}</a>{% if not forloop.last %},{% endif %}
                  {% endfor %}
                </td>
                <td>{{ activity.pretty_status }}</td>
              </tr>
            {% empty %}
              <tr><th>{% trans 'no activities!' %}</th></tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
