{% extends "base.html" %}

{% load i18n workbench %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6">

    <div class="card mb-3">
      <div class="card-header d-flex w-100 justify-content-between">
        <h3 class="my-0">
          {% trans "timestamps"|capfirst %}
          <small>
            <a href="{% url 'logbook_loggedhours_list' %}?rendered_by={{ user.pk }}&amp;date_from={% now 'Y-m-d' %}">
              {{ user.hours.today|hours }} {% trans 'today' %}</a> /
            <a href="{% url 'logbook_loggedhours_list' %}?rendered_by={{ user.pk }}">
              {{ user.hours.week|hours }} {% trans 'this week' %}</a>
          </small>
        </h3>
        <div>

          {% if previous %}
          <a href="?day={{ previous.isoformat }}" class="btn btn-primary btn-sm align-self-start"
                                                  title="{% trans 'Previous day' %}">
            &laquo;
          </a>
          {% endif %}

          {% if next %}
          <a href="?day={{ next.isoformat }}" class="btn btn-primary btn-sm align-self-start"
                                              title="{% trans 'Next day' %}">
            &raquo;
          </a>
          {% endif %}

          <a href="{% url 'timestamps-controller' %}?user={{ user.signed_email }}&amp;url={{ url }}&amp;title={{ WORKBENCH.TITLE }}"
             class="btn btn-primary btn-sm align-self-start"
             target="_blank"
             rel="noopener noreferrer"
             onclick="window.open(this.href, 'timestamps', 'innerHeight=450,innerWidth=400,resizable=yes,scrollbars=yes,alwaysOnTop=yes,location=no,menubar=no,toolbar=no');return false">
            {% trans 'Controller' %}</a>

        </div>
      </div>

      <div class="list-group list-group-flush">
        {% for row in timestamps %}
        {% if row.timestamp.logged_hours %}
          <a class="list-group-item list-group-item-action"
             href="{{ row.timestamp.logged_hours.get_absolute_url }}"
            data-toggle="ajaxmodal">
            <div class="d-flex w-100">

              <div>
                <strong>
                  {{ row.timestamp.created_at|date:'H:i' }}
                </strong>
                {{ row.timestamp.badge }}
                {{ row.timestamp.logged_hours }}
              </div>

              <span class="btn btn-sm ml-auto align-self-start btn-light">
                {{ row.timestamp.logged_hours.hours|hours:True }}
              </span>

            </div>

          </a>

        {% elif row.timestamp.logged_break %}
          <a class="list-group-item list-group-item-action"
             href="{{ row.timestamp.logged_break.get_absolute_url }}"
            data-toggle="ajaxmodal">
            <div class="d-flex w-100">

              <div>
                <strong>
                  {{ row.timestamp.created_at|date:'H:i' }}
                </strong>
                {{ row.timestamp.badge }}
                {{ row.timestamp.logged_break }}
              </div>

              <span class="btn btn-sm ml-auto align-self-start btn-light">
                {{ row.elapsed|hours:True }}
              </span>

            </div>

          </a>

        {% elif row.timestamp.url %}
          <a class="list-group-item list-group-item-action" href="{{ row.timestamp.url }}" data-toggle="ajaxmodal">
            <strong>
              {{ row.timestamp.created_at|date:'H:i' }}
            </strong>
            {{ row.timestamp.badge }}
            {{ row.timestamp.notes }}
          </a>

        {% else %}
          <div class="list-group-item">
            <div class="d-flex w-100">

              <div>
                <strong>
                  {{ row.timestamp.created_at|date:'H:i' }}
                </strong>
                {{ row.timestamp.badge }}
                {{ row.timestamp.notes }}
              </div>

              <div class="ml-auto">

                <a href="{% url 'logbook_break_create' %}?day={{ day.isoformat }}&amp;starts_at={{ row.previous.time.isoformat }}&amp;ends_at={{ row.timestamp.time.isoformat }}&amp;timestamp={{ row.timestamp.pk }}"
                   data-toggle="ajaxmodal"
                   class="btn btn-sm align-self-start btn-primary">
                  {% trans 'break'|capfirst %}
                </a>

                {% if row.elapsed %}
                <a
                  href="{% url 'logbook_loggedhours_create' %}?hours={{ row.elapsed|stringformat:'s' }}&amp;rendered_on={{ day.isoformat }}&amp;timestamp={{ row.timestamp.pk }}"
                  data-toggle="ajaxmodal"
                  class="btn btn-sm align-self-start btn-primary">
                  {{ row.elapsed|hours:True }}
                </a>
                {% endif %}

              </div>

            </div>

          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>
</div>
{% endblock %}
