{% extends "site_base.html" %}

{% load bootstrap3 i18n %}

{% block title %}{% trans 'Sign in' %} - {{ block.super }}{% endblock %}

{% block body %}
  <div class="container-fluid theme-showcase" role="main">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div style="height:1em"></div>
        <div class="hidden-xs" style="height:9em"></div>

        {% bootstrap_messages %}

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Workbench</h3>
          </div>
          <div class="panel-body">
            <a href="{% url 'accounts_oauth2' %}" class="btn btn-primary">
              {% trans 'Sign in' %}
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>

  </div> <!-- /container -->
{% endblock body %}
