{% extends "accounts/user_base.html" %}
{% load i18n workbench %}
{% block inner_content %}
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <table class="table table-striped">
        {% for name, value in object|field_value_pairs:'email,is_active,_short_name,_full_name,language,working_time_model,person' %}
          <tr>
            <th class="text-right">{{ name }}</th>
            <td>{% link_or_none value %}</td>
          </tr>
        {% endfor %}
        {% if user.features.PLANNING %}
          <tr>
            <th class="text-right">{% translate 'planning hours per day'|capfirst %}</th>
            <td>{{ user.planning_hours_per_day|hours }}</td>
          </tr>
        {% endif %}
        <tr>
          <th class="text-right">{% translate 'person'|capfirst %}</th>
          <td>{% link_or_none object.person %}</td>
        </tr>
        <tr>
          <th class="text-right">{% translate 'teams'|capfirst %}</th>
          <td>
            {% for team in object.teams.all %}
              {% link_or_none team %}
            {% endfor %}
          </td>
        </tr>
      </table>
    </div>
  </div>
{% endblock inner_content %}
