{% extends "accounts/user_base.html" %}

{% load i18n workbench %}

{% block inner_content %}
<div class="row">
<div class="col-md-6 offset-md-3">
  <table class="table table-striped">
    {% for name, value in object|field_value_pairs:'email,is_active,_short_name,_full_name,language,working_time_model,person' %}
    <tr>
      <th class="text-right">{{ name }}</th>
      <td>{% link_or_none value %}</td>
    </tr>
    {% endfor %}
    <tr>
      <th class="text-right">{% trans 'person'|capfirst %}</th>
      <td>{% link_or_none object.person %}</td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'teams'|capfirst %}</th>
      <td>
        {% for team in object.teams.all %}{% link_or_none team %}{% endfor %}
      </td>
    </tr>
  </table>
</div>
</div>
{% endblock %}
