{% load bootstrap4 i18n workbench %}
<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ view.meta.verbose_name_plural }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="list-group list-group-flush">
          {% for object in object_list %}
          <a
            data-id="{{ view.request.GET.id }}"
            data-key="{{ object.pk }}"
            data-pretty="{{ object }}"
            data-toggle="picker"
            href="#"
            class="list-group-item list-group-item-action text-truncate">
              {{ object }}
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <form method="get" action="{{ view.request.path }}" class="form form-inline">
          <input type="hidden" name="id" value="{{ view.request.GET.id }}">
          <input type="text" name="q" placeholder="{% trans 'Search' %}" class="form-control"
            value="{{ view.request.GET.q }}">
        </form>
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="{{ view.request.path }}{% querystring page=page_obj.previous_page_number %}"
                 data-toggle="ajaxmodal">&laquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
          {% endif %}
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="{{ view.request.path }}{% querystring page=page_obj.next_page_number %}"
                 data-toggle="ajaxmodal">&raquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
          {% endif %}
        </ul>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
