{% extends "base.html" %}

{% load bootstrap4 i18n querystring workbench %}

{% block title %}{{ view.meta.verbose_name_plural }} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">

    <div class="d-flex flex-column flex-lg-row align-items-lg-center justify-content-lg-between">
      <h1>{{ view.meta.verbose_name_plural }}</h1>
      <form method="GET" action="." class="form-inline form-search mb-3 mb-lg-0">
        <label class="sr-only">{% trans 'search' %}</label>
        <input
          class="form-control"
          type="search"
          name="q"
          placeholder="{% trans 'search' %}"
          value="{{ view.request.GET.q|default:'' }}">

        {% for f in view.search_form %}
          <label class="sr-only">{{ f.label }}</label>
          {{ f }}
        {% endfor %}

        {% block search-form-buttons %}
        {% if view.show_create_button %}
          <a href="{{ view.model.urls.create }}" class="btn btn-secondary">
            {% include "svg/plus.svg" %}
            {{ view.meta.verbose_name }}
          </a>
        {% endif %}
        {% endblock %}
      </form>
    </div>

    {% block objects %}
    {% for object in object_list %}
    <a href="{{ object.urls.detail }}" class="list-group-item list-group-item-action">
      <span style="float:right" class="badge badge-{{ object.status_css }}">{{ object.pretty_status }}</span>
      <h5 class="mb-0">{{ object|h }}</h5>
    </a>
    {% endfor %}

    <p>
      {{ paginator.count }} {{ view.meta.verbose_name_plural }}
      {% if view.root_queryset_count != paginator.count %}
      (<a href=".">{% blocktrans with total=view.root_queryset_count %}{{ total }} total{% endblocktrans %}</a>)
      {% endif %}
    </p>
    {% endblock %}

    {% bootstrap_pagination page=page_obj extra=request.GET|querystring:'page' pages_to_show=6 justify_content='center' %}
  </div>
</div>
{% endblock %}
