{% extends "base.html" %}

{% load bootstrap4 fineforms i18n %}

{% block title %}{{ object|default:view.meta.verbose_name_plural }} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-8">
    <h1>
      {% if object %}
        <a href="{{ object.get_absolute_url }}">
        {% blocktrans %}Update {{ object }}{% endblocktrans %}
        </a>
      {% else %}
        {% blocktrans with class=view.meta.verbose_name %}Create {{ class }}{% endblocktrans %}
      {% endif %}
    </h1>

    <form method="POST" action="{{ request.get_full_path }}" class="form-horizontal">
      {% csrf_token %}

      {% if form.warnings %}
        <div class="alert alert-warning alert-dismissable">
          <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&#215;</button>
          {% for warning in form.warnings %}
            {{ warning }}<br>
          {% endfor %}

          <br>
          <input type="checkbox" name="ignore_warnings" id="id_ignore_warnings">
          <label for="id_ignore_warnings">{% trans 'Yes, I am sure.' %}</label>
        </div>
      {% endif %}

      {% ff_errors form %}
      {% ff_fields form %}

      {% for formset in view.formsets.values %}{{ formset }}{% endfor %}

      <div class="col-lg-8 offset-lg-4">
        <button type="submit" class="btn btn-primary">
          {% trans 'save' %}</button>

        {% if object.get_absolute_url %}
        <a href="{{ object.get_absolute_url }}" class="btn float-right btn-outline-danger">
          {% trans 'cancel' %}</a>
        {% endif %}
      </div>

    </form>

  </div>
</div>
{% endblock %}
