{% extends "base.html" %}
{% load django_bootstrap5 fineforms i18n workbench %}
{% block title %}{{ object|default:view.meta.verbose_name }} - {{ block.super }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>
        {% blocktranslate trimmed %}
          Delete {{ object }}
        {% endblocktranslate %}
      </h1>
      <form method="POST" action="." class="form">
        {% csrf_token %}
        {% if form %}
          {% include 'fineforms/warnings.html' %}
          {% ff_errors form %}
          {% ff_fields form %}
        {% endif %}
        <a href="{{ object.get_absolute_url }}" class="btn btn-primary">{% translate 'cancel' %}</a>
        <button type="submit" class="btn btn-danger float-end">{% translate 'delete' %}</button>
    </form>
  </div>
</div>
{% endblock content %}
