{% load bootstrap4 i18n querystring %}
<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ view.meta.verbose_name_plural }}</h4>
      </div>
      <div class="modal-body">
        <form method="get" action="{{ view.request.path }}" class="form form-inline">
          <input type="hidden" name="id" value="{{ view.request.GET.id }}">
          <input type="text" name="q" placeholder="{% trans 'Search' %}" class="form-control"
            value="{{ view.request.GET.q }}">
        </form>
        <div class="list-group">
          {% for object in object_list %}
          <a
            data-id="{{ view.request.GET.id }}"
            data-key="{{ object.pk }}"
            data-pretty="{{ object }}"
            data-toggle="picker" class="list-group-item">
              {{ object }}
            </a>
          {% endfor %}
        </div>
        <ul class="pagination clearfix" style="display:block">
          {% if page_obj.has_previous %}
            <li class="prev">
              <a href="{{ view.request.path }}?{{ view.request.GET|querystring:'page' }}&amp;page={{ page_obj.previous_page_number }}"
                 class="btn btn-secondary pull-left"
                 data-toggle="ajaxmodal">&laquo;</a>
            </li>
          {% endif %}
          {% if page_obj.has_next %}
            <li class="next pull-right">
              <a href="{{ view.request.path }}?{{ view.request.GET|querystring:'page' }}&amp;page={{ page_obj.next_page_number }}"
                 class="btn btn-secondary pull-right"
                 data-toggle="ajaxmodal">&raquo;</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
