{% load django_bootstrap5 fineforms i18n %}
<div class="modal">
  <div class="modal-dialog">
    <form method="post" action="{{ request.get_full_path }}" data-autosubmit>
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ title }}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body clearfix">
          {% bootstrap_messages %}
          {% csrf_token %}
          {% block body %}
            {% include 'fineforms/warnings.html' %}
            {% ff_errors form %}
            {% ff_fields form %}
          {% endblock body %}
          {% if links %}
            <div class="list-group">
              {% for link in links %}
                <a href="{{ link.url }}"
                  class="list-group-item list-group-item-action"
                  {{ link.attrs|safe }}
                  data-number-shortcut="{{ link.shortcut }}">
                  {% if link.shortcut is not None %}<span class="badge bg-dark float-end mt-1">{{ link.shortcut }}</span>{% endif %}
                  {% if link.is_pinned %}<small>&#128204;</small>{% endif %}
                  {{ link.title }}
                </a>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
      <!-- /.modal-content -->
    </form>
  </div>
  <!-- /.modal-dialog -->
</div>
