{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ person }} - {% trans "persons" %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-12">
  <h1>{{ person }}</h1>
  <table class="table table-striped">
    <tr>
      <td class="text-right">{% trans 'organization' %}</td>
      <td>
        {% if person.organization %}
          <a href="{{ person.organization.get_absolute_url }}">
            {{ person.organization }}
          </a>
        {% else %}&ndash;{% endif %}
      </td>
    </tr>
    <tr>
      <td class="text-right">{% trans 'notes' %}</td>
      <td>
        {{ person.notes|linebreaksbr|default:"&ndash;" }}
      </td>
    </tr>
    {% for phone in person.phonenumbers.all %}
      <tr>
        <td class="text-right">{{ phone.type }}</td>
        <td><a href="tel:{{ phone.phone_number }}">
          {{ phone.phone_number }}
        </a></td>
      </tr>
    {% endfor %}
    {% for email in person.emailaddresses.all %}
      <tr>
        <td class="text-right">{{ email.type }}</td>
        <td><a href="mailto:{{ email.email }}">
          {{ email.email }}
        </a></td>
      </tr>
    {% endfor %}
    {% for address in person.postaladdresses.all %}
      <tr>
        <td class="text-right">{{ address.type }}</td>
        <td>{{ address.postal_address|linebreaksbr }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td></td>
      <td>
        <a href="{{ object.urls.update }}" class="btn btn-default">
          {% trans 'Update' %}</a>
        <a href="{{ object.urls.delete }}" class="btn btn-danger">
          {% trans 'Delete' %}</a>
      </td>
    </tr>
  </table>
</div>
</div>
{% endblock %}
