{% extends "base.html" %}

{% load history i18n %}

{% block title %}{{ deal }} - {% trans "deals" %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>{{ deal }} {% history_link deal %}</h1>

    <table class="table table-striped">
      <tr>
        <th>{% trans 'description' %}</th>
        <td>{{ deal.description|default:"&ndash;"|linebreaksbr }}</td>
      </tr>
      <tr>
        <th>{% trans 'owned by' %}</th>
        <td>{{ deal.owned_by.get_full_name }}</td>
      </tr>
      <tr>
        <th>{% trans 'estimated value' %}</th>
        <td>{{ deal.estimated_value }}</td>
      </tr>
      <tr>
        <th>{% trans 'stage' %}</th>
        <td>{{ deal.stage }}</td>
      </tr>
      <tr>
        <th>{% trans 'status' %}</th>
        <td>{{ deal.get_status_display }}</td>
      </tr>
    </table>

    <a href="{% url 'activities_activity_create' %}?deal={{ deal.pk }}" class="btn btn-default"
      data-toggle="ajaxmodal">
      <i class="glyphicon glyphicon-plus"> </i> {% trans 'activity' %}</a>
    <a href="{{ deal.urls.update }}" class="btn btn-default">
      {% trans 'Update' %}</a>
    <a href="{{ deal.urls.delete }}" class="btn btn-danger btn-inverse pull-right">
      {% trans 'Delete' %}</a>
  </div>
</div>
{% endblock %}
