{% extends "generic/object_list.html" %}
{% load i18n workbench %}
{% block search-form-buttons %}
  {{ block.super }}
  <a href="{% querystring export='xlsx' %}" class="btn btn-primary">
    {% include 'svg/desktop-download.svg' %}
    XLSX
  </a>
{% endblock search-form-buttons %}

{% block objects %}
  <div class="row">
    {% for group in object_list|load_overview_attributes|group_deals_by_probability:view.search_form.should_group_deals %}
      <div class="col-lg-6 col-xl-4">
        <div class="card mb-5">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-1">{{ group.title }}</h5>
            <span>{{ group.sum|currency }}</span>
          </div>
          <div class="list-group list-group-flush">
            {% for object in group.deals %}
              <a href="{{ object.get_absolute_url }}"
                 class="list-group-item list-group-item-action">
                <span style="float:right">{{ object.status_badge }}</span>
                <h5 class="mb-1">{{ object|h }}</h5>
                <div class="row">
                  <div class="col-md-9">{{ object.contact.name_with_organization|default:object.customer }}</div>
                  <div class="col-md-3 text-md-right">{{ object.value|currency }}</div>
                </div>
                {{ object.overview_attributes }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock objects %}
