{% extends "generic/object_detail.html" %}

{% load i18n workbench %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>{{ deal }} {% history_link deal %}</h1>

    <table class="table table-striped">
      {% for name, value in object|field_value_pairs:'description, owned_by, stage' %}
      <tr><th class="text-right">{{ name }}</th><td>{% link_or_none value %}</td></tr>
      {% endfor %}

      <tr>
        <th class="text-right">{% trans 'estimated value' %}</th>
        <td>{{ deal.estimated_value|currency }}</td>
      </tr>
      <tr>
        <th class="text-right">{% trans 'status' %}</th>
        <td>{{ deal.pretty_status }}</td>
      </tr>
    </table>

    <a href="{{ deal.urls.update }}" class="btn btn-secondary">
      {% trans 'Update' %}</a>
    <a href="{{ deal.urls.delete }}" class="btn btn-outline-danger float-right">
      {% trans 'Delete' %}</a>

    <h2>{% trans 'activities' %}</h2>

    <table class="table">
      {% for activity in deal.activities.all %}
        <tr class="{{ activity.css }}">
          <th>
            <a href="{{ activity.get_absolute_url }}" data-toggle="ajaxmodal">
              {{ activity }}
            </a>
          </th>
          <td>
            {{ activity.owned_by.get_full_name }}
          </td>
          <td>
            {{ activity.pretty_status }}
          </td>
        </tr>
      {% empty %}
        <tr><th class="nopad">{% trans 'No activities' %}</th></tr>
      {% endfor %}
    </table>
    <a href="{% url 'activities_activity_create' %}?deal={{ deal.pk }}"
      class="btn btn-secondary"
      data-toggle="ajaxmodal">
      {% include "svg/plus.svg" %} {% trans 'activity' %}
    </a>
  </div>
</div>
{% endblock %}
