{% extends "generic/object_list.html" %}

{% load bootstrap4 i18n workbench %}

{% block objects %}

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>{% trans 'deal' %}</th>
      <th>{% trans 'owned by' %}</th>
      <th class="text-right">{% trans 'estimated value' %}</th>
      <th>{% trans 'stage' %}</th>
      <th>{% trans 'status' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for deal in object_list %}
      <tr>
        <th><a href="{{ deal.urls.detail }}">{{ deal }}</a></th>
        <td>{{ deal.owned_by.get_short_name }}</td>
        <td class="text-right">{{ deal.estimated_value }}</td>
        <td>{{ deal.stage }}</td>
        <td>{{ deal.get_status_display }}</td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        {{ paginator.count }} {{ view.meta.verbose_name_plural }}
        {% if view.root_queryset_count != paginator.count %}
        (<a href=".">{% blocktrans with total=view.root_queryset_count %}{{ total }} total{% endblocktrans %}</a>)
        {% endif %}
      </td>
    </tr>
  </tfoot>
</table>

{% endblock %}
