$root-font-size: 1rem;

html,
body {
  min-height: 100vh;
}

div[role="main"] {
  flex: 1;
  display: flex;
  padding-bottom: 1rem !important;
}

.navbar {
  margin-bottom: 0.5rem;
}

.create-activity {
  position: fixed;
  top: 58px;
  right: 10px;
  z-index: 1005;
}

.activity-list {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
  margin: -15px;
}

.activity {
  width: 18rem;
  position: absolute;

  transition: background-color 0.2s ease-in-out;

  &.is-active {
    /* Add some styling */
    z-index: 1;
  }

  .activity-body {
    position: relative;
  }
}

.activity:hover,
.activity:focus-within {
  z-index: 2;
}

.activity-duration {
  text-align: center;
  font-size: 1.5rem;
}

.activity-settings {
  position: absolute;
  top: 8px;
  right: 8px;
  left: 8px;
  z-index: 1;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
}

.activity-color-chooser {
  font-size: 2rem;
  text-align: center;

  input {
    display: none;
  }

  label {
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    margin: 0 0.25rem;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;

    &.checked {
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

.js-drag-handle {
  cursor: move;
}

.create-activity input {
  max-width: none !important;
}

.form-group {
  margin: 0.25rem 0;
}

.form-group textarea,
.select .select__control,
.btn-light {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0;
}

.btn-light:not([disabled]):hover {
  background-color: rgba(255, 255, 255, 1);
}

.form-group .select {
  flex: 1;
}

.select__placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.deactivated::after {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  content: "Only one Timer window allowed at a time";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
  z-index: 1010;
}
