{% extends "site_base.html" %}

{% load bootstrap3 i18n %}

{% block title %}{% trans 'Sign in' %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="hidden-xs" style="height:10em"></div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>FeinTOOL</h3>
      </div>
      <div class="panel-body">

    <form method="POST" action="." class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% trans 'Sign in' %}
        </button>

        <a href="{% url 'password_reset' %}" class="btn btn-default pull-right">
          {% trans 'Reset my password' %}</a>
      {% endbuttons %}
    </form>

      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
{% endblock %}
