@import "variables";

html {
  font-size: $root-font-size;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.activity-list {
  flex: 1 0 auto;
  position: relative;
}

.activity {
  width: 20rem;
  position: absolute;

  .card-body {
    position: relative;
  }
}

.activity:focus-within {
  z-index: 1;
}

.activity-duration {
  text-align: center;
  font-size: 2rem;
}

.activity-settings {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.7);
}

.js-drag-handle {
  cursor: move;
}
