@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(./Lato-Light.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(./Lato-Bold.woff) format('woff');
}

@media only screen and (max-width: 760px) {
  .table-linearize table,
  .table-linearize thead,
  .table-linearize tbody,
  .table-linearize tfoot,
  .table-linearize th,
  .table-linearize td,
  .table-linearize tr {
    display: block;
  }

  .table-linearize th {
    padding: 8px 8px 4px 8px !important;
  }

  .table-linearize td {
    border: none !important;
    padding: 4px 8px !important;
  }
}

body {
  /* Work-around for https://github.com/twbs/bootstrap/issues/9855 */
  overflow: scroll !important;
  padding-right: 0 !important;
  margin-bottom: 15px !important;
}

.form-inline.fieldset .form-group {
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
}
.form-inline.fieldset input,
.form-inline.fieldset select,
.form-inline.fieldset textarea { width: 100%; }

th.number {
  text-align: right;
}
.number input {
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  text-align: right;
}

.number input:-moz-placeholder { color: #ccc; text-overflow: ellipsis; }
.number input::-moz-input-placeholder { color: #ccc; text-overflow: ellipsis; }
.number input::-webkit-input-placeholder { color: #ccc; text-overflow: ellipsis; }
.number input:-ms-input-placeholder { color: #ccc; text-overflow: ellipsis; }
