@media only screen and (max-width: 760px) {
  .table-linearize table,
  .table-linearize thead,
  .table-linearize tbody,
  .table-linearize tfoot,
  .table-linearize th,
  .table-linearize td,
  .table-linearize tr {
    display: block;
  }

  .table-linearize th {
    padding: 8px 8px 4px 8px !important;
  }

  .table-linearize td {
    border: none !important;
    padding: 4px 8px !important;
  }
}

body {
    /* Work-around for https://github.com/twbs/bootstrap/issues/9855 */
    overflow: scroll !important;
    padding-right: 0 !important;
}
