{% extends "generic/object_list.html" %}

{% load bootstrap4 i18n workbench %}

{% block objects %}
<div class="list-group list-group-flush">
  {% for offer in object_list %}
  <a href="{{ offer.get_absolute_url }}" class="list-group-item list-group-item-action px-0">
    <span style="float:right" class="badge badge-{{ offer.status_css }}">{{ offer.pretty_status }}</span>
    <h5 class="mb-1">{{ offer|h }}</h5>
    <div class="row">
      <div class="col-md-5 text-truncate">{{ offer.project|h }}</div>
      <div class="col-md-4 text-truncate">{{ offer.project.contact|default:offer.project.customer }}</div>
      <div class="col-md-3 text-truncate text-md-right">
        {{ offer.total_excl_tax|currency }} exkl. /
        {{ offer.total|currency }}
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
