{% extends "base.html" %}

{% load history i18n workbench %}

{% block title %}{{ object }} - {{ view.meta.verbose_name_plural }} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
  <h1>{{ object }} {% history_link object %}</h1>

  <table class="table table-striped">
    {% for name, value in object|field_value_pairs:'project,offered_on,description,owned_by' %}
    <tr>
      <th class="text-right">{{ name }}</th>
      <td>{% link_or_none value %}</td>
    </tr>
    {% endfor %}
    <tr>
      <th class="text-right">{% trans 'status' %}</th>
      <td>{{ object.pretty_status }}</td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'postal address' %}</th>
      <td>{{ object.postal_address|linebreaksbr }}</td>
    </tr>
  </table>

  <table class="table table-striped table-hover">
    {% for service in object.services.all|prefetch_related:'efforts__service_type,costs' %}
      <tr>
        <td>
          <a href="{{ service.urls.move }}?up" class="move" title="{% trans 'Move up' %}">
            <i class="glyphicon glyphicon-chevron-up"></i>
          </a>
          <a href="{{ service.urls.move }}?down" class="move" title="{% trans 'Move down' %}">
            <i class="glyphicon glyphicon-chevron-down"></i>
          </a>
        </td>
        <td colspan="3">
          <a href="{{ service.urls.update }}">
            <strong>{{ service.title }}</strong>
          </a>
          {% if service.description %}
            <br>
            {{ service.description|linebreaksbr }}
          {% endif %}
        </td>
      </tr>
      {% for effort in service.efforts.all %}
        <tr>
          <td></td>
          <td>{{ effort.service_type }}</td>
          <td class="text-right">{{ effort.hours }}h</td>
          <td class="text-right">{{ effort.cost|currency }}</td>
        </tr>
      {% endfor %}
      {% for cost in service.costs.all %}
        <tr>
          <td></td>
          <td colspan="2">{{ cost.title }}</td>
          <td class="text-right">{{ cost.cost|currency }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
    <tfoot>
      <tr>
        <td></td>
        <th colspan="2">{% trans 'total excl. tax' %}</th>
        <td class="text-right">{{ object.total_excl_tax|currency }}</td>
      </tr>
      <tr>
        <td></td>
        <th colspan="2">{% trans 'total CHF incl. tax' %}</th>
        <td class="text-right">{{ object.total|currency }}</td>
      </tr>
    </tfoot>
  </table>

  <a href="{{ object.urls.createservice }}" class="btn btn-default">
    <i class="glyphicon glyphicon-plus-sign"></i> {% trans 'service' %}
  </a>
  <a href="{{ object.urls.pdf }}" class="btn btn-default">
    PDF
  </a>
  <a href="{{ object.urls.update }}" class="btn btn-default">
    {% trans 'Update' %}
  </a>
  <a href="{{ object.urls.delete }}" class="btn btn-danger btn-inverse pull-right">
    {% trans 'Delete' %}
  </a>
</div>
</div>
{% endblock %}
