{% extends "tools/object_list.html" %}

{% load bootstrap3 i18n querystring workbench %}

{% block objects %}

<table class="table table-hover table-striped table-linearize">
  <thead>
    <tr>
      <th>{% trans 'offer' %}</th>
      <th>{% trans 'customer' %}</th>
      <th>{% trans 'project' %}</th>
      <th>{% trans 'status' %}</th>
      <th class="text-right">{% trans 'total excl. tax' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for offer in object_list|select_related:'project__customer,project__contact__organization' %}
      <tr>
        <th><a href="{{ offer.urls.detail }}">
          {{ offer|h }}
        </a></th>
        <td>{{ offer.project.contact|default:offer.project.customer }}</td>
        <td>{{ offer.project }}</td>
        <td><span class="label label-{{ offer.status_css }}">{{ offer.pretty_status }}</span></td>
        <td class="text-right">{{ offer.total_excl_tax|currency }}</td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        {{ paginator.count }} {{ view.meta.verbose_name_plural }}
        {% if view.root_queryset_count != paginator.count %}
        (<a href=".">{% blocktrans with total=view.root_queryset_count %}{{ total }} total{% endblocktrans %}</a>)
        {% endif %}
      </td>
    </tr>
  </tfoot>
</table>

{% endblock %}
