{% extends "tools/object_list.html" %}

{% load bootstrap3 i18n querystring %}

{% block objects %}

<table class="table table-hover table-striped table-linearize">
  <thead>
    <tr>
      <th>{% trans 'offer' %}</th>
      <th>{% trans 'customer' %}</th>
      <th>{% trans 'project' %}</th>
      <th class="hidden-xs">{% trans 'owned by' %}</th>
      <th>{% trans 'status' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for offer in object_list %}
      <tr>
        <th><a href="{{ offer.urls.detail }}">
            {{ offer }}
        </a></th>
        <td>{{ offer.project.contact|default:offer.project.customer }}</td>
        <td>{{ offer.project }}</td>
        <td class="hidden-xs">{{ offer.owned_by.get_short_name }}</td>
        <td>{{ offer.pretty_status }}</td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5">
        {{ paginator.count }} {{ view.meta.verbose_name_plural }}
        {% if view.root_queryset_count != paginator.count %}
        (<a href=".">{% blocktrans with total=view.root_queryset_count %}{{ total }} total{% endblocktrans %}</a>)
        {% endif %}
      </th>
    </tr>
  </tfoot>
</table>

{% endblock %}
