{% extends "base.html" %}

{% load history i18n %}

{% block title %}{{ object }} - {{ view.meta.verbose_name_plural }} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-6 col-md-offset-3">
  <h1>{{ object }}</h1>

  <a href="{{ object.urls.pdf }}" class="btn btn-default">
    PDF
  </a>
  <a href="{{ object.urls.update }}" class="btn btn-default">
    {% trans 'Update' %}
  </a>
  <a href="{{ object.urls.delete }}" class="btn btn-danger btn-inverse pull-right">
    {% trans 'Delete' %}
  </a>

  <h2>{% trans 'History' %}</h2>
  {% history object 'offered_on, closed_at, title, description, owned_by, status, discount, total' %}
</div>
</div>
{% endblock %}
