{% extends "base.html" %}

{% load bootstrap3 formset i18n workbench %}

{% block title %}{{ object|default:view.meta.verbose_name_plural }} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    {% if object %}
      <h2><a href="{{ object.offer.get_absolute_url }}">
          <small><i class="glyphicon glyphicon-menu-left"></i></small>
          {{ object.offer|h }}</a></h2>
    {% endif %}

    <h1>
      {% if object %}
        {% blocktrans with object=object %}Update {{ object }}{% endblocktrans %}
      {% else %}
        {% blocktrans with class=view.meta.verbose_name %}Create {{ class }}{% endblocktrans %}
      {% endif %}
    </h1>

    <form method="POST" action="." class="form-horizontal">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% if form.formsets %}
        <div class="row">
          <label class="col-md-3 control-label">
            {% trans 'efforts' %}
            <a href="#"
              onclick="return addInlineForm('efforts')">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
          </label>
          <div class="col-md-9 form-inline fieldset">
            {% formset form.formsets.efforts "efforts" %}
              <div class="row" id="{{ form_id }}">
                <div class="col-md-4">
                  {{ form.id }}
                  {% bootstrap_field form.service_type layout='inline' %}
                </div>
                <div class="col-md-7">
                  {% bootstrap_field form.hours layout='inline' %}
                </div>
                <div class="col-md-1">
                  {{ form.DELETE }}
                </div>
              </div>
            {% endformset %}
          </div>
        </div>

        <div class="row">
          <label class="col-md-3 control-label">
            {% trans 'costs' %}
            <a href="#"
              onclick="return addInlineForm('costs')">
              <i class="glyphicon glyphicon-plus"></i>
            </a>
          </label>
          <div class="col-md-9 form-inline fieldset">
            {% formset form.formsets.costs "costs" %}
              <div class="row" id="{{ form_id }}">
                <div class="col-md-4">
                  {{ form.id }}
                  {% bootstrap_field form.cost layout='inline' %}
                </div>
                <div class="col-md-7">
                  {% bootstrap_field form.title layout='inline' %}
                </div>
                <div class="col-md-1">
                  {{ form.DELETE }}
                </div>
              </div>
            {% endformset %}
          </div>
        </div>
      {% endif %}

      {% buttons %}
      <div class="col-md-9 col-md-offset-3">
        <button type="submit" class="btn btn-primary">
          {% trans 'submit' %}</button>

        {% if object.get_absolute_url %}
        <a href="{{ object.urls.delete }}" class="btn pull-right btn-danger btn-inverse">
          {% trans 'delete' %}</a>
        {% endif %}
      </div>
      {% endbuttons %}

    </form>

  </div>
</div>
{% endblock %}
