{% extends "generic/object_detail.html" %}

{% load history i18n workbench %}

{% block uplink %}
<a href="{{ invoice.get_absolute_url }}" class="btn btn-secondary btn-sm uplink">
  {% include 'svg/chevron-left.svg' %} {% trans 'invoice' %}
</a>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
<div class="col-sm-12">
  <h1>{% link_or_none object %} {% history_link object %}</h1>

  <table class="table">
    <thead>
      <tr>
        <th colspan="2"></th>
        <th>{% trans 'hourly rate' %}</th>
        <th>{% trans 'effort' %}</th>
        <th>{% trans 'cost' %}</th>
        <th class="bg-light" colspan="5">{% trans 'invoice service' %}</th>
      </tr>
    </thead>
    {% for offer, services in invoice.grouped_services %}
      <thead>
        <tr>
          <th colspan="5">
            {% link_or_none offer %}
            <span class="badge badge-{{ offer.status_css }}">{{ offer.pretty_status }}</span>
            {{ offer.short_total_excl }}
          </th>
          <th class="bg-light" colspan="5"></th>
        </tr>
      </thead>
      {% for service in services %}
      <tr>
        <td style="max-width:20em">
          <strong>{{ service.project_service.title }}</strong><br>
          {{ service.project_service.description|linebreaksbr }}
        </td>
        <td>
          {% if service.project_service.pk %}
            <a href="{{ service.project_service.urls.update }}"
              class="btn btn-outline-secondary btn-sm"
              data-toggle="ajaxmodal">
              {% include 'svg/pencil.svg' %}
            </a>
            <br>
            <a href="?service={{ service.project_service.pk }}&amp;mode=description"
              class="btn btn-outline-secondary btn-sm">
              {% include 'svg/chevron-right.svg' %}
            </a>
          {% endif %}
        </td>

        <td>
          {% if service.project_service.effort_rate is None %}?
          {% else %}{{ service.project_service.effort_rate|currency }}h
          {% endif %}
        </td>

        <td>
          {% if service.project_service.effort_rate is None %}
            {{ service.logged_hours|hours }}
          {% else %}
            <strong>{% trans 'service' %}</strong><br>
            <a href="?service={{ service.project_service.pk }}&amp;mode=service_hours" class="btn btn-outline-secondary btn-sm text-nowrap">
              {{ service.project_service.service_hours|hours }}
              {% include 'svg/chevron-right.svg' %}
            </a>
            <br>
            <strong>{% trans 'logbook' %}</strong><br>
            <a href="?service={{ service.project_service.pk }}&amp;mode=logged_hours" class="btn btn-outline-secondary btn-sm text-nowrap">
              {{ service.logged_hours|hours }}
              {% include 'svg/chevron-right.svg' %}
            </a>
          {% endif %}
        </td>

        <td>
          {% if not service.project_service.pk %}
            {{ service.cost|currency }}
          {% else %}
            <strong>{% trans 'service' %}</strong><br>
            <a href="?service={{ service.project_service.pk }}&amp;mode=service_cost" class="btn btn-outline-secondary btn-sm text-nowrap">
              {{ service.project_service.cost|currency }}
              {% include 'svg/chevron-right.svg' %}
            </a>
            <br>
            <strong>{% trans 'logbook' %}</strong><br>
            <a href="?service={{ service.project_service.pk }}&amp;mode=logged_cost" class="btn btn-outline-secondary btn-sm text-nowrap">
              {{ service.logged_cost|currency }}
              {% include 'svg/chevron-right.svg' %}
            </a>
          {% endif %}
        </td>

        <td class="bg-light" style="max-width:20em">
          <strong>{{ service.invoice_service.title }}</strong><br>
          {{ service.invoice_service.description|linebreaksbr }}
        </td>
        <td class="bg-light text-right text-nowrap">
          {{ service.invoice_service.service_hours|hours }} à
          {{ service.invoice_service.effort_rate|currency }}/h
        </td>
        <td class="bg-light text-right">
          {{ service.invoice_service.cost|currency }}
        </td>
        <td class="bg-light text-right">
          {{ service.invoice_service.service_cost|currency }}
        </td>
        <td class="bg-light">
          {% if service.invoice_service.pk %}
            <a href="{# { service.invoice_service.urls.update } #}"
              class="btn btn-outline-secondary btn-sm"
              data-toggle="ajaxmodal">
              {% include 'svg/pencil.svg' %}
            </a>
            <br>
            <a href="?invoice_service={{ service.invoice_service.pk }}&amp;mode=remove"
              class="btn btn-outline-secondary btn-sm">
              {% include 'svg/trashcan.svg' %}
            </a>
          {% endif %}
        </td>

      </tr>
      {% endfor %}
    {% endfor %}
    <tfoot class="bg-light">
      <tr>
        <th colspan="8">{% trans 'subtotal' %}</th>
        <th class="text-right">{{ invoice.subtotal|currency }}</th>
        <th></th>
      </tr>
      {% if invoice.discount %}
      <tr>
        <th colspan="8">{% trans 'discount' %}</th>
        <th class="text-right">{{ invoice.discount|currency }}</th>
        <th></th>
      </tr>
      {% endif %}
      {% if invoice.down_payment_total %}
      <tr>
        <th colspan="8">{% trans 'down payment total' %}</th>
        <th class="text-right">{{ invoice.down_payment_total|currency }}</th>
        <th></th>
      </tr>
      {% endif %}
      {% if invoice.liable_to_vat and invoice.subtotal != invoice.total_excl_tax %}
        <tr>
          <th colspan="8">{% trans 'total excl. tax' %}</th>
          <th class="text-right">{{ invoice.total_excl_tax|currency }}</th>
          <th></th>
        </tr>
      {% endif %}
      <tr>
        <th colspan="8">{{ invoice.total_title }}</th>
        <th class="text-right">{{ invoice.total|currency }}</th>
        <th></th>
      </tr>
    </tfoot>
  </table>


  <a href="{{ object.urls.pdf }}" class="btn btn-secondary" target="_blank">
    PDF
  </a>
</div>
</div>
{% endblock %}
