{% extends "generic/object_detail.html" %}

{% load i18n workbench %}

{% block content %}
<div class="row justify-content-center">
<div class="col-md-10 col-lg-8">
  <h1>{{ object|h }} {% history_link object %}</h1>

  <table class="table table-striped">
    <tr>
      <th class="text-right">{% trans 'customer' %}</th>
      <td>{% link_or_none object.customer %}</td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'contact' %}</th>
      <td>{% link_or_none object.contact %}</td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'project' %}</th>
      <td>{% link_or_none object.project %}</td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'status' %}</th>
      <td>
        {{ object.status_badge }}
        {{ object.payment_notice|linebreaksbr }}
      </td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'invoiced on' %}</th>
      <td>{{ object.invoiced_on|local_date_format }}</td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'description' %}</th>
      <td>{{ object.description|linebreaksbr|default:"&ndash;" }}</td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'postal address' %}</th>
      <td>{{ object.postal_address|linebreaksbr|default:"&ndash;" }}</td>
    </tr>
    {% if object.type == object.SERVICES %}
      <tr>
        <th class="text-right">{% trans 'services' %}</th>
        <td>
          <table class="table">
            {% for service in object.services.all %}
            <tr>
              <td>
                <strong>
                  {{ service.title }} {% history_link service %}
                </strong>
                <br>
                {{ service.description|linebreaksbr }}
              </td>
              <td class="text-right">
                {{ service.service_cost|currency }}
              </td>
              <td>
                <a href="{{ service.urls.update }}" data-toggle="ajaxmodal">
                  {% include 'svg/pencil.svg' %}
                </a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    {% endif %}
    <tr>
      <th class="text-right">{% trans 'subtotal' %}</th>
      <td>{{ object.subtotal|currency }}</td>
    </tr>
    {% if object.discount %}
      <tr>
        <th class="text-right">{% trans 'discount' %}</th>
        <td>-{{ object.discount|currency }}</td>
      </tr>
    {% endif %}
    {% if object.down_payment_total %}
      <tr>
        <th class="text-right">{% trans 'down payment total' %}</th>
        <td>-{{ object.down_payment_total|currency }}</td>
      </tr>
    {% endif %}
    {% if object.liable_to_vat and object.subtotal != object.total_excl_tax %}
      <tr>
        <th class="text-right">{% trans 'total excl. tax' %}</th>
        <td>{{ object.total_excl_tax|currency }}</td>
      </tr>
    {% endif %}
    <tr>
      <th class="text-right">{{ object.total_title }}</th>
      <td>{{ object.total|currency }}</td>
    </tr>
    <tr>
      <th class="text-right">{% trans 'third party costs' %}</th>
      <td>{{ object.third_party_costs|currency }}</td>
    </tr>
  </table>

  <span class="btn-group">
    <a href="{{ object.urls.pdf }}" class="btn btn-primary" target="_blank">PDF</a>
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="{{ object.urls.pdf }}?disposition=attachment">
        {% trans 'Download' %}</a>
    </div>
  </span>
  {% if object.type == object.SERVICES %}
    <a href="{{ object.urls.xlsx }}" class="btn btn-primary">
      {% trans 'logbook' %} (XLSX)
    </a>
  {% endif %}
  <a href="{{ object.urls.update }}" class="btn btn-primary">
    {% trans 'Update' %}
  </a>
  <a href="{{ object.urls.delete }}" class="btn btn-outline-danger float-right">
    {% trans 'Delete' %}
  </a>
</div>
</div>
{% endblock %}
