{% extends "generic/object_form.html" %}
{% load i18n %}
{% block uplink %}
  {% if view.project %}
    <a href="{{ view.project.get_absolute_url }}"
       class="btn btn-primary btn-sm uplink">
      {% include 'svg/chevron-left.svg' %}
      {% translate 'project' %}
    </a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock uplink %}

{% block js %}
  {{ block.super }}
  <script>
jQuery(function($) {
  $(document.body).on("change", "[data-bs-toggle-following]", function() {
    var self = $(this),
      siblings = self.closest(".form-text").nextUntil(".form-text");

    siblings.find("input").prop("checked", this.checked);
  });
});
  </script>
{% endblock js %}
