{% extends "generic/object_list.html" %}

{% load bootstrap4 i18n workbench %}

{% block search-form-buttons %}
{{ block.super }}
<a href="{% querystring pdf=1 %}" class="btn btn-secondary" target="_blank">
  {% include 'svg/desktop-download.svg' %} PDF</a>
{% endblock %}

{% block objects %}
<div class="list-group list-group-flush">
  {% for invoice in object_list %}
  <a href="{{ invoice.get_absolute_url }}" class="list-group-item list-group-item-action px-0"
      title="{{ invoice.description }}">
    <span style="float:right" class="badge badge-{{ invoice.status_css }}">{{ invoice.pretty_status }}</span>
    <h5 class="mb-1">{{ invoice|h }}</h5>
    <div class="row">
      <div class="col-md-7">{{ invoice.contact|default:invoice.customer }}</div>
      <div class="col-md-2">{{ invoice.get_type_display }}</div>
      <div class="col-md-3 text-md-right">
        {{ invoice.total_excl_tax|currency }} exkl. /
        {{ invoice.total|currency }}
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
