{% extends "base.html" %}

{% load history i18n %}

{% block title %}{{ object }} - {{ view.meta.verbose_name_plural }} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-12">
  <h1>
    {{ object }}

    <a href="{{ object.urls.history }}" class="tiny-icons" data-toggle="ajaxmodal"
        title="{% trans 'History' %}">
      <i class="glyphicon glyphicon-time"></i>
    </a>
  </h1>

  <a href="{{ object.urls.pdf }}" class="btn btn-default">
    PDF
  </a>
  <a href="{{ object.urls.update }}" class="btn btn-default">
    {% trans 'Update' %}
  </a>
  <a href="{{ object.urls.delete }}" class="btn btn-danger">
    {% trans 'Delete' %}
  </a>

  <a href="{{ object.urls.history }}" class="btn btn-default" data-toggle="ajaxmodal">
    History
  </a>
</div>
</div>
{% endblock %}
