{% extends "base.html" %}
{% load i18n workbench %}

{% block title %}{% translate 'Reminders' %} - {{ block.super }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <h1>{% translate 'Reminders' %}</h1>

      <table class="table table-responsive-lg">
        <thead class="sticky">
          <tr>
            <th class="text-nowrap">{% translate 'invoice'|capfirst %}</th>
            <th class="text-nowrap"></th>
            <th class="text-nowrap text-right">{% translate 'Total excl. tax' %}</th>
            <th class="text-nowrap text-right">{% translate 'invoiced on'|capfirst %}</th>
            <th class="text-nowrap text-right">{% translate 'Last reminded on' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for customer, contact_invoices in nested.items %}
          {% for contact, invoices in contact_invoices.items %}
          <tr>
            <th colspan="1">{% link_or_none customer %}{% link_or_none contact %}</th>
            <td colspan="1">
              <a href="{% url 'invoices_dunning_letter' contact_id=contact.id %}">{% translate 'dunning letter' %}</a>
            </td>
            <td colspan="2"></td>
          </tr>
          {% for invoice in invoices %}
          <tr>
            <td>{% link_or_none invoice %}</td>
            <td><a href="{{ invoice.urls.pdf }}?disposition=attachment">PDF</a></td>
            <td class="text-nowrap text-right">{{ invoice.total_excl_tax|currency }}</td>
            <td class="text-nowrap text-right">{{ invoice.invoiced_on|local_date_format }}</td>
            <td class="text-nowrap text-right">
              {{ invoice.last_reminded_on|local_date_format|default:_("Not reminded yet") }}
              <form method="post" class="d-inline">
                {% csrf_token %}
                <input type="hidden" name="invoice" value="{{ invoice.pk }}">
                <button type="submit" class="btn btn-link px-0 py-0">{% translate 'today' %}</button>
              </form>
            </td>
          </tr>
          {% endfor %}
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}
