{% extends "modalform.html" %}

{% load bootstrap4 fineforms i18n workbench %}

{% block size %}modal-lg{% endblock %}

{% block title %}
{% if view.project %}{{ view.project.title }}{% else %}{{ block.super }}{% endif %}
{% endblock %}

{% block body %}
  {% include 'fineforms/warnings.html' %}
  {% ff_errors form %}
  {% ff_fields form fields='title,description' %}

  <div class="row">
    <div class="col-md-6">
      <div data-part data-autofill="{{ view.default_service_types }}">
        <h5>{% trans 'effort' %}</h5>
        {% ff_fields form fields='service_type,effort_type,effort_rate,effort_hours' %}
      </div>
    </div>
    <div class="col-md-6">
      <div data-part>
        <h5>{% trans 'cost' %}</h5>
        {% ff_fields form fields='cost,third_party_costs' %}
      </div>
    </div>
  </div>
{% endblock %}
