{% extends "base.html" %}

{% load history i18n %}

{% block title %}{{ project }} - {% trans "projects" %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-12">
  <h1>{{ project }}</h1>

  <div class="row">
    <div class="col-md-6">
      <h2>{% trans 'releases and stories' %}</h2>
      {% with overview=project.overview %}
      <p>
        <small>
          {{ overview.stats.hours }}h / {{ overview.stats.planning }}h
        </small>
      </p>

      <div class="list-group">
        {% for release, stories in overview.stories %}
          {% if release %}
            <div class="list-group-item">
              <h3 class="list-group-item-heading">{{ release }}</h3>
            </div>
          {% endif %}

          {% for story in stories %}
            <a class="list-group-item list-group-item-{{ story.css }}"
                href="{{ story.urls.detail }}" data-toggle="ajaxmodal">
              <h4 class="list-group-item-heading">{{ story }}</h4>
              <div class="list-group-item-text">
                {{ story.description }}
                <br>
                <small>
                  {{ story.stats.hours }}h / {{ story.stats.planning }}h
                </small>
              </div>
            </a>
          {% endfor %}
        {% endfor %}
      </div>
      {% endwith %}

      <a href="{{ project.urls.createstory }}" class="btn btn-default"
        data-toggle="ajaxmodal">{% trans 'create story' %}</a>
      <a href="{{ project.urls.createoffer }}" class="btn btn-default">
        {% trans 'create offer' %}</a>
      <a href="{{ project.urls.estimation }}" class="btn btn-default">
        {% trans 'estimation' %}</a>
      <a href="{{ project.urls.update }}" class="btn btn-default">
        {% trans 'Update' %}</a>
      <a href="{{ project.urls.delete }}" class="btn btn-danger">
        {% trans 'Delete' %}</a>

    </div>

    <div class="col-md-6">
      <a href="{% url 'activities_activity_create' %}?project={{ project.pk }}"
        class="btn btn-default pull-right"
        data-toggle="ajaxmodal">
        <span class="glyphicon glyphicon-plus"></span> {% trans 'activity' %}
      </a>
      <h2>{% trans 'activities' %}</h2>

      <table class="table">
        {% for activity in project.activities.all %}
          <tr class="{{ activity.css }}">
            <th>
              <a href="{{ activity.urls.detail }}" data-toggle="ajaxmodal">
                {{ activity }}
              </a>
            </th>
            <td>
              {{ activity.owned_by.get_full_name }}
            </td>
            <td>
              {{ activity.pretty_status }}
            </td>
          </tr>
        {% endfor %}
      </table>

      <h2>{% trans 'History' %}</h2>
      {% history project 'customer, contact, title, description, owned_by, status' %}
    </div>
  </div>

</div>
</div>
{% endblock %}
