{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ project }} - {% trans "projects" %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-12">
  <h1>{{ project }}</h1>

  <div class="row">
    <div class="col-md-4">
      <h2>{% trans 'releases and stories' %}</h2>
      {% with overview=project.overview %}
      <p>
        <small>
          {{ overview.stats.hours }}h / {{ overview.stats.planning }}h
        </small>
      </p>

      <div class="list-group">
        {% for story in overview.stories %}
          {% ifchanged story.release %}
            <div class="list-group-item">
              <h3 class="list-group-item-heading">{{ story.release }}</h3>
            </div>
          {% endifchanged %}

          <a class="list-group-item list-group-item-success"
              href="{{ story.urls.detail }}" data-toggle="ajaxmodal">
            <h4 class="list-group-item-heading">{{ story }}</h4>
            <div class="list-group-item-text">
              {{ story.description }}
              <br>
              <small>
                {{ story.stats.hours }}h / {{ story.stats.planning }}h
              </small>
            </div>
          </a>
        {% endfor %}
      </div>
      {% endwith %}
    </div>

    <div class="col-md-8">
    </div>
  </div>

  <a href="{{ project.urls.createstory }}" class="btn btn-default"
    data-toggle="ajaxmodal">{% trans 'create story' %}</a>
  <a href="{{ project.urls.update }}" class="btn btn-default">
    {% trans 'Update' %}</a>
  <a href="{{ project.urls.estimation }}" class="btn btn-default">
    {% trans 'estimation' %}</a>
</div>
</div>
{% endblock %}
