{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ project }} - {% trans "projects" %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-12">
  <h1>{{ project }}</h1>

  <h2>{% trans 'stories' %}</h2>
  {% for story in project.overview %}
    {% ifchanged story.release %}
      <h3>{{ story.release }}</h3>
    {% endifchanged %}
    <div class="well">
      <a class="btn btn-primary pull-right" data-toggle="ajaxmodal"
        href="{% url 'services_renderedservice_create' story=story.pk %}">Create</a>
      {{ story.title }}: {{ story.description }}<br>
      <small>
        {{ story.owned_by.all }}
        {{ story.get_status_display }}
      </small>
      <div class="row">
        <div class="col-md-6">
          <table class="table table-condensed">
            {% for service_type, estimated, offered, planning in story.required %}
              <tr>
                <th>{{ service_type }}</th>
                <td>{{ estimated }}h</td>
                <td>{{ offered }}h</td>
                <td>{{ planning }}h</td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div class="col-md-6">
          <table class="table table-condensed">
            {% for rendered_by, hours in story.rendered %}
              <tr>
                <th>{{ rendered_by }}</th>
                <td>{{ hours }}h</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  {% endfor %}
  {{ project.overall_effort }}
  {{ project.overall_hours }}

  <a href="{{ project.urls.update }}" class="btn btn-default">
    {% trans 'Update' %}
  </a>
</div>
</div>
{% endblock %}
